In [1]:
import pandas as pd
import numpy as np
import wrds
from pandas.tseries.offsets import MonthEnd, QuarterEnd, QuarterBegin
from dateutil import parser
import time
#!pip install seaborn
import seaborn as sns

from numpy.random import randint

In [11]:
# Finish the NoteBook according to the project instructions
# to query data based on a pandas dataframe, you might find the following code useful:

stmt="""
select VARIABLES
from SQL DATABASE
where cusip_id in {}
""".format(tuple(df.cusip_id))

NameError: name 'df' is not defined

In [39]:
conn = wrds.Connection()

Enter your WRDS username [Henry]:hchan1
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

1A daily yields

In [40]:
stmt="""
select cusip_id, trd_exctn_dt, trd_exctn_tm, yld_pt
from trace.trace
where cusip_id in {}
and (trd_exctn_dt between '2015-01-01' and '2017-12-31')
""".format(tuple(df.cusip_id))
data = conn.raw_sql(stmt)
data

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "{"
LINE 4: where cusip_id in {}
                          ^

[SQL:
select cusip_id, trd_exctn_dt, trd_exctn_tm, yld_pt
from trace.trace
where cusip_id in {}
and (trd_exctn_dt between '2015-01-01' and '2017-12-31')
]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
.format(tuple(df.cusip_id))
data = conn.raw_sql(stmt)
data

In [ ]:
stmt="""
select cusip_id

In [ ]:
stmt="""
select

START FROM HERE

After downloading data from WRDS, using BTDS file on TRACE

In [12]:
df1=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\bond_yields_pt1.csv')

In [13]:
df1_1=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\bond_yields_pt2.csv')

In [14]:
#Merged data as excel couldn't load it all
df2= df1.append(df1_1)

In [15]:
df2['trd_exctn_dt']= pd.to_datetime(df2['trd_exctn_dt'],format='%Y-%m-%d') #change date to datetime dtype

In [16]:
df2

,CUSIP_ID,yld_pt,bond_sym_id,company_symbol,trd_exctn_dt,trd_exctn_tm
0,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,07:57:03
1,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
2,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:29:00
3,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:34:48
4,037833BC3,NaN,AAPL4242662,AAPL,2015-05-07,12:37:44
...,...,...,...,...,...,...
426969,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426970,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:56
426971,984121CK7,NaN,XRX4217783,XRX,2017-12-28,12:08:57
426972,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11
426973,984121CK7,NaN,XRX4217783,XRX,2017-12-29,08:00:11

In [83]:
df2 = df2[df2['yld_pt'].notna()] #drop rows with no yields
df2 = df2.drop(columns=['bond_sym_id', 'company_symbol']) #drop bond symbol and company symbol columns.
df2 = df2.sort_values(by=['CUSIP_ID', 'trd_exctn_dt', 'trd_exctn_tm', 'yld_pt'], ascending=True) #sorted by cusip, date,time and yield
df2_ordered = df2
df2_ordered

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891065  00077TAB0  6.525827   2015-01-05     14:27:45
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891067  00077TAB0  6.786439   2015-01-06     10:23:34
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891069  00077TAB0  6.897267   2015-02-17     11:24:15
...           ...       ...          ...          ...
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3419    98934KAB6  3.009462   2017-12-04     09:27:55
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3420    98934KAB6  2.977512   2017-12-19     12:22:54
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[1150866 rows x 4 columns]

In [151]:
df2_ordered.head(20)

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891065  00077TAB0  6.525827   2015-01-05     14:27:45
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891067  00077TAB0  6.786439   2015-01-06     10:23:34
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891069  00077TAB0  6.897267   2015-02-17     11:24:15
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101168  00077TAB0  6.758606   2015-03-31     14:47:54
101169  00077TAB0  6.816467   2015-03-31     14:59:18
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101171  00077TAB0  6.029157   2015-04-24     12:10:55
101172  00077TAB0  6.029157   2015-04-24     12:10:55
101173  00077TAB0  6.404942   2015-06-04     11:17:07
101176  00077TAB0  6.484927   2015-06-10     11:09:56
101175  00077TAB0  6.489400   2015-06-10     11:09:56
101174  00077TAB0  6.492385   2015-06-10     11:09:56
101178  00077TAB0  6.839417   2015-07-07     14:35:19
101177  00077TAB0  6.901996   2015-07-07     14:35:19
101179  00077TAB0  7.269803   2015-07-22     12:50:00
101180  00077TAB0  7.232783   2015-07-22     13:19:30
101181  00077TAB0  6.815660   2015-07-22     13:30:00

In [134]:
#Dropped duplicate dates and kept last occurence
df3 = df2_ordered.drop_duplicates(subset=['CUSIP_ID', 'trd_exctn_dt'], keep='last')

In [135]:
df3

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
...           ...       ...          ...          ...
3402    98934KAB6  2.936286   2017-11-22     09:27:49
3406    98934KAB6  2.865028   2017-11-28     08:08:18
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[113786 rows x 4 columns]

In [153]:
df3.tail(30)

       CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
3315  98934KAB6  2.789420   2017-07-13     08:22:52
3317  98934KAB6  2.885692   2017-07-24     13:14:00
3318  98934KAB6  2.932360   2017-07-26     09:47:41
3322  98934KAB6  2.779914   2017-07-28     12:01:49
3325  98934KAB6  2.807131   2017-08-09     16:07:32
3330  98934KAB6  2.940203   2017-08-14     16:42:27
3337  98934KAB6  2.918947   2017-08-15     13:42:00
3339  98934KAB6  2.537497   2017-08-16     14:46:29
3344  98934KAB6  2.722454   2017-08-17     13:29:10
3346  98934KAB6  2.702104   2017-08-22     13:55:34
3347  98934KAB6  2.810028   2017-08-25     11:59:15
3349  98934KAB6  2.730190   2017-08-30     10:53:27
3352  98934KAB6  2.708122   2017-09-01     14:58:39
3354  98934KAB6  2.749127   2017-09-05     12:41:14
3356  98934KAB6  2.903598   2017-09-11     12:19:44
3358  98934KAB6  2.861977   2017-09-21     11:21:52
3360  98934KAB6  2.868741   2017-09-22     14:10:24
3380  98934KAB6  2.858460   2017-09-26     13:56:25
3386  98934KAB6  2.681392   2017-09-27     14:22:25
3388  98934KAB6  2.815534   2017-10-05     11:16:17
3392  98934KAB6  2.987818   2017-10-10     09:15:37
3393  98934KAB6  3.012574   2017-10-20     12:05:56
3395  98934KAB6  2.955087   2017-10-24     12:57:12
3398  98934KAB6  2.950375   2017-10-25     15:21:29
3400  98934KAB6  3.036031   2017-11-14     15:54:28
3402  98934KAB6  2.936286   2017-11-22     09:27:49
3406  98934KAB6  2.865028   2017-11-28     08:08:18
3417  98934KAB6  2.971758   2017-11-30     17:23:00
3418  98934KAB6  3.210928   2017-12-04     09:27:55
3421  98934KAB6  2.960962   2017-12-19     12:22:55

In [147]:
group4= df3.groupby('CUSIP_ID')

In [148]:
for group in group4:
    print(group)

('00077TAB0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
101173  00077TAB0  6.404942   2015-06-04     11:17:07
101174  00077TAB0  6.492385   2015-06-10     11:09:56
101177  00077TAB0  6.901996   2015-07-07     14:35:19
101192  00077TAB0  6.983620   2015-07-22     16:53:00
101194  00077TAB0  6.356157   2015-10-26     12:17:34
101195  00077TAB0  7.815135   2016-01-13     13:54:12
101197  00077TAB0  7.126389   2016-02-03     09:54:43
101200  00077TAB0  7.156942   2016-07-13     15:56:01
101203  00077TAB0  6.405120   2016-09-09     09:54:12
101205  00077TAB0  7.060839   2016-10-13     12:12:18
101208  00077TAB0  7.050131   2016-10-24     11:16:17
101210  00077TAB0  6.661874   2016-11-07     10:08:34
101212  00077TAB0  7.691116   2016-11-21     10:39:31
101215  00077TAB0  7.127901   2016-11-30     16:03:20
101217  00077TAB0  7.095580   2017-02-21     15:07:16
101218  00077TAB0  5.056698   2017-04-26     12:18:44
101219  00077TAB0  5.075557   2017-04-27     10:35:24
101220  00077TAB0  5.056503   2017-05-15     08:17:23
101221  00077TAB0  4.982207   2017-05-17     11:25:59
101223  00077TAB0  4.982186   2017-05-19     07:52:33
101224  00077TAB0  5.327666   2017-05-22     11:58:36
101227  00077TAB0  5.450286   2017-05-30     11:48:00
101230  00077TAB0  5.288855   2017-06-01     12:08:08
101231  00077TAB0  5.243308   2017-06-06     11:43:38
101232  00077TAB0  4.993223   2017-06-16     13:30:42
101236  00077TAB0  5.151789   2017-06-27     12:12:00
101241  00077TAB0  5.165521   2017-07-19     12:06:42
101244  00077TAB0  5.020352   2017-08-30     16:04:17
101246  00077TAB0  5.266048   2017-09-14     13:51:00
101248  00077TAB0  5.055978   2017-09-20     12:12:00
101250  00077TAB0  5.046612   2017-09-29     10:52:32
101252  00077TAB0  5.056046   2017-10-11     09:17:13
101254  00077TAB0  5.065454   2017-10-13     10:51:35
101256  00077TAB0  5.055614   2017-11-17     10:03:32
101262  00077TAB0  5.055604   2017-11-20     09:35:51
101267  00077TAB0  5.250523   2017-12-05     15:08:51
101270  00077TAB0  5.290617   2017-12-19     12:20:25)
('002799AJ3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891074  002799AJ3  1.281928   2015-01-05     15:47:40
891077  002799AJ3  1.067231   2015-01-06     14:38:39
891082  002799AJ3  1.560772   2015-01-07     14:44:00
891087  002799AJ3  1.159074   2015-01-08     12:28:53
891098  002799AJ3  1.029718   2015-01-09     15:34:25
...           ...       ...          ...          ...
892955  002799AJ3  3.129626   2016-04-14     16:39:56
892958  002799AJ3  0.789354   2016-04-15     16:22:55
892962  002799AJ3  1.774591   2016-04-18     16:05:08
892963  002799AJ3  3.923706   2016-04-19     12:01:06
892965  002799AJ3  3.957298   2016-04-25     09:56:08

[309 rows x 4 columns])
('02005NAR1',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
9496   02005NAR1  3.541637   2015-01-02     11:30:22
9502   02005NAR1  3.864063   2015-01-05     12:55:00
9506   02005NAR1  3.647442   2015-01-06     15:23:36
9509   02005NAR1  3.365026   2015-01-07     12:45:43
9521   02005NAR1  3.518755   2015-01-08     16:39:55
...          ...       ...          ...          ...
14219  02005NAR1  3.000451   2017-12-20     13:40:39
14226  02005NAR1  2.977892   2017-12-21     14:51:28
14230  02005NAR1  2.297193   2017-12-22     11:56:54
14231  02005NAR1  3.000372   2017-12-28     15:11:15
14237  02005NAR1  2.942209   2017-12-29     13:05:39

[709 rows x 4 columns])
('02005NBE9',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
14382  02005NBE9  3.338531   2015-11-05     17:07:00
14385  02005NBE9  3.472359   2015-11-06     13:57:00
14395  02005NBE9  3.383239   2015-11-09     17:14:21
14413  02005NBE9  3.181890   2015-11-10     16:25:00
14429  02005NBE9  2.948403   2015-11-12     16:30:00
...          ...       ...          ...          ...
19834  02005NBE9  2.569614   2017-12-22     12:55:38
19844  02005NBE9  3.174947   2017-12-26     15:55:26
19845  02005NBE9  2.924188   2017-12-27     10:08:21
19852  02005NBE9  2.943984   2017-12-28     14:29:56
19856  02005NBE9  2.550128   2017-12-29     11:06:13

[517 rows x 4 columns])
('02005NBF6',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
20246  02005NBF6  5.437004   2015-11-20     16:55:00
20286  02005NBF6  5.716582   2015-11-23     15:54:52
20318  02005NBF6  5.385911   2015-11-24     16:18:00
20327  02005NBF6  5.387754   2015-11-25     14:44:00
20329  02005NBF6  5.485303   2015-11-27     13:00:34
...          ...       ...          ...          ...
27045  02005NBF6  4.364634   2017-12-22     11:44:05
27048  02005NBF6  4.466179   2017-12-26     13:06:00
27050  02005NBF6  4.362950   2017-12-27     11:34:43
27051  02005NBF6  4.356804   2017-12-28     11:53:53
27053  02005NBF6  4.418811   2017-12-29     12:31:11

[523 rows x 4 columns])
('02209SAD5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
856348  02209SAD5  1.896475   2015-02-26     13:14:25
856748  02209SAD5  2.266002   2015-09-03     10:48:58
856872  02209SAD5  2.250611   2015-11-12     11:16:00
857147  02209SAD5  1.928491   2016-03-29     10:33:39
857404  02209SAD5  1.324814   2016-07-13     14:00:27
857458  02209SAD5  1.427676   2016-08-22     11:22:41
857770  02209SAD5  1.879559   2017-01-11     13:02:08
857923  02209SAD5  1.960684   2017-03-10     16:11:51
858108  02209SAD5  1.625917   2017-05-10     13:02:34
858270  02209SAD5  1.725608   2017-07-17     15:25:04)
('02209SAE3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
855782  02209SAE3  4.341000   2016-06-28     09:23:33
855935  02209SAE3  5.281186   2017-01-20     11:26:09
855956  02209SAE3  4.822774   2017-03-07     08:21:50
856038  02209SAE3  4.606940   2017-08-15     09:54:25)
('02209SAH6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
862611  02209SAH6  4.670988   2015-03-25     13:41:07
862712  02209SAH6  5.350042   2015-07-20     16:55:00
862809  02209SAH6  5.200979   2015-11-02     16:47:41
862827  02209SAH6  5.436505   2015-11-17     16:02:44
862841  02209SAH6  5.169981   2015-12-09     10:47:31
862895  02209SAH6  4.860953   2016-02-08     09:36:00
863004  02209SAH6  4.374986   2016-05-12     13:44:11
863140  02209SAH6  4.860478   2017-02-08     14:23:00)
('02209SAJ2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
859724  02209SAJ2  2.685885   2015-11-20     11:42:33
859827  02209SAJ2  2.801139   2016-01-04     15:07:00
859834  02209SAJ2  2.587130   2016-01-06     13:16:25
860236  02209SAJ2  1.560902   2016-05-10     13:24:32
860247  02209SAJ2  1.508757   2016-05-11     14:44:00
860592  02209SAJ2  1.491341   2016-09-21     14:32:00
861268  02209SAJ2  2.097882   2017-03-07     09:51:45
862125  02209SAJ2  1.814966   2017-09-12     14:40:18
862375  02209SAJ2  2.152232   2017-11-13     15:42:06
862494  02209SAJ2  2.286334   2017-12-18     14:35:41)
('02209SAM5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
874699  02209SAM5  4.375344   2015-01-05     11:36:51
874713  02209SAM5  4.391748   2015-01-06     16:11:57
874726  02209SAM5  4.237026   2015-01-07     14:48:24
874743  02209SAM5  4.290006   2015-01-08     15:04:59
874751  02209SAM5  4.336487   2015-01-09     15:19:10
...           ...       ...          ...          ...
877278  02209SAM5  4.015660   2017-12-19     16:07:00
877284  02209SAM5  4.067085   2017-12-20     15:45:40
877287  02209SAM5  4.014974   2017-12-21     14:30:45
877290  02209SAM5  4.034404   2017-12-22     12:28:08
877293  02209SAM5  3.969020   2017-12-28     09:35:40

[647 rows x 4 columns])
('02209SAN3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
863245  02209SAN3  3.139043   2015-01-02     14:03:57
863256  02209SAN3  3.047015   2015-01-05     13:30:28
863261  02209SAN3  3.015962   2015-01-06     16:03:08
863283  02209SAN3  2.989094   2015-01-07     16:04:33
863303  02209SAN3  3.073046   2015-01-08     17:01:11
...           ...       ...          ...          ...
874650  02209SAN3  2.772945   2017-12-22     13:02:40
874661  02209SAN3  2.721488   2017-12-26     15:19:57
874675  02209SAN3  2.667660   2017-12-27     14:42:04
874692  02209SAN3  2.608626   2017-12-28     16:08:36
874697  02209SAN3  2.557576   2017-12-29     12:09:23

[749 rows x 4 columns])
('02209SAP8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
877297  02209SAP8  3.132115   2015-01-05     13:10:41
877299  02209SAP8  3.114579   2015-01-06     16:44:38
877300  02209SAP8  3.210496   2015-01-08     11:40:23
877303  02209SAP8  3.157991   2015-01-09     13:05:18
877309  02209SAP8  3.110396   2015-01-12     14:38:34
...           ...       ...          ...          ...
879399  02209SAP8  2.830999   2017-12-20     15:57:27
879402  02209SAP8  2.861892   2017-12-21     12:48:34
879404  02209SAP8  2.864477   2017-12-22     04:27:00
879408  02209SAP8  2.743681   2017-12-26     12:06:07
879411  02209SAP8  2.731779   2017-12-28     14:06:54

[576 rows x 4 columns])
('02209SAQ6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
879414  02209SAQ6  4.356999   2015-01-05     11:53:10
879416  02209SAQ6  4.234169   2015-01-07     07:19:41
879418  02209SAQ6  4.360970   2015-01-08     15:32:25
879420  02209SAQ6  4.321016   2015-01-09     15:51:57
879421  02209SAQ6  4.380971   2015-01-12     11:08:47
...           ...       ...          ...          ...
880354  02209SAQ6  3.972022   2017-12-14     12:58:45
880355  02209SAQ6  3.925006   2017-12-15     09:29:51
880356  02209SAQ6  4.028003   2017-12-19     15:47:18
880357  02209SAQ6  4.086010   2017-12-20     10:18:07
880359  02209SAQ6  3.950240   2017-12-28     10:56:37

[431 rows x 4 columns])
('02209SAR4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
887068  02209SAR4  4.342989   2015-01-05     15:19:00
887072  02209SAR4  4.300020   2015-01-06     15:01:10
887077  02209SAR4  4.288976   2015-01-07     16:44:52
887099  02209SAR4  4.460016   2015-01-08     15:39:13
887106  02209SAR4  4.432993   2015-01-12     16:20:01
...           ...       ...          ...          ...
890887  02209SAR4  4.146976   2017-12-20     16:32:28
890891  02209SAR4  4.064022   2017-12-21     15:14:39
890894  02209SAR4  4.114426   2017-12-22     12:29:30
890895  02209SAR4  4.101766   2017-12-26     10:10:27
890901  02209SAR4  4.042003   2017-12-28     15:00:03

[715 rows x 4 columns])
('02209SAS2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
880365  02209SAS2  3.230051   2015-01-05     16:02:45
880370  02209SAS2  3.189043   2015-01-06     16:32:55
880375  02209SAS2  3.134944   2015-01-07     16:46:05
880390  02209SAS2  3.296048   2015-01-08     15:04:29
880394  02209SAS2  3.217016   2015-01-09     15:08:07
...           ...       ...          ...          ...
887042  02209SAS2  2.948989   2017-12-22     13:11:26
887051  02209SAS2  2.939138   2017-12-26     15:46:52
887055  02209SAS2  2.837156   2017-12-27     13:00:38
887060  02209SAS2  2.839067   2017-12-28     16:21:47
887062  02209SAS2  2.882171   2017-12-29     11:05:00

[742 rows x 4 columns])
('025816AY5',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
27736  025816AY5  1.938887   2015-01-02     15:08:28
27757  025816AY5  1.909200   2015-01-05     15:55:05
27767  025816AY5  1.825028   2015-01-06     17:09:52
27782  025816AY5  1.883071   2015-01-07     15:55:41
27789  025816AY5  1.901425   2015-01-08     15:55:35
...          ...       ...          ...          ...
39743  025816AY5  2.043163   2017-12-22     12:29:34
39764  025816AY5  1.776260   2017-12-26     15:57:37
39775  025816AY5  2.877217   2017-12-27     15:23:13
39814  025816AY5  1.419189   2017-12-28     15:50:48
39828  025816AY5  1.509499   2017-12-29     12:31:12

[750 rows x 4 columns])
('025816AZ2',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
39831  025816AZ2  4.120959   2015-02-09     13:28:28
39834  025816AZ2  4.319024   2015-02-13     08:07:35
39837  025816AZ2  4.330709   2015-02-17     10:52:41
39838  025816AZ2  4.326813   2015-02-24     14:00:31
39840  025816AZ2  4.381765   2015-03-02     16:33:42
...          ...       ...          ...          ...
40207  025816AZ2  4.263022   2017-10-31     10:03:29
40208  025816AZ2  4.144203   2017-11-06     10:57:06
40211  025816AZ2  4.230420   2017-11-09     15:03:10
40212  025816AZ2  4.289711   2017-11-29     11:00:47
40215  025816AZ2  4.178015   2017-12-04     14:24:08

[146 rows x 4 columns])
('025816BG3',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
40222  025816BG3  1.843877   2015-01-02     14:55:23
40232  025816BG3  1.933858   2015-01-05     15:12:40
40247  025816BG3  1.710816   2015-01-06     14:54:24
40256  025816BG3  1.802932   2015-01-07     15:44:10
40279  025816BG3  1.715028   2015-01-08     16:04:49
...          ...       ...          ...          ...
51537  025816BG3  1.854866   2017-12-22     13:33:47
51558  025816BG3  1.932713   2017-12-26     13:57:48
51570  025816BG3  1.960422   2017-12-27     16:43:36
51584  025816BG3  2.412846   2017-12-28     13:05:01
51592  025816BG3  1.919716   2017-12-29     12:02:06

[750 rows x 4 columns])
('030955AB4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
893142  030955AB4  6.068466   2015-01-02     13:46:00
893144  030955AB4  6.208312   2015-01-12     10:29:13
893147  030955AB4  2.496219   2015-03-02     10:25:15
893148  030955AB4  2.995511   2015-03-10     15:19:00
893150  030955AB4  2.876775   2015-03-31     16:29:53
893151  030955AB4  2.683177   2015-09-09     10:08:01
893152  030955AB4  2.522421   2015-09-10     10:20:26
893155  030955AB4  2.034312   2015-09-15     15:46:03
893159  030955AB4  3.861928   2015-09-17     09:19:18
893161  030955AB4  5.865875   2015-09-28     11:33:31
893163  030955AB4  3.514905   2015-10-02     11:12:28
893164  030955AB4  2.202964   2015-10-05     11:09:14
893168  030955AB4  1.600423   2015-10-13     10:47:46)
('037389AK9',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
27056  037389AK9  4.962662   2015-01-05     15:58:23
27057  037389AK9  4.916033   2015-01-06     13:09:57
27059  037389AK9  5.473826   2015-01-07     12:34:00
27065  037389AK9  4.914601   2015-01-08     15:59:07
27066  037389AK9  4.819672   2015-01-12     12:04:51
...          ...       ...          ...          ...
27715  037389AK9  4.107905   2017-11-30     12:57:25
27716  037389AK9  4.124560   2017-12-06     12:49:12
27719  037389AK9  4.350431   2017-12-11     14:12:35
27720  037389AK9  4.016470   2017-12-13     12:45:06
27725  037389AK9  4.254806   2017-12-20     11:29:11

[277 rows x 4 columns])
('05565QBT4',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
101271  05565QBT4   1.193891   2015-01-02     15:11:50
101272  05565QBT4   1.138796   2015-01-05     13:02:36
101284  05565QBT4   1.129954   2015-01-06     15:48:15
101285  05565QBT4   1.118243   2015-01-07     16:57:50
101288  05565QBT4   1.092031   2015-01-09     12:02:58
...           ...        ...          ...          ...
103625  05565QBT4   4.007462   2016-10-18     14:30:53
103635  05565QBT4   0.850016   2016-10-19     11:42:44
103636  05565QBT4   1.214597   2016-10-20     10:52:54
103639  05565QBT4   4.509002   2016-10-24     15:48:01
103646  05565QBT4  15.295766   2016-10-25     15:04:22

[415 rows x 4 columns])
('05565QCA4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
103648  05565QCA4  0.843883   2015-01-02     15:11:22
103651  05565QCA4  0.499890   2015-01-05     16:09:00
103652  05565QCA4  0.709571   2015-01-06     13:11:28
103654  05565QCA4  0.646961   2015-01-07     11:55:12
103655  05565QCA4  0.606096   2015-01-08     14:20:38
...           ...       ...          ...          ...
104227  05565QCA4  0.428541   2015-10-23     14:35:57
104230  05565QCA4  0.697667   2015-10-27     13:11:31
104231  05565QCA4  0.448025   2015-10-29     11:37:00
104234  05565QCA4  0.408379   2015-10-30     09:31:00
104235  05565QCA4  0.458413   2015-11-02     15:13:00

[168 rows x 4 columns])
('05565QDN5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
105992  05565QDN5  3.285010   2017-09-19     17:13:36
106010  05565QDN5  3.318049   2017-09-20     16:36:09
106043  05565QDN5  3.307016   2017-09-21     15:33:50
106046  05565QDN5  3.328032   2017-09-22     13:55:41
106054  05565QDN5  3.277040   2017-09-25     13:49:10
...           ...       ...          ...          ...
107203  05565QDN5  3.233629   2017-12-22     13:02:22
107218  05565QDN5  3.195522   2017-12-26     15:46:29
107232  05565QDN5  3.157776   2017-12-27     15:51:00
107245  05565QDN5  3.144848   2017-12-28     15:51:07
107251  05565QDN5  3.054247   2017-12-29     12:59:24

[71 rows x 4 columns])
('05565QDP0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
107258  05565QDP0  2.485001   2017-09-14     16:07:57
107368  05565QDP0  2.486032   2017-09-19     16:16:07
107385  05565QDP0  2.519972   2017-09-20     16:44:59
107389  05565QDP0  2.533697   2017-09-21     12:30:00
107393  05565QDP0  2.522946   2017-09-22     13:19:45
...           ...       ...          ...          ...
107697  05565QDP0  2.652991   2017-12-21     13:22:49
107700  05565QDP0  2.669962   2017-12-22     12:21:33
107702  05565QDP0  2.642014   2017-12-26     14:16:15
107705  05565QDP0  2.575986   2017-12-28     14:58:20
107706  05565QDP0  2.595966   2017-12-29     08:13:02

[64 rows x 4 columns])
('05565QDR6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
105572  05565QDR6  1.686695   2017-09-19     14:28:00
105575  05565QDR6  1.759176   2017-09-20     15:01:52
105581  05565QDR6  1.793193   2017-09-21     14:15:22
105583  05565QDR6  1.725119   2017-09-22     12:02:31
105587  05565QDR6  1.757065   2017-09-25     15:15:58
...           ...       ...          ...          ...
105747  05565QDR6  2.090217   2017-12-20     16:34:54
105756  05565QDR6  2.143347   2017-12-21     13:23:20
105758  05565QDR6  2.121044   2017-12-26     13:39:59
105759  05565QDR6  2.159168   2017-12-27     12:37:40
105764  05565QDR6  1.888932   2017-12-28     13:34:26

[61 rows x 4 columns])
('06048WMW7',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
53913  06048WMW7  4.814747   2015-01-07     11:31:55
53916  06048WMW7  4.899916   2015-01-09     13:57:28
53918  06048WMW7  4.976330   2015-01-14     14:28:58
53920  06048WMW7  4.800668   2015-01-20     11:51:05
53923  06048WMW7  4.902186   2015-01-21     15:44:08
53925  06048WMW7  4.781898   2015-01-27     11:18:06
53929  06048WMW7  4.782430   2015-01-29     16:15:16
53931  06048WMW7  4.944423   2015-01-30     14:29:36
53935  06048WMW7  4.782945   2015-02-02     15:48:34
53938  06048WMW7  4.805003   2015-02-03     09:57:50)
('06050WEX9',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
53801  06050WEX9  2.738905   2015-02-10     11:50:00
53803  06050WEX9  1.410238   2015-02-19     13:43:39
53806  06050WEX9  2.062597   2015-02-23     15:46:28
53808  06050WEX9  1.826231   2015-02-26     15:39:22
53809  06050WEX9  2.403687   2015-03-05     16:47:37
53811  06050WEX9  1.633642   2015-03-06     08:00:08
53813  06050WEX9  2.004340   2015-03-26     11:33:06
53815  06050WEX9  2.824273   2015-04-06     16:00:05
53819  06050WEX9  1.102047   2015-04-07     10:40:04
53820  06050WEX9  2.533845   2015-04-10     10:47:26
53824  06050WEX9  1.911614   2015-04-13     08:46:59
53827  06050WEX9  2.125586   2015-04-22     10:42:47
53828  06050WEX9  2.521541   2015-05-08     11:42:44
53833  06050WEX9  1.716263   2015-05-11     10:01:21
53834  06050WEX9  2.441231   2015-06-09     11:52:00
53836  06050WEX9  2.442571   2015-06-19     16:20:15
53839  06050WEX9  1.414593   2015-06-26     15:31:05
53840  06050WEX9  0.933462   2015-08-10     13:57:45
53842  06050WEX9  2.073789   2015-08-11     08:48:21
53845  06050WEX9  1.924927   2015-09-23     15:52:41
53851  06050WEX9  1.241638   2015-09-24     14:50:11
53853  06050WEX9  1.313890   2015-09-25     12:42:12
53854  06050WEX9  0.769737   2015-09-29     09:30:19

66529  06738JMT8  0.701650   2015-04-23     12:04:11)
('06738JVA9',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
73547  06738JVA9  1.606782   2015-03-16     15:47:27
73549  06738JVA9  0.937553   2015-03-23     09:23:38
73552  06738JVA9  1.073450   2015-03-24     10:28:33
73553  06738JVA9  1.063386   2015-04-10     12:23:59
73558  06738JVA9  1.666677   2015-06-30     09:02:18
73561  06738JVA9  1.000668   2015-09-29     12:54:23
73562  06738JVA9  1.842981   2016-02-22     11:01:39
73565  06738JVA9  1.010022   2016-02-24     15:00:57
73567  06738JVA9  2.071606   2016-07-20     13:16:19)
('06738JZB3',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
73574  06738JZB3  2.583174   2015-01-21     15:36:25
73578  06738JZB3  2.869833   2015-05-14     09:57:49
73582  06738JZB3  2.610199   2015-07-24     15:44:56
73584  06738JZB3  2.975458   2015-08-06     13:08:10
73600  06738JZB3  2.787605   2015-08-07     15:51:48
73606  06738JZB3  2.787215   2015-08-10     13:03:48
73619  06738JZB3  2.526806   2016-04-26     16:33:05
73621  06738JZB3  2.524799   2016-04-27     09:14:43
73624  06738JZB3  2.900014   2016-09-27     12:26:08
73637  06738JZB3  2.506457   2016-09-28     14:38:51
73648  06738JZB3  2.390984   2016-09-29     15:09:10
73651  06738JZB3  3.572441   2017-05-30     12:20:08
73652  06738JZB3  2.344760   2017-05-31     09:25:00
73655  06738JZB3  2.058050   2017-07-21     10:34:15
73657  06738JZB3  3.330133   2017-12-21     09:58:07)
('06739FHT1',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
78071  06739FHT1  2.041894   2015-01-02     08:52:21
78072  06739FHT1  2.117040   2015-01-05     09:19:09
78077  06739FHT1  1.998011   2015-01-06     16:40:39
78090  06739FHT1  1.998067   2015-01-07     16:41:50
78094  06739FHT1  1.976071   2015-01-08     16:09:34
...          ...       ...          ...          ...
78645  06739FHT1  2.150110   2016-01-04     08:13:09
78648  06739FHT1  1.919163   2016-01-05     16:06:13
78652  06739FHT1  1.877188   2016-01-06     13:42:59
78654  06739FHT1  1.873596   2016-01-13     10:15:43
78657  06739FHT1  1.873910   2016-01-14     12:46:39

[191 rows x 4 columns])
('06739FHV6',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
79324  06739FHV6  3.296046   2015-01-02     15:18:05
79327  06739FHV6  3.233979   2015-01-05     15:09:22
79330  06739FHV6  3.152861   2015-01-06     16:44:30
79333  06739FHV6  3.169001   2015-01-07     12:14:55
79334  06739FHV6  3.196051   2015-01-08     10:24:56
...          ...       ...          ...          ...
80192  06739FHV6  3.398988   2015-12-28     15:35:23
80193  06739FHV6  3.450051   2015-12-30     10:49:34
80201  06739FHV6  3.192021   2016-01-04     15:48:00
80208  06739FHV6  3.063786   2016-01-06     17:07:33
80209  06739FHV6  3.140038   2016-01-07     11:16:34

[222 rows x 4 columns])
('06739GAR0',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
66661  06739GAR0  2.220970   2015-02-26     14:30:57
66858  06739GAR0  2.534097   2015-05-18     13:51:48
67019  06739GAR0  2.472976   2015-08-07     11:15:57
67201  06739GAR0  2.159480   2015-12-10     08:48:00
67254  06739GAR0  2.184475   2016-01-25     12:26:29
67298  06739GAR0  2.650079   2016-02-26     10:55:47
67762  06739GAR0  1.623741   2017-05-09     11:17:10)
('06739GBB4',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
67953  06739GBB4  1.026660   2015-01-02     12:50:33
67963  06739GBB4  0.588718   2015-01-05     12:47:00
67971  06739GBB4  0.934405   2015-01-06     12:43:31
67972  06739GBB4  1.190772   2015-01-07     14:46:20
67978  06739GBB4  0.450273   2015-01-08     15:38:00
67985  06739GBB4  0.454004   2015-01-09     16:49:36
67986  06739GBB4  0.721767   2015-01-13     11:32:49
67990  06739GBB4  0.220992   2015-01-14     11:15:01
67998  06739GBB4  0.500000   2015-01-16     14:31:26
68001  06739GBB4  0.485619   2015-01-20     10:22:40
68006  06739GBB4  0.440930   2015-01-22     14:07:02
68023  06739GBB4  0.800000   2015-01-23     15:01:17
68028  06739GBB4  0.450431   2015-01-26     14:52:47
68032  06739GBB4  0.547797   2015-01-27     13:28:13
68038  06739GBB4  0.604575   2015-01-28     13:31:06
68040  06739GBB4  0.498848   2015-01-29     12:48:57
68046  06739GBB4  0.603172   2015-01-30     15:36:48
68049  06739GBB4  1.482680   2015-02-02     15:34:07
68051  06739GBB4  0.955726   2015-02-03     14:31:11
68055  06739GBB4  0.513861   2015-02-04     12:52:20
68058  06739GBB4  0.939937   2015-02-05     14:25:55
68066  06739GBB4  1.033678   2015-02-06     13:48:23
68070  06739GBB4  0.693051   2015-02-09     13:07:02
68072  06739GBB4  0.451507   2015-02-10     10:13:38
68074  06739GBB4  0.471152   2015-02-11     11:45:19
68082  06739GBB4  0.734587   2015-02-12     16:20:32
68084  06739GBB4  0.485847   2015-02-13     15:48:03
68093  06739GBB4  0.399653   2015-02-17     16:06:39
68095  06739GBB4  0.342557   2015-02-18     10:43:10
68102  06739GBB4  2.031905   2015-02-19     15:19:21
68103  06739GBB4  0.378504   2015-02-20     12:04:00
68104  06739GBB4  0.384770   2015-02-23     15:44:12
68105  06739GBB4  0.392990   2015-02-24     07:46:45
68106  06739GBB4  0.435692   2015-02-25     16:53:07
68107  06739GBB4  0.309330   2015-02-27     11:17:38
68108  06739GBB4  6.098353   2015-03-02     15:37:13
68118  06739GBB4  0.533714   2015-03-03     13:10:33
68122  06739GBB4  0.403930   2015-03-04     15:38:12
68127  06739GBB4  8.292474   2015-03-05     17:23:00
68131  06739GBB4  0.579712   2015-03-06     15:36:43
68136  06739GBB4  0.468146   2015-03-09     13:36:42
68137  06739GBB4  0.508068   2015-03-10     07:22:32
68139  06739GBB4  0.405859   2015-03-13     13:50:02
68140  06739GBB4  0.412052   2015-03-16     14:22:17
68151  06739GBB4  0.543659   2015-03-17     11:12:55
68152  06739GBB4  3.830696   2015-03-19     11:53:29
68154  06739GBB4  0.588639   2015-03-20     15:39:24
68163  06739GBB4  0.544743   2015-03-23     14:33:24
68167  06739GBB4  0.541523   2015-03-24     15:12:37
68168  06739GBB4  0.899758   2015-03-25     13:43:01
68169  06739GBB4  0.798835   2015-03-26     09:06:48
68171  06739GBB4  0.951794   2015-03-27     13:42:00
68173  06739GBB4  0.990033   2015-03-30     11:44:00
68184  06739GBB4  0.647388   2015-03-31     13:04:08
68191  06739GBB4  0.944116   2015-04-01     15:58:00
68192  06739GBB4  0.364903   2015-04-02     09:18:00)
('06739GBP3',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
68397  06739GBP3  2.879226   2015-02-03     15:38:17
68716  06739GBP3  3.209719   2015-03-23     10:07:31
68898  06739GBP3  2.917506   2015-04-15     11:12:00
68977  06739GBP3  2.600092   2015-04-24     15:15:10
69107  06739GBP3  3.447323   2015-05-19     10:21:24
69275  06739GBP3  3.049344   2015-06-12     11:41:16
69377  06739GBP3  2.899831   2015-06-29     15:55:00
69929  06739GBP3  2.536091   2015-10-07     17:01:00
69982  06739GBP3  2.991025   2015-10-16     03:39:38
70405  06739GBP3  2.673675   2016-01-19     12:23:00
70943  06739GBP3  3.645460   2016-05-23     11:55:21
71063  06739GBP3  3.268534   2016-06-09     16:54:28
71205  06739GBP3  3.611800   2016-06-29     12:51:57
71419  06739GBP3  2.765096   2016-08-10     15:00:44
71509  06739GBP3  3.009032   2016-08-25     13:51:00
71609  06739GBP3  2.602638   2016-09-22     11:05:25
71722  06739GBP3  2.605795   2016-10-26     16:47:29
71813  06739GBP3  3.649242   2016-11-28     13:26:02
72116  06739GBP3  3.386099   2017-01-31     15:19:37
72268  06739GBP3  2.986039   2017-03-06     08:33:33
72471  06739GBP3  3.038012   2017-04-25     15:50:43
72632  06739GBP3  2.798456   2017-05-30     10:16:46
72794  06739GBP3  3.108254   2017-07-05     11:40:30
73053  06739GBP3  3.513608   2017-09-18     09:31:29
73072  06739GBP3  2.363832   2017-09-20     16:22:07
73317  06739GBP3  2.783952   2017-11-08     09:59:45)
('06740L8C2',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
73800  06740L8C2  6.086011   2015-01-05     13:41:19
73805  06740L8C2  6.572219   2015-01-06     13:09:00
73807  06740L8C2  6.046099   2015-01-07     11:16:55
73821  06740L8C2  6.007550   2015-01-08     17:00:00
73839  06740L8C2  5.988085   2015-01-09     15:56:24
...          ...       ...          ...          ...
78030  06740L8C2  4.466761   2017-12-19     12:33:53
78041  06740L8C2  4.317188   2017-12-20     15:38:52
78051  06740L8C2  4.555503   2017-12-21     11:18:39
78057  06740L8C2  4.733626   2017-12-26     12:07:54
78058  06740L8C2  4.635559   2017-12-27     11:28:37

[666 rows x 4 columns])
('06741JS26',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
73659  06741JS26  0.429099   2015-01-02     09:57:54
73666  06741JS26  0.409082   2015-01-06     11:34:39
73668  06741JS26  0.512500   2015-01-08     13:42:32
73670  06741JS26  0.427401   2015-01-09     09:02:28
73672  06741JS26  0.688059   2015-01-13     14:07:08
73673  06741JS26  0.505478   2015-01-14     12:59:30
73675  06741JS26  0.361662   2015-01-20     10:49:00
73677  06741JS26  0.819245   2015-01-21     10:18:31
73679  06741JS26  0.814669   2015-01-22     11:11:21
73682  06741JS26  0.750003   2015-01-23     14:46:00
73685  06741JS26  0.315726   2015-01-26     14:04:09
73687  06741JS26  0.365925   2015-01-27     14:56:41
73690  06741JS26  0.362240   2015-01-28     14:02:28
73691  06741JS26  0.582186   2015-01-29     11:12:44
73694  06741JS26  0.339083   2015-01-30     13:27:00
73696  06741JS26  0.623960   2015-02-05     15:19:25
73700  06741JS26  0.561257   2015-02-06     11:25:06
73701  06741JS26  0.350014   2015-02-09     07:49:47
73704  06741JS26  0.617615   2015-02-10     15:04:00
73708  06741JS26  0.345273   2015-02-11     15:49:13
73709  06741JS26  0.257430   2015-02-12     15:31:00
73711  06741JS26  0.463643   2015-02-18     08:53:21)
('06741RGF2',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
78062  06741RGF2  3.502639   2016-08-09     15:33:12
78064  06741RGF2  3.230610   2017-10-18     09:26:33
78066  06741RGF2  3.743068   2017-11-10     12:29:36
78069  06741RGF2  3.403632   2017-11-17     15:59:23)
('073902CD8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
852947  073902CD8  1.553329   2015-01-06     14:51:00
852948  073902CD8  1.549039   2015-01-07     10:24:00
852952  073902CD8  2.184235   2015-01-08     10:47:03
852957  073902CD8  1.841227   2015-01-15     15:57:40
852959  073902CD8  1.916963   2015-01-16     16:07:45
...           ...       ...          ...          ...
855161  073902CD8  2.010899   2017-12-20     13:41:35
855180  073902CD8  1.951818   2017-12-21     15:48:12
855185  073902CD8  1.929868   2017-12-22     13:12:20
855197  073902CD8  2.077315   2017-12-26     15:00:52
855203  073902CD8  1.769771   2017-12-27     15:42:09

[564 rows x 4 columns])
('073902KF4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
829004  073902KF4  0.530001   2015-01-05     09:25:27
829010  073902KF4  0.656461   2015-01-07     16:09:33
829018  073902KF4  2.379603   2015-01-08     15:11:02
829028  073902KF4  0.762331   2015-01-09     15:22:00
829031  073902KF4  1.238877   2015-01-12     14:23:00
...           ...       ...          ...          ...
829941  073902KF4  0.674262   2015-10-15     16:15:22
829943  073902KF4  1.551503   2015-10-16     16:03:28
829945  073902KF4  0.397989   2015-10-19     15:10:00
829946  073902KF4  0.691724   2015-10-21     13:28:43
829949  073902KF4  0.200684   2015-10-23     15:10:34

[184 rows x 4 columns])
('073902PN2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
829957  073902PN2  1.548000   2015-01-05     15:39:35
829966  073902PN2  1.571999   2015-01-06     17:11:21
829975  073902PN2  1.549091   2015-01-07     15:41:51
829982  073902PN2  1.851934   2015-01-08     15:33:12
829991  073902PN2  1.453957   2015-01-09     16:42:35
...           ...       ...          ...          ...
836610  073902PN2  1.430821   2017-01-10     15:52:45
836617  073902PN2  1.547401   2017-01-11     16:05:00
836621  073902PN2  1.547268   2017-01-13     15:53:23
836622  073902PN2  2.072727   2017-01-17     15:02:42
836625  073902PN2  1.547202   2017-01-18     10:32:07

[511 rows x 4 columns])
('073902PR3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
836629  073902PR3  1.859964   2015-01-02     15:51:53
836642  073902PR3  1.869055   2015-01-05     15:05:29
836647  073902PR3  1.738919   2015-01-06     16:32:44
836652  073902PR3  1.783981   2015-01-07     15:53:35
836664  073902PR3  1.762795   2015-01-08     16:08:17
...           ...       ...          ...          ...
844252  073902PR3  6.212252   2017-09-20     15:24:00
844253  073902PR3  1.467750   2017-09-21     09:20:26
844257  073902PR3  6.108981   2017-09-22     11:30:09
844265  073902PR3  8.581487   2017-09-25     16:14:00
844269  073902PR3  3.412146   2017-09-26     14:38:58

[682 rows x 4 columns])
('073902RU4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
844282  073902RU4  1.957011   2015-01-02     16:56:13
844289  073902RU4  2.045953   2015-01-05     16:02:24
844306  073902RU4  2.003020   2015-01-06     15:17:22
844309  073902RU4  1.895587   2015-01-07     15:20:47
844312  073902RU4  1.980856   2015-01-08     14:50:19
...           ...       ...          ...          ...
851469  073902RU4  2.236729   2017-06-30     14:53:42
851472  073902RU4  1.753481   2017-07-03     13:08:28
851488  073902RU4  1.650110   2017-07-05     16:09:38
852424  073902RU4  1.611236   2017-10-24     15:33:17
852834  073902RU4  1.780413   2017-12-18     11:25:43

[629 rows x 4 columns])
('079867AQ0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
893169  079867AQ0  0.010695   2015-01-20     17:13:00
893179  079867AQ0  4.442568   2015-05-20     15:42:42
893182  079867AQ0  3.517758   2015-05-21     09:49:42
893183  079867AQ0  2.555263   2015-09-22     10:21:00
893185  079867AQ0  0.934327   2015-10-26     12:07:15
893186  079867AQ0  3.119923   2015-10-28     11:54:49
893189  079867AQ0  0.948351   2015-10-29     10:12:35)
('084670BG2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
107850  084670BG2  0.716779   2015-01-06     11:26:52
107856  084670BG2  0.608316   2015-01-09     15:10:17
107858  084670BG2  0.453681   2015-01-13     11:21:58
107860  084670BG2  0.456742   2015-01-15     13:32:33
107861  084670BG2  0.501213   2015-01-21     13:37:00
...           ...       ...          ...          ...
108196  084670BG2  0.656282   2016-01-08     16:25:44
108198  084670BG2  0.531420   2016-01-11     15:35:00
108199  084670BG2  0.976625   2016-01-15     12:31:45
108201  084670BG2  0.824640   2016-01-26     12:25:15
108202  084670BG2  0.761117   2016-01-28     13:22:34

[130 rows x 4 columns])
('084670BL1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
108206  084670BL1  1.813030   2015-01-02     12:46:11
108211  084670BL1  1.681136   2015-01-05     15:16:54
108222  084670BL1  1.567137   2015-01-06     15:38:28
108228  084670BL1  1.831025   2015-01-07     17:00:23
108235  084670BL1  1.817044   2015-01-08     12:43:25
...           ...       ...          ...          ...
113766  084670BL1  2.088054   2017-12-22     12:20:27
113774  084670BL1  2.076117   2017-12-26     15:22:09
113781  084670BL1  2.079859   2017-12-27     13:42:00
113791  084670BL1  1.957353   2017-12-28     15:11:00
113794  084670BL1  1.878266   2017-12-29     12:44:21

[735 rows x 4 columns])
('14040HAX3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
452946  14040HAX3  1.195747   2015-01-02     13:46:44
452949  14040HAX3  1.208754   2015-01-05     15:50:51
452951  14040HAX3  1.235303   2015-01-06     09:59:38
452953  14040HAX3  1.102082   2015-01-07     12:20:19
452954  14040HAX3  1.131998   2015-01-08     14:09:37
...           ...       ...          ...          ...
455431  14040HAX3  0.797564   2016-07-05     12:57:44
455432  14040HAX3  1.019182   2016-07-06     16:20:05
455435  14040HAX3  1.211050   2016-07-07     15:03:41
455437  14040HAX3  0.974702   2016-07-08     12:45:20
455438  14040HAX3  0.856571   2016-07-12     09:10:47

[370 rows x 4 columns])
('14040HAY1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
455449  14040HAY1  2.901122   2015-01-05     16:15:42
455457  14040HAY1  2.821030   2015-01-06     15:55:25
455466  14040HAY1  2.752982   2015-01-07     15:47:43
455485  14040HAY1  2.753058   2015-01-08     16:06:31
455488  14040HAY1  2.788018   2015-01-09     15:34:14
...           ...       ...          ...          ...
464906  14040HAY1  2.750026   2017-12-22     13:07:40
464930  14040HAY1  2.737728   2017-12-26     15:46:41
464947  14040HAY1  2.705947   2017-12-27     16:03:49
464960  14040HAY1  2.709918   2017-12-28     14:47:00
464963  14040HAY1  2.738064   2017-12-29     10:47:27

[747 rows x 4 columns])
('14912HPK0',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
452336  14912HPK0  24.418355   2015-04-08     12:30:18
452339  14912HPK0   1.498169   2015-05-06     12:31:27)
('165167CQ8',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
452744  165167CQ8  21.092963   2015-12-30     13:29:00
452750  165167CQ8  22.782455   2015-12-31     12:18:01
452782  165167CQ8  22.963158   2016-01-04     16:52:35
452849  165167CQ8  21.692560   2016-01-05     17:16:29
452891  165167CQ8  21.815002   2016-01-06     17:17:31
452945  165167CQ8  22.130609   2016-01-07     15:10:40)
('170032AT3',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
465302  170032AT3   4.166327   2015-01-02     14:28:01
465303  170032AT3   4.574514   2015-01-05     15:56:29
465307  170032AT3   4.175915   2015-01-06     15:29:00
465311  170032AT3   4.247801   2015-01-07     16:25:21
465314  170032AT3   4.809623   2015-01-08     15:26:18
...           ...        ...          ...          ...
465860  170032AT3   4.180899   2016-06-29     10:12:11
465866  170032AT3   4.180414   2016-06-30     14:52:19
465868  170032AT3  49.784134   2016-07-08     13:41:56
465871  170032AT3  68.391926   2016-07-14     12:26:07
465876  170032AT3  13.021224   2016-08-02     14:28:48

[161 rows x 4 columns])
('172967AL5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
178372  172967AL5  4.103924   2015-01-06     15:11:52
178373  172967AL5  3.719009   2015-01-09     11:50:05
178377  172967AL5  3.635686   2015-01-14     14:56:09
178378  172967AL5  3.720953   2015-01-16     10:09:28
178379  172967AL5  3.848612   2015-01-20     16:35:49
...           ...       ...          ...          ...
179002  172967AL5  3.604066   2017-12-12     13:33:02
179006  172967AL5  3.848012   2017-12-14     16:36:07
179009  172967AL5  3.581379   2017-12-15     15:29:23
179013  172967AL5  3.561860   2017-12-18     13:19:05
179016  172967AL5  3.910920   2017-12-21     11:58:48

[192 rows x 4 columns])
('172967DE8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
144032  172967DE8  0.853681   2015-02-10     14:27:17
144070  172967DE8  0.839874   2015-02-25     10:39:12
144193  172967DE8  1.159214   2015-04-13     15:55:44
144468  172967DE8  1.207520   2015-07-07     09:54:53)
('172967DY4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
145093  172967DY4  1.230177   2015-01-26     14:10:29
145281  172967DY4  1.729592   2015-02-13     12:06:30
145659  172967DY4  1.238230   2015-03-27     13:08:43
146850  172967DY4  1.426502   2015-10-08     10:19:13
147592  172967DY4  2.157571   2016-02-29     15:01:07
147666  172967DY4  2.028636   2016-03-11     16:53:26
148529  172967DY4  1.554789   2016-09-07     14:22:00)
('172967EC1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
149703  172967EC1  4.298761   2015-02-09     16:11:41
150187  172967EC1  4.421649   2016-06-17     14:38:01
150315  172967EC1  4.543487   2016-09-30     12:37:07
150389  172967EC1  4.812168   2016-11-14     08:44:29
150706  172967EC1  4.623550   2017-07-13     16:08:00
150853  172967EC1  4.448709   2017-11-14     11:39:40)
('172967EH0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
151725  172967EH0  1.742064   2015-09-15     10:11:40
151815  172967EH0  1.562985   2015-10-15     15:39:33
152004  172967EH0  1.796107   2015-12-21     12:54:41
152852  172967EH0  1.548432   2016-09-02     12:40:58
152942  172967EH0  1.565402   2016-09-27     15:11:00

('172967FT3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
129487  172967FT3  2.862181   2015-01-02     15:25:42
129499  172967FT3  2.912118   2015-01-05     15:54:28
129516  172967FT3  2.825994   2015-01-06     16:00:54
129530  172967FT3  2.854234   2015-01-07     15:53:20
129540  172967FT3  2.879165   2015-01-08     16:50:33
...           ...       ...          ...          ...
141983  172967FT3  3.035039   2017-12-22     13:54:09
142002  172967FT3  2.808036   2017-12-26     15:45:50
142026  172967FT3  2.756008   2017-12-27     15:50:58
142046  172967FT3  2.819138   2017-12-28     15:50:02
142054  172967FT3  2.785007   2017-12-29     13:06:20

[750 rows x 4 columns])
('172967FW6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
179023  172967FW6  1.518917   2015-01-02     13:41:59
179035  172967FW6  1.515572   2015-01-05     15:53:29
179059  172967FW6  1.479829   2015-01-06     16:00:43
179085  172967FW6  1.473923   2015-01-07     16:22:14
179093  172967FW6  1.425101   2015-01-08     14:53:54
...           ...       ...          ...          ...
186505  172967FW6  0.549810   2016-12-30     12:17:04
186512  172967FW6  2.504977   2017-01-03     14:52:57
186515  172967FW6  1.183702   2017-01-04     13:11:48
186527  172967FW6  1.535893   2017-01-06     11:57:31
186529  172967FW6  1.535893   2017-01-09     12:53:20

[502 rows x 4 columns])
('172967FX4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
142057  172967FX4  4.126986   2015-01-05     14:55:41
142060  172967FX4  4.151562   2015-01-06     16:30:47
142064  172967FX4  4.199010   2015-01-07     16:10:41
142066  172967FX4  4.171991   2015-01-08     09:02:47
142067  172967FX4  4.111004   2015-01-09     11:50:06
...           ...       ...          ...          ...
143928  172967FX4  3.946022   2017-12-20     09:29:28
143932  172967FX4  3.926993   2017-12-21     15:26:45
143934  172967FX4  3.885819   2017-12-22     12:01:27
143935  172967FX4  3.868011   2017-12-26     14:01:13
143936  172967FX4  3.899984   2017-12-27     08:44:35

[596 rows x 4 columns])
('172967FY2',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
186531  172967FY2   2.060925   2015-01-02     13:34:47
186537  172967FY2   1.402302   2015-01-05     15:15:14
186544  172967FY2   1.412833   2015-01-06     16:51:16
186546  172967FY2   0.825619   2015-01-07     11:30:01
186547  172967FY2   0.541999   2015-01-08     12:07:09
186555  172967FY2   0.735979   2015-01-09     16:09:47
186567  172967FY2   0.739814   2015-01-12     15:56:23
186574  172967FY2   0.534682   2015-01-14     12:09:22
186585  172967FY2   0.683434   2015-01-15     15:40:00
186586  172967FY2   0.528314   2015-01-16     11:12:10
186595  172967FY2   0.657151   2015-01-20     16:01:49
186596  172967FY2   0.493705   2015-01-21     16:48:57
186601  172967FY2   0.920918   2015-01-22     14:31:01
186603  172967FY2   0.776756   2015-01-23     11:03:17
186606  172967FY2   0.651189   2015-01-27     12:55:00
186609  172967FY2   2.167454   2015-01-28     15:34:12
186617  172967FY2   0.459259   2015-01-29     15:34:23
186623  172967FY2   0.153696   2015-01-30     15:35:14
186629  172967FY2   0.865765   2015-02-02     16:37:32
186644  172967FY2   2.524285   2015-02-03     16:30:00
186651  172967FY2   4.683838   2015-02-04     13:54:31
186658  172967FY2   0.354472   2015-02-05     13:34:21
186659  172967FY2   0.338315   2015-02-06     11:13:27
186662  172967FY2   1.052675   2015-02-09     14:25:15
186669  172967FY2   0.783110   2015-02-10     15:00:08
186671  172967FY2   0.511610   2015-02-11     11:13:35
186680  172967FY2   1.220134   2015-02-12     15:46:55
186684  172967FY2   0.374322   2015-02-13     15:53:39
186686  172967FY2   1.061318   2015-02-16     14:10:26
186694  172967FY2   0.365206   2015-02-17     15:36:43
186702  172967FY2   0.811792   2015-02-18     14:46:37
186708  172967FY2   0.305967   2015-02-19     10:28:25
186714  172967FY2   0.250127   2015-02-20     12:39:36
186717  172967FY2   0.229822   2015-02-23     13:46:11
186724  172967FY2  15.039293   2015-02-24     16:45:00
186726  172967FY2   0.128302   2015-02-25     12:12:00)
('172967GB1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
186809  172967GB1  0.506311   2015-01-23     16:11:48
187462  172967GB1  0.709986   2015-06-04     16:02:58
187637  172967GB1  0.800918   2015-07-29     14:28:58)
('172967GG0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
187756  172967GG0  0.795925   2015-02-05     11:00:21
187774  172967GG0  0.970926   2015-02-17     15:35:32
187955  172967GG0  0.465296   2015-04-16     09:12:13
187984  172967GG0  0.535209   2015-04-28     12:22:00
188469  172967GG0  0.549010   2015-09-30     11:54:40)
('172967GK1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
188746  172967GK1  3.441085   2015-01-02     13:26:46
188753  172967GK1  3.393662   2015-01-05     15:52:37
188770  172967GK1  3.413087   2015-01-06     14:58:00
188795  172967GK1  3.330902   2015-01-07     16:19:07
188809  172967GK1  3.247647   2015-01-08     15:48:00
...           ...       ...          ...          ...
199299  172967GK1  3.085229   2017-12-21     15:55:11
199301  172967GK1  3.188134   2017-12-26     12:49:50
199310  172967GK1  2.748306   2017-12-27     15:58:28
199313  172967GK1  3.046891   2017-12-28     11:28:40
199319  172967GK1  3.033467   2017-12-29     10:42:38

[751 rows x 4 columns])
('172967GL9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
199329  172967GL9  3.151942   2015-01-05     14:01:09
199334  172967GL9  3.004982   2015-01-06     14:16:45
199341  172967GL9  3.045942   2015-01-07     16:35:54
199347  172967GL9  3.004009   2015-01-08     16:25:08
199350  172967GL9  2.990030   2015-01-09     13:39:56
...           ...       ...          ...          ...
203410  172967GL9  2.569752   2017-12-21     12:19:27
203416  172967GL9  2.762830   2017-12-22     12:59:39
203420  172967GL9  2.745945   2017-12-26     12:38:00
203425  172967GL9  2.725622   2017-12-28     14:14:20
203426  172967GL9  3.003744   2017-12-29     09:50:40

[697 rows x 4 columns])
('172967GP0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
203427  172967GP0  1.149089   2015-01-06     15:20:09
203429  172967GP0  1.135297   2015-01-08     14:10:39
203434  172967GP0  1.003042   2015-01-09     15:34:14
203437  172967GP0  1.007351   2015-01-12     12:56:07
203439  172967GP0  0.750001   2015-01-14     16:48:00
...           ...       ...          ...          ...
204748  172967GP0  0.973908   2016-03-17     15:42:52
204753  172967GP0  0.755219   2016-03-18     12:36:20
204763  172967GP0  1.196344   2016-03-22     16:48:00
204766  172967GP0  0.218582   2016-03-23     14:36:46
204770  172967GP0  1.291651   2016-03-24     11:55:53

[259 rows x 4 columns])
('172967GS4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
205047  172967GS4  1.873094   2015-01-02     12:18:38
205057  172967GS4  1.934985   2015-01-05     16:12:07
205065  172967GS4  1.921937   2015-01-06     15:53:09
205074  172967GS4  1.929913   2015-01-07     15:32:49
205090  172967GS4  1.873059   2015-01-08     16:06:51
...           ...       ...          ...          ...
214201  172967GS4  2.777082   2017-12-22     12:38:58
214211  172967GS4  1.983184   2017-12-26     15:09:22
214222  172967GS4  1.804290   2017-12-27     13:22:12
214223  172967GS4  2.015538   2017-12-28     09:14:14
214232  172967GS4  1.646882   2017-12-29     12:37:38

[748 rows x 4 columns])
('172967GT2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
214246  172967GT2  3.673373   2015-01-02     15:36:02
214279  172967GT2  3.668057   2015-01-05     16:04:41
214307  172967GT2  3.637101   2015-01-06     15:55:50
214335  172967GT2  3.548378   2015-01-07     16:32:03
214359  172967GT2  3.669404   2015-01-08     15:41:07
...           ...       ...          ...          ...
228642  172967GT2  3.188957   2017-12-22     11:24:58
228653  172967GT2  3.111633   2017-12-26     15:57:10
228669  172967GT2  3.141036   2017-12-27     15:19:20
228687  172967GT2  3.191018   2017-12-28     15:52:28
228695  172967GT2  3.067006   2017-12-29     13:38:02

[757 rows x 4 columns])
('172967GW5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
228705  172967GW5  1.201293   2015-01-05     15:02:11
228712  172967GW5  1.240927   2015-01-06     14:51:50
228726  172967GW5  1.235150   2015-01-07     15:04:14
228738  172967GW5  1.156835   2015-01-08     15:58:12
228751  172967GW5  1.124984   2015-01-09     15:06:28
...           ...       ...          ...          ...
231362  172967GW5  0.849990   2016-07-06     16:59:51
231370  172967GW5  1.073955   2016-07-13     13:24:49
231374  172967GW5  1.150444   2016-07-14     16:04:07
231376  172967GW5  0.971871   2016-07-15     11:19:30
231378  172967GW5  0.852812   2016-07-21     09:45:14

[347 rows x 4 columns])
('172967HA2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
242801  172967HA2  4.690354   2015-01-05     17:22:38
242803  172967HA2  4.624992   2015-01-06     15:51:13
242806  172967HA2  4.608997   2015-01-07     12:46:57
242809  172967HA2  4.745976   2015-01-08     15:17:17
242813  172967HA2  4.674024   2015-01-12     13:35:46
...           ...       ...          ...          ...
244241  172967HA2  4.240011   2017-12-19     11:02:47
244242  172967HA2  4.300989   2017-12-20     10:43:36
244243  172967HA2  4.245309   2017-12-21     04:33:00
244244  172967HA2  4.226005   2017-12-26     10:59:23
244245  172967HA2  4.155000   2017-12-28     09:40:02

[527 rows x 4 columns])
('172967HB0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
231861  172967HB0  4.096064   2015-01-02     15:25:00
231868  172967HB0  4.182401   2015-01-05     11:49:10
231871  172967HB0  4.045002   2015-01-06     12:22:04
231888  172967HB0  4.117613   2015-01-07     16:16:05
231899  172967HB0  3.881269   2015-01-08     16:10:44
...           ...       ...          ...          ...
242762  172967HB0  3.678235   2017-12-22     12:30:27
242765  172967HB0  3.669153   2017-12-26     15:48:46
242778  172967HB0  3.556076   2017-12-27     15:08:46
242790  172967HB0  3.582943   2017-12-28     14:56:57
242797  172967HB0  3.414789   2017-12-29     12:11:32

[749 rows x 4 columns])
('172967HC8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
244251  172967HC8  1.775828   2015-01-02     15:47:07
244260  172967HC8  2.061106   2015-01-05     15:05:09
244270  172967HC8  2.014997   2015-01-06     15:52:58
244279  172967HC8  2.008001   2015-01-07     16:08:27
244289  172967HC8  2.000127   2015-01-08     16:24:51
...           ...       ...          ...          ...
261645  172967HC8  2.095122   2017-12-22     13:06:58
261742  172967HC8  2.096341   2017-12-26     15:49:59
261775  172967HC8  1.952063   2017-12-27     16:10:13
261827  172967HC8  2.071037   2017-12-28     16:16:00
261833  172967HC8  2.362759   2017-12-29     12:51:07

[751 rows x 4 columns])
('172967HD6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
261842  172967HD6  3.275308   2015-01-02     15:59:32
261859  172967HD6  3.317201   2015-01-05     15:54:27
261866  172967HD6  3.227589   2015-01-06     15:49:25
261878  172967HD6  3.209402   2015-01-07     15:53:10
261894  172967HD6  3.267014   2015-01-08     16:04:40
...           ...       ...          ...          ...
273095  172967HD6  3.021537   2017-12-22     13:01:58
273099  172967HD6  3.027785   2017-12-26     15:46:52
273112  172967HD6  2.972534   2017-12-27     16:10:55
273129  172967HD6  2.986238   2017-12-28     15:53:25
273136  172967HD6  2.982916   2017-12-29     12:52:41

[751 rows x 4 columns])
('172967HE4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
273139  172967HE4  4.050982   2015-01-06     12:59:33
273141  172967HE4  4.037020   2015-01-07     14:52:58
273144  172967HE4  4.121009   2015-01-08     16:47:18
273146  172967HE4  4.084001   2015-01-09     14:53:30
273147  172967HE4  4.021025   2015-01-12     15:23:38
...           ...       ...          ...          ...
273788  172967HE4  4.603991   2016-11-30     14:06:55
273790  172967HE4  4.594175   2016-12-01     09:58:06
273791  172967HE4  4.475127   2016-12-05     08:05:47
273794  172967HE4  4.447085   2016-12-09     08:07:13
273795  172967HE4  4.557029   2016-12-12     14:11:10

[273 rows x 4 columns])
('172967HG9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
273838  172967HG9  1.244542   2015-01-02     12:48:17
273842  172967HG9  1.048462   2015-01-05     14:47:18
273850  172967HG9  1.256979   2015-01-06     16:11:30
273855  172967HG9  1.508594   2015-01-07     15:18:04
273872  172967HG9  1.320175   2015-01-08     15:51:40
...           ...       ...          ...          ...
277708  172967HG9  1.121800   2016-11-03     14:59:40
277710  172967HG9  1.232245   2016-11-04     14:58:41
277715  172967HG9  1.189687   2016-11-07     16:08:22
277721  172967HG9  0.933954   2016-11-08     15:11:24
277723  172967HG9  1.291651   2016-11-09     11:30:01

[431 rows x 4 columns])
('172967HK0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
277873  172967HK0  1.602393   2015-01-02     15:35:24
277878  172967HK0  1.564993   2015-01-05     15:25:40
277884  172967HK0  1.453126   2015-01-06     15:06:20
277891  172967HK0  1.503996   2015-01-07     15:53:51
277894  172967HK0  1.502868   2015-01-08     15:24:51
...           ...       ...          ...          ...
283015  172967HK0  0.941712   2017-02-17     16:09:18
283016  172967HK0  0.901136   2017-02-22     14:59:32
283017  172967HK0  0.834600   2017-02-23     14:55:45
283018  172967HK0  1.085759   2017-02-28     16:00:31
283020  172967HK0  1.341049   2017-03-03     15:51:04

[521 rows x 4 columns])
('172967HM6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
284576  172967HM6  2.247952   2015-01-05     15:00:09
284578  172967HM6  2.234955   2015-01-06     15:07:04
284584  172967HM6  2.169824   2015-01-07     14:15:09
284586  172967HM6  2.181899   2015-01-08     10:10:13
284598  172967HM6  2.019300   2015-01-12     16:12:02
...           ...       ...          ...          ...
292738  172967HM6  2.153882   2017-12-22     12:20:51
292749  172967HM6  2.336030   2017-12-26     15:46:02
292763  172967HM6  2.188970   2017-12-27     15:42:37
292777  172967HM6  2.466951   2017-12-28     15:51:44
292778  172967HM6  1.842031   2017-12-29     09:55:08

[746 rows x 4 columns])
('172967HS3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
293031  172967HS3  4.628515   2015-01-02     16:32:00
293036  172967HS3  4.604985   2015-01-05     14:02:14
293059  172967HS3  4.623976   2015-01-06     15:55:49
293065  172967HS3  4.651989   2015-01-07     11:06:25
293067  172967HS3  4.665023   2015-01-08     12:42:21
...           ...       ...          ...          ...
295000  172967HS3  4.795418   2016-12-05     14:45:55
295004  172967HS3  4.858024   2016-12-06     16:20:47
295006  172967HS3  4.776322   2016-12-07     14:35:20
295007  172967HS3  4.881054   2016-12-15     10:26:37
295009  172967HS3  4.977014   2016-12-16     11:19:47

[436 rows x 4 columns])
('172967HT1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
295518  172967HT1  3.378039   2015-01-02     14:54:36
295537  172967HT1  3.381002   2015-01-05     15:40:04
295550  172967HT1  3.297033   2015-01-06     16:01:03
295559  172967HT1  3.266051   2015-01-07     16:25:12
295572  172967HT1  3.340932   2015-01-08     16:14:52
...           ...       ...          ...          ...
301016  172967HT1  3.087068   2017-12-22     13:09:59
301022  172967HT1  3.048536   2017-12-26     13:19:26
301029  172967HT1  3.114980   2017-12-27     12:17:50
301035  172967HT1  3.128054   2017-12-28     15:37:12
301036  172967HT1  3.121054   2017-12-29     10:21:33

[730 rows x 4 columns])
('172967HU8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
301046  172967HU8  2.423417   2015-01-02     15:36:41
301071  172967HU8  2.421055   2015-01-05     15:59:15
301082  172967HU8  2.329309   2015-01-06     15:32:36
301104  172967HU8  2.409718   2015-01-07     16:09:47
301119  172967HU8  2.344043   2015-01-08     17:06:29
...           ...       ...          ...          ...
310966  172967HU8  2.354848   2017-12-22     12:23:58
310969  172967HU8  2.324317   2017-12-26     14:35:08
310972  172967HU8  2.316931   2017-12-27     11:27:51
310974  172967HU8  2.293979   2017-12-28     14:42:46
310979  172967HU8  2.170354   2017-12-29     13:47:24

[746 rows x 4 columns])
('172967HV6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
310983  172967HV6  3.874590   2015-01-02     14:01:31
311005  172967HV6  3.900781   2015-01-05     15:50:31
311023  172967HV6  3.832408   2015-01-06     16:44:35
311047  172967HV6  3.807367   2015-01-07     15:21:38
311067  172967HV6  3.830912   2015-01-08     16:11:55
...           ...       ...          ...          ...
327327  172967HV6  3.366275   2017-12-21     15:44:17
327333  172967HV6  3.206595   2017-12-26     14:43:38
327354  172967HV6  3.228255   2017-12-27     15:33:17
327359  172967HV6  3.290043   2017-12-28     14:17:53
327363  172967HV6  3.339691   2017-12-29     12:22:32

[747 rows x 4 columns])
('172967HY0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
327365  172967HY0  1.666080   2015-01-02     10:02:00
327370  172967HY0  1.623940   2015-01-05     15:32:10
327375  172967HY0  1.558885   2015-01-06     16:00:48
327379  172967HY0  1.562090   2015-01-07     15:32:55
327380  172967HY0  1.570822   2015-01-08     15:38:57
...           ...       ...          ...          ...
333719  172967HY0  0.109157   2017-08-01     15:40:14
333735  172967HY0  1.473792   2017-08-02     15:54:16
333739  172967HY0  1.478906   2017-08-03     13:27:30
333741  172967HY0  1.538343   2017-08-07     15:46:41
333745  172967HY0  1.419171   2017-08-09     16:20:04

[646 rows x 4 columns])
('172967JE2',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
333749  172967JE2   1.781071   2015-01-02     10:28:40
333755  172967JE2   1.724919   2015-01-05     16:38:49
333763  172967JE2   1.764117   2015-01-06     15:11:13
333770  172967JE2   1.749876   2015-01-07     16:43:39
333774  172967JE2   1.769163   2015-01-08     16:53:16
...           ...        ...          ...          ...
343100  172967JE2   1.298462   2017-11-10     09:32:26
343113  172967JE2   4.294921   2017-11-13     15:39:14
343115  172967JE2  15.709843   2017-11-14     13:35:31
343121  172967JE2  16.613173   2017-11-15     12:19:09
343124  172967JE2   1.833418   2017-11-16     11:54:33

[708 rows x 4 columns])
('172967JH5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
343839  172967JH5  1.876124   2015-02-06     16:19:29
343895  172967JH5  1.897013   2015-02-09     16:11:16
343931  172967JH5  1.837029   2015-02-10     15:52:54
343951  172967JH5  1.870223   2015-02-11     16:06:22
343972  172967JH5  2.044502   2015-02-12     16:16:32
...           ...       ...          ...          ...
360050  172967JH5  2.900722   2017-12-22     12:16:52
360072  172967JH5  5.800860   2017-12-26     15:46:53
360083  172967JH5  0.099118   2017-12-27     15:41:19
360092  172967JH5  6.099323   2017-12-28     15:50:35
360099  172967JH5  5.332391   2017-12-29     13:00:39

[729 rows x 4 columns])
('172967JJ1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
360491  172967JJ1  2.470093   2015-02-19     14:59:26
360508  172967JJ1  2.495296   2015-02-20     15:03:01
360530  172967JJ1  2.445427   2015-02-23     16:25:18
360553  172967JJ1  2.371000   2015-02-24     16:54:36
360579  172967JJ1  2.356295   2015-02-25     16:21:46
...           ...       ...          ...          ...
372174  172967JJ1  2.716094   2017-12-22     13:17:03
372191  172967JJ1  2.520551   2017-12-26     15:50:03
372192  172967JJ1  2.454888   2017-12-27     08:06:38
372201  172967JJ1  2.490093   2017-12-28     15:23:48
372209  172967JJ1  2.280131   2017-12-29     14:08:28

[718 rows x 4 columns])
('172967JN2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
372242  172967JN2  1.796978   2015-04-22     16:58:00
372429  172967JN2  1.778984   2015-04-28     15:22:10

('172967KB6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
436752  172967KB6  2.600074   2015-10-26     22:26:00
436785  172967KB6  2.578398   2015-10-27     16:07:26
436802  172967KB6  2.639151   2015-10-28     20:40:51
436844  172967KB6  2.678200   2015-10-29     16:14:30
436872  172967KB6  2.644096   2015-10-30     16:41:28
...           ...       ...          ...          ...
450380  172967KB6  2.575582   2017-12-22     12:29:00
450399  172967KB6  2.525813   2017-12-26     15:47:01
450408  172967KB6  2.524954   2017-12-27     15:28:16
450426  172967KB6  2.578901   2017-12-28     15:36:00
450432  172967KB6  2.464654   2017-12-29     12:34:46

[552 rows x 4 columns])
('174610AC9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
452414  174610AC9  4.193011   2016-10-19     17:09:59
452434  174610AC9  4.168996   2016-10-20     16:00:27
452451  174610AC9  4.022645   2016-10-21     14:23:53
452453  174610AC9  4.535961   2017-01-17     11:02:23
452454  174610AC9  3.885045   2017-05-19     10:02:54
452458  174610AC9  3.764322   2017-05-23     13:55:20
452459  174610AC9  3.792181   2017-05-24     12:25:13
452461  174610AC9  3.788042   2017-05-25     12:33:32
452465  174610AC9  3.718657   2017-05-30     14:29:31
452467  174610AC9  3.538082   2017-05-31     16:15:20
452470  174610AC9  3.734270   2017-06-01     09:48:32
452477  174610AC9  3.677314   2017-06-05     09:53:25
452478  174610AC9  3.700064   2017-06-08     10:10:22
452485  174610AC9  3.630164   2017-06-14     16:24:03
452488  174610AC9  3.671785   2017-06-19     11:30:11
452493  174610AC9  3.658215   2017-06-21     15:19:36
452498  174610AC9  3.723314   2017-06-28     15:56:10
452504  174610AC9  3.774434   2017-06-29     15:08:36
452516  174610AC9  3.830884   2017-07-03     10:22:18
452520  174610AC9  3.769505   2017-07-12     12:27:19
452524  174610AC9  3.680133   2017-08-15     15:13:36
452525  174610AC9  3.712462   2017-09-27     15:56:16
452529  174610AC9  4.028107   2017-10-11     12:13:53
452531  174610AC9  3.763695   2017-10-31     11:57:02
452533  174610AC9  3.474340   2017-11-22     13:33:39
452535  174610AC9  3.853780   2017-12-07     17:01:06
452538  174610AC9  3.706938   2017-12-11     16:06:16)
('174610AL9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
452544  174610AL9  4.051057   2016-04-26     16:33:21
452554  174610AL9  4.013067   2016-04-27     16:22:08
452555  174610AL9  4.007080   2016-04-29     11:07:57
452562  174610AL9  4.002035   2016-05-02     16:03:00
452567  174610AL9  3.882043   2016-05-16     16:25:32
452575  174610AL9  3.850241   2016-05-17     11:08:00
452580  174610AL9  3.956635   2016-05-18     16:04:00
452583  174610AL9  4.000044   2016-05-19     12:03:52
452585  174610AL9  3.999979   2016-05-20     12:13:57
452586  174610AL9  4.015972   2016-05-25     16:56:25
452587  174610AL9  3.935053   2016-06-01     12:09:04
452588  174610AL9  3.840950   2016-06-09     15:41:30
452589  174610AL9  3.800992   2016-06-10     12:39:01
452590  174610AL9  3.562619   2016-06-13     14:12:40
452593  174610AL9  3.546028   2016-06-17     11:27:14
452595  174610AL9  3.808226   2016-06-20     10:29:40
452597  174610AL9  3.670050   2016-06-29     13:01:20
452599  174610AL9  3.694852   2016-07-18     13:21:47
452600  174610AL9  3.714941   2016-07-20     10:33:22
452601  174610AL9  3.742938   2016-07-21     15:57:12
452602  174610AL9  3.754976   2016-07-22     16:32:42
452604  174610AL9  4.261053   2016-12-14     11:14:51
452606  174610AL9  4.400074   2016-12-15     10:50:56
452608  174610AL9  4.360059   2016-12-19     15:03:34
452610  174610AL9  4.245030   2017-01-24     15:12:25
452612  174610AL9  4.198973   2017-01-31     12:19:33
452614  174610AL9  4.109937   2017-02-09     16:16:59
452617  174610AL9  3.591631   2017-02-13     15:10:52
452618  174610AL9  3.793929   2017-04-04     14:10:48
452619  174610AL9  3.823062   2017-04-18     09:14:22
452620  174610AL9  3.889078   2017-05-10     13:47:06
452621  174610AL9  3.799973   2017-06-14     11:11:38
452622  174610AL9  3.656061   2017-06-22     10:52:28
452623  174610AL9  3.620987   2017-06-23     12:12:20
452625  174610AL9  3.683074   2017-07-12     14:59:32
452626  174610AL9  3.477001   2017-09-07     12:18:47
452629  174610AL9  3.661962   2017-09-19     10:06:23
452632  174610AL9  3.525912   2017-09-20     08:03:25
452633  174610AL9  3.753000   2017-10-05     13:53:02
452634  174610AL9  3.616001   2017-11-06     13:51:03
452635  174610AL9  3.691918   2017-11-17     12:22:09
452637  174610AL9  3.987677   2017-11-20     13:30:54
452639  174610AL9  4.189024   2017-12-05     12:58:39
452640  174610AL9  3.796960   2017-12-20     16:19:24)
('184502AD4',          CUSIP_ID      yld_pt trd_exctn_dt trd_exctn_tm
452349  184502AD4   10.787230   2015-01-05     16:10:21
452360  184502AD4   12.086124   2015-01-06     16:45:08
452361  184502AD4   10.195659   2015-01-07     09:55:09
452366  184502AD4   10.306291   2015-01-08     15:54:27
452370  184502AD4   10.902470   2015-01-09     13:29:10
...           ...         ...          ...          ...
828973  184502AD4  289.936161   2017-12-19     13:48:11
828976  184502AD4  279.251897   2017-12-21     16:38:07
828988  184502AD4  228.044601   2017-12-26     10:21:29
828989  184502AD4  289.499258   2017-12-27     15:54:36
829003  184502AD4  246.798332   2017-12-29     13:40:16

[448 rows x 4 columns])
('190441AW5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
855205  190441AW5  8.150737   2015-06-17     14:41:48
855209  190441AW5  6.996690   2015-06-22     10:59:46
855211  190441AW5  8.101622   2016-02-11     10:02:01
855212  190441AW5  6.674572   2016-09-08     15:02:34
855214  190441AW5  5.871846   2017-04-27     13:43:00
855216  190441AW5  5.578513   2017-04-28     15:55:21
855219  190441AW5  5.415285   2017-11-29     11:25:52
855223  190441AW5  5.000007   2017-12-14     14:45:59)
('197677AG2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
826440  197677AG2  6.239171   2015-01-05     15:16:07
826441  197677AG2  6.236879   2015-01-13     13:38:00
826442  197677AG2  6.304519   2015-01-14     13:34:00
826443  197677AG2  5.811543   2015-01-15     11:18:54
826444  197677AG2  6.112001   2015-01-20     11:12:57
...           ...       ...          ...          ...
827006  197677AG2  5.332275   2017-12-01     14:39:00
827013  197677AG2  5.702777   2017-12-08     14:46:42
827014  197677AG2  5.857135   2017-12-12     13:46:50
827020  197677AG2  5.764582   2017-12-14     13:21:12
827022  197677AG2  5.480793   2017-12-28     12:35:40

[255 rows x 4 columns])
('20451PKM7',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
66125  20451PKM7  1.916117   2015-01-02     13:16:07
66127  20451PKM7  1.954836   2015-01-05     12:36:38
66128  20451PKM7  1.886162   2015-01-12     09:49:48
66129  20451PKM7  1.798143   2015-01-15     09:37:55
66130  20451PKM7  1.785860   2015-01-16     11:44:34
...          ...       ...          ...          ...
66516  20451PKM7  1.697233   2017-08-03     11:32:43
66517  20451PKM7  1.964390   2017-08-07     14:00:48
66518  20451PKM7  1.830068   2017-08-08     15:03:08
66519  20451PKM7  1.757631   2017-08-09     10:56:52
66521  20451PKM7  1.758258   2017-08-15     13:36:15

[199 rows x 4 columns])
('212485AE6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
474080  212485AE6  0.355972   2015-01-13     17:14:12
474083  212485AE6  0.462350   2015-02-03     16:42:42
474084  212485AE6  0.466496   2015-02-06     13:55:25
474087  212485AE6  0.483522   2015-02-12     11:30:42
474088  212485AE6  0.482091   2015-02-18     14:57:16
474090  212485AE6  0.672266   2015-02-19     13:57:24
474091  212485AE6  0.807430   2015-02-20     13:55:37
474092  212485AE6  1.424840   2015-03-23     15:03:29
474096  212485AE6  1.472310   2015-04-10     16:38:41
474098  212485AE6  1.484214   2015-04-13     14:50:08
474104  212485AE6  1.550892   2015-05-13     16:32:29
474105  212485AE6  1.652394   2015-05-15     13:23:08
474110  212485AE6  1.972434   2015-06-16     15:39:26
474112  212485AE6  2.013237   2015-10-08     15:45:57
474114  212485AE6  2.273465   2015-10-26     16:03:54
474116  212485AE6  2.440287   2015-10-28     13:35:10
474120  212485AE6  2.443700   2015-12-17     15:41:02
474122  212485AE6  2.098190   2016-01-29     16:56:38
474127  212485AE6  2.011071   2016-02-12     14:45:03
474129  212485AE6  2.172819   2016-02-22     11:34:59
474131  212485AE6  3.141150   2016-04-19     12:04:39
474133  212485AE6  3.136898   2016-04-20     13:58:56
474135  212485AE6  2.870440   2016-04-25     15:59:45
474137  212485AE6  3.256500   2016-05-13     14:35:54
474139  212485AE6  3.473968   2016-06-07     12:44:44
474141  212485AE6  3.199375   2016-08-08     14:28:31
474143  212485AE6  3.853311   2016-08-11     11:00:25
474145  212485AE6  4.234983   2016-09-06     14:00:20
474146  212485AE6  4.066087   2016-10-14     14:17:31
474147  212485AE6  4.126891   2016-10-28     10:56:09
474149  212485AE6  2.965065   2016-11-30     15:46:06
474151  212485AE6  2.977595   2017-01-06     16:00:32
474153  212485AE6  3.098590   2017-01-25     11:48:40
474155  212485AE6  2.535773   2017-02-15     15:42:16
474159  212485AE6  2.810763   2017-02-22     13:18:38
474161  212485AE6  1.963116   2017-02-23     13:56:46
474164  212485AE6  1.849139   2017-03-01     15:34:14
474166  212485AE6  1.386448   2017-03-06     14:50:13
474169  212485AE6  1.421635   2017-03-14     11:34:41
474171  212485AE6  1.228435   2017-03-24     11:49:26
474173  212485AE6  1.109356   2017-03-27     13:48:36
474174  212485AE6  1.308895   2017-04-04     13:50:15
474175  212485AE6  1.504992   2017-04-07     14:51:15
474176  212485AE6  1.860785   2017-04-24     15:53:58
474178  212485AE6  2.070952   2017-04-27     15:17:51
474179  212485AE6  2.201151   2017-05-08     15:25:14
474181  212485AE6  2.695242   2017-05-09     15:34:02
474185  212485AE6  2.569293   2017-05-10     16:03:56
474187  212485AE6  2.544713   2017-05-11     11:20:00
474189  212485AE6  2.874320   2017-06-13     14:25:59
474190  212485AE6  2.608154   2017-07-19     16:05:32
474192  212485AE6  3.460047   2017-09-28     15:56:32
474194  212485AE6  3.564629   2017-10-03     13:27:17
474198  212485AE6  3.505362   2017-10-06     14:05:05
474200  212485AE6  3.472483   2017-10-16     15:43:07
474201  212485AE6  2.735313   2017-11-16     12:28:47)
('22541HCC4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
465909  22541HCC4  2.156763   2015-01-02     12:43:22
465910  22541HCC4  2.422391   2015-01-05     12:50:00
465914  22541HCC4  2.373811   2015-01-06     12:55:50
465931  22541HCC4  2.010050   2015-01-07     17:34:29
465940  22541HCC4  2.174002   2015-01-08     14:42:19
...           ...       ...          ...          ...
470617  22541HCC4  1.693286   2017-03-09     15:37:53
470626  22541HCC4  1.254190   2017-03-10     16:34:18
470640  22541HCC4  1.969163   2017-03-13     15:54:17
470659  22541HCC4  1.977815   2017-03-14     16:08:13
472320  22541HCC4  6.817830   2017-12-15     13:46:27

[531 rows x 4 columns])
('22541LAR4',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
465884  22541LAR4  11.058330   2015-01-05     16:28:24
465888  22541LAR4   0.307520   2015-01-06     16:21:54
465889  22541LAR4   0.658975   2015-01-07     15:24:12
465891  22541LAR4   0.424664   2015-01-08     09:56:43
465895  22541LAR4   0.541802   2015-01-09     15:18:58
465900  22541LAR4   4.760887   2015-01-12     14:22:22
465902  22541LAR4   0.190362   2015-01-13     09:32:00
465904  22541LAR4   0.190361   2015-01-14     12:05:21)
('225434AG4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
472497  225434AG4  0.945427   2015-02-06     11:44:32
472635  225434AG4  0.645935   2015-03-20     12:18:55
473476  225434AG4  0.982191   2016-02-11     12:48:24)
('24422ERQ4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
495118  24422ERQ4  3.116632   2015-01-02     15:35:58
495121  24422ERQ4  3.275493   2015-01-05     15:26:22
495126  24422ERQ4  0.300870   2015-01-06     14:44:27
495133  24422ERQ4  1.309590   2015-01-07     15:54:33
495140  24422ERQ4  2.643336   2015-01-08     15:56:43
...           ...       ...          ...          ...
495362  24422ERQ4  0.990911   2015-04-02     15:45:03
495367  24422ERQ4  1.005825   2015-04-06     15:52:02
495369  24422ERQ4  1.025006   2015-04-07     15:53:45
495371  24422ERQ4  0.393292   2015-04-09     13:11:22
495373  24422ERQ4  1.050466   2015-04-10     15:56:33

[64 rows x 4 columns])
('25152R2U6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
474993  25152R2U6  2.903960   2015-08-20     17:01:34
474997  25152R2U6  2.853280   2015-08-21     14:08:39
475012  25152R2U6  2.887633   2015-08-24     16:16:56
475030  25152R2U6  2.927080   2015-08-25     15:53:25
475052  25152R2U6  2.886806   2015-08-26     16:33:23
...           ...       ...          ...          ...
483208  25152R2U6  2.936073   2017-12-21     16:46:13
483216  25152R2U6  2.770904   2017-12-22     10:01:49
483221  25152R2U6  2.938438   2017-12-26     14:48:28
483229  25152R2U6  2.742207   2017-12-27     13:49:27
483234  25152R2U6  3.069116   2017-12-29     12:16:36

[586 rows x 4 columns])
('25152R2X0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
483305  25152R2X0  3.196985   2016-01-11     15:11:14
483331  25152R2X0  3.101794   2016-01-12     18:31:14
483344  25152R2X0  3.127098   2016-01-13     16:28:35
483356  25152R2X0  3.093919   2016-01-14     11:39:41
483373  25152R2X0  3.117898   2016-01-15     15:34:27
...           ...       ...          ...          ...
494692  25152R2X0  2.680630   2017-12-22     13:12:09
494711  25152R2X0  3.319391   2017-12-26     15:58:19
494722  25152R2X0  2.943539   2017-12-27     15:50:53
494743  25152R2X0  2.865325   2017-12-28     15:45:53
494755  25152R2X0  2.862352   2017-12-29     12:15:22

[496 rows x 4 columns])
('26444GAA1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
495412  26444GAA1  1.195806   2016-06-29     16:37:02
495413  26444GAA1  1.130829   2016-07-06     11:08:25
495414  26444GAA1  1.145229   2016-07-07     11:27:20
495416  26444GAA1  1.191922   2016-09-23     11:35:47
495418  26444GAA1  1.354500   2017-01-18     17:12:26
495420  26444GAA1  1.256759   2017-01-19     14:12:25
495421  26444GAA1  1.254561   2017-02-13     13:43:09
495422  26444GAA1  1.273198   2017-02-15     13:59:34
495428  26444GAA1  1.888239   2017-03-20     14:07:59
495429  26444GAA1  1.992673   2017-03-23     16:12:33
495430  26444GAA1  1.836153   2017-03-28     14:55:57
495433  26444GAA1  1.621240   2017-03-29     13:08:41
495435  26444GAA1  1.423783   2017-04-05     09:24:53
495436  26444GAA1  1.423907   2017-04-06     11:26:36
495437  26444GAA1  1.518945   2017-04-26     11:11:07
495438  26444GAA1  1.520388   2017-05-04     15:16:54
495439  26444GAA1  1.492545   2017-05-09     08:20:09
495443  26444GAA1  1.365448   2017-05-23     14:23:15
495444  26444GAA1  1.432913   2017-05-25     10:16:52
495445  26444GAA1  1.598686   2017-06-01     13:17:19
495446  26444GAA1  1.630532   2017-06-20     14:39:59
495447  26444GAA1  1.581828   2017-07-20     09:46:40
495449  26444GAA1  1.454179   2017-08-04     12:09:01
495450  26444GAA1  1.415222   2017-08-15     09:31:11
495451  26444GAA1  1.621726   2017-09-07     13:49:45
495452  26444GAA1  1.537311   2017-09-22     11:13:17
495453  26444GAA1  1.600233   2017-10-11     11:14:29
495460  26444GAA1  1.867376   2017-10-16     15:44:46
495461  26444GAA1  1.603210   2017-10-23     13:28:11
495462  26444GAA1  1.485118   2017-11-01     09:49:39
495463  26444GAA1  1.516267   2017-11-07     16:12:07
495464  26444GAA1  1.669050   2017-11-13     09:53:13
495466  26444GAA1  1.763477   2017-11-27     12:44:46
495467  26444GAA1  1.551618   2017-12-05     14:46:10
495469  26444GAA1  1.529021   2017-12-06     10:00:56)
('26444GAB9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
495473  26444GAB9  1.682955   2016-09-08     12:38:14
495474  26444GAB9  1.671478   2016-09-27     11:55:20
495475  26444GAB9  1.679108   2016-09-29     13:32:25
495476  26444GAB9  1.638124   2016-10-17     12:05:48
495478  26444GAB9  1.730619   2016-10-19     12:50:58
...           ...       ...          ...          ...
495720  26444GAB9  2.033834   2017-12-06     15:44:12
495721  26444GAB9  2.215095   2017-12-15     11:19:49
495723  26444GAB9  2.821680   2017-12-20     16:09:01
495731  26444GAB9  2.634025   2017-12-21     14:32:10
495732  26444GAB9  2.196071   2017-12-26     10:28:57

[106 rows x 4 columns])
('26444GAC7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
495735  26444GAC7  2.402306   2016-06-30     15:27:46
495736  26444GAC7  2.348213   2016-07-05     16:43:07
495739  26444GAC7  2.496860   2016-07-14     16:00:13
495744  26444GAC7  2.464039   2016-07-18     15:06:12
495745  26444GAC7  2.478607   2016-07-22     11:32:34
495746  26444GAC7  2.480657   2016-07-25     11:36:21
495751  26444GAC7  2.463373   2016-07-26     15:39:24
495752  26444GAC7  2.394954   2016-07-28     13:34:12
495754  26444GAC7  2.427488   2016-08-05     11:02:53
495758  26444GAC7  2.465662   2016-09-08     14:24:57
495760  26444GAC7  2.521424   2016-09-12     12:55:11
495761  26444GAC7  2.465714   2016-09-26     16:04:58
495762  26444GAC7  2.414832   2016-09-27     11:30:22
495767  26444GAC7  2.526916   2016-10-05     15:56:33
495768  26444GAC7  2.581761   2016-10-13     12:06:51
495775  26444GAC7  2.338126   2016-10-14     11:42:57
495778  26444GAC7  2.493404   2016-10-19     11:31:37
495781  26444GAC7  2.340150   2016-10-20     14:47:58
495787  26444GAC7  2.317071   2016-10-21     14:46:26
495790  26444GAC7  2.516624   2016-10-24     14:16:26
495792  26444GAC7  2.522039   2016-10-25     16:41:29
495794  26444GAC7  2.951225   2016-11-30     16:11:33
495797  26444GAC7  2.955341   2017-01-27     12:42:16
495798  26444GAC7  3.002059   2017-01-31     09:28:44
495800  26444GAC7  2.961185   2017-02-02     15:51:21
495801  26444GAC7  2.899449   2017-02-06     10:05:05
495808  26444GAC7  2.927067   2017-02-08     12:18:58
495809  26444GAC7  2.902625   2017-02-09     10:45:41
495810  26444GAC7  2.914066   2017-02-10     10:43:32
495812  26444GAC7  2.999919   2017-02-13     11:20:54
495813  26444GAC7  2.969303   2017-02-15     13:00:09
495815  26444GAC7  2.989875   2017-02-22     11:49:12
495816  26444GAC7  3.056737   2017-03-16     13:46:34
495817  26444GAC7  2.872346   2017-03-28     14:10:13
495818  26444GAC7  2.786885   2017-04-19     10:15:49
495819  26444GAC7  2.782609   2017-04-20     10:11:58
495821  26444GAC7  2.788243   2017-04-25     15:59:31
495824  26444GAC7  2.844209   2017-04-26     11:26:32
495825  26444GAC7  2.764171   2017-05-02     15:38:49
495826  26444GAC7  2.876859   2017-05-05     09:52:34
495828  26444GAC7  2.718174   2017-05-17     16:46:21
495830  26444GAC7  2.683389   2017-06-16     15:34:03
495832  26444GAC7  2.715413   2017-06-19     16:09:40
495834  26444GAC7  2.751824   2017-06-29     15:39:41
495837  26444GAC7  2.743353   2017-07-18     14:50:41
495838  26444GAC7  2.702980   2017-08-07     13:37:10
495840  26444GAC7  2.667422   2017-08-23     12:16:10
495842  26444GAC7  2.755436   2017-10-12     12:24:56
495846  26444GAC7  2.657587   2017-10-13     11:28:50
495849  26444GAC7  2.726420   2017-10-16     13:03:44
495850  26444GAC7  2.604310   2017-11-08     12:05:47
495852  26444GAC7  2.840498   2017-11-14     15:39:44
495853  26444GAC7  2.829129   2017-11-20     13:34:17)
('26444GAD5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
495855  26444GAD5  2.579098   2016-07-06     15:33:39
495856  26444GAD5  2.762799   2016-07-26     12:26:11
495858  26444GAD5  3.026487   2016-10-28     08:57:12
495860  26444GAD5  3.478807   2016-12-20     11:17:27
495862  26444GAD5  3.456332   2017-01-25     11:12:11
495864  26444GAD5  3.380535   2017-01-31     12:25:14
495866  26444GAD5  3.579456   2017-03-09     13:27:06
495868  26444GAD5  3.412838   2017-04-06     15:20:40
495871  26444GAD5  3.263844   2017-04-24     12:32:19
495876  26444GAD5  3.359303   2017-05-09     16:32:58

('372546AA9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
825863  372546AA9  3.336379   2015-04-24     11:20:30
825865  372546AA9  2.403513   2015-05-08     09:10:45
825868  372546AA9  2.490560   2015-05-14     10:32:32
825869  372546AA9  2.728116   2015-08-25     11:37:39
825875  372546AA9  1.810040   2015-09-02     15:12:14
825877  372546AA9  1.796727   2015-10-07     10:10:08
825879  372546AA9  2.180477   2015-11-06     09:03:47
825880  372546AA9  2.647997   2015-12-16     13:38:18
825883  372546AA9  2.131382   2016-01-08     09:10:35
825885  372546AA9  2.442849   2016-01-19     09:20:42
825887  372546AA9  2.897365   2016-01-20     09:53:50
825888  372546AA9  1.770446   2016-02-18     11:20:15
825893  372546AA9  2.017692   2016-03-28     15:49:00
825896  372546AA9  1.855641   2016-04-29     15:23:06
825899  372546AA9  1.721963   2016-05-02     16:29:01
825903  372546AA9  1.239292   2016-07-18     16:12:28)
('38141EB32',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
663277  38141EB32  1.187163   2015-01-02     10:18:13
663286  38141EB32  1.196193   2015-01-05     14:49:45
663300  38141EB32  0.879880   2015-01-06     14:56:03
663315  38141EB32  0.842874   2015-01-07     15:15:08
663320  38141EB32  0.843933   2015-01-08     12:11:00
...           ...       ...          ...          ...
664512  38141EB32  0.433523   2015-11-09     12:23:54
664513  38141EB32  0.617988   2015-11-10     15:35:15
664518  38141EB32  1.111317   2015-11-12     13:14:47
664519  38141EB32  0.401610   2015-11-13     08:51:38
664520  38141EB32  1.349358   2015-11-18     08:16:00

[209 rows x 4 columns])
('38141GEE0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
617670  38141GEE0  0.810194   2015-01-02     16:58:18
617679  38141GEE0  1.261572   2015-01-05     15:46:39
617702  38141GEE0  1.256627   2015-01-06     16:32:54
617720  38141GEE0  0.550901   2015-01-07     16:52:38
617751  38141GEE0  1.231706   2015-01-08     16:51:53
...           ...       ...          ...          ...
622070  38141GEE0  0.849984   2016-01-08     16:59:00
622072  38141GEE0  0.968129   2016-01-10     11:33:31
622079  38141GEE0  1.704488   2016-01-11     14:50:14
622081  38141GEE0  1.459032   2016-01-13     10:52:58
622083  38141GEE0  1.459032   2016-01-14     13:57:51

[263 rows x 4 columns])
('38141GFM1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
635324  38141GFM1  2.166800   2015-01-02     15:40:45
635347  38141GFM1  2.268810   2015-01-05     15:56:07
635367  38141GFM1  2.189035   2015-01-06     16:14:51
635439  38141GFM1  2.142538   2015-01-07     16:06:04
635476  38141GFM1  2.111973   2015-01-08     16:52:11
...           ...       ...          ...          ...
662334  38141GFM1  1.776175   2017-12-22     13:52:52
662372  38141GFM1  2.208550   2017-12-26     15:46:21
662410  38141GFM1  2.132428   2017-12-27     15:59:43
662434  38141GFM1  2.282674   2017-12-28     15:50:31
662461  38141GFM1  2.738202   2017-12-29     13:52:10

[752 rows x 4 columns])
('38141GGM0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
603159  38141GGM0  4.440725   2015-01-02     10:34:33
603170  38141GGM0  4.347761   2015-01-05     15:03:53
603185  38141GGM0  4.421040   2015-01-06     16:48:37
603195  38141GGM0  4.342976   2015-01-07     15:13:55
603203  38141GGM0  4.428025   2015-01-08     15:17:17
...           ...       ...          ...          ...
609886  38141GGM0  4.056045   2017-12-21     15:37:09
609898  38141GGM0  4.024444   2017-12-22     12:31:22
609901  38141GGM0  3.999027   2017-12-26     13:31:49
609909  38141GGM0  3.980797   2017-12-27     10:48:30
609911  38141GGM0  3.957011   2017-12-28     11:08:33

[744 rows x 4 columns])
('38141GGQ1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
580931  38141GGQ1  2.987457   2015-01-02     15:19:00
580949  38141GGQ1  2.994995   2015-01-05     15:38:34
580971  38141GGQ1  2.930005   2015-01-06     16:31:34
580991  38141GGQ1  2.920033   2015-01-07     16:22:13
581007  38141GGQ1  2.922036   2015-01-08     16:13:14
...           ...       ...          ...          ...
603063  38141GGQ1  3.053891   2017-12-22     14:03:43
603094  38141GGQ1  2.790827   2017-12-26     15:52:21
603123  38141GGQ1  2.764891   2017-12-27     14:51:10
603145  38141GGQ1  3.105664   2017-12-28     15:59:57
603155  38141GGQ1  2.757669   2017-12-29     12:47:33

[753 rows x 4 columns])
('38141GGS7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
551261  38141GGS7  3.187526   2015-01-02     16:08:47
551306  38141GGS7  3.097543   2015-01-05     16:19:32
551350  38141GGS7  3.027995   2015-01-06     16:08:03
551409  38141GGS7  3.030758   2015-01-07     15:52:21
551444  38141GGS7  3.082571   2015-01-08     16:39:32
...           ...       ...          ...          ...
580801  38141GGS7  2.995285   2017-12-22     12:58:19
580823  38141GGS7  2.948142   2017-12-26     15:45:51
580869  38141GGS7  2.886975   2017-12-27     16:25:13
580896  38141GGS7  2.970919   2017-12-28     15:53:10
580914  38141GGS7  2.868745   2017-12-29     13:38:04

[752 rows x 4 columns])
('38141GGT5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
662468  38141GGT5  0.658824   2015-01-02     15:41:20
662477  38141GGT5  0.450786   2015-01-05     16:15:54
662492  38141GGT5  0.500962   2015-01-06     17:03:32
662500  38141GGT5  0.984086   2015-01-07     16:28:29
662509  38141GGT5  1.018408   2015-01-08     15:30:09
...           ...       ...          ...          ...
663242  38141GGT5  0.979966   2015-04-23     15:18:18
663248  38141GGT5  1.476015   2015-04-24     15:53:31
663259  38141GGT5  2.066268   2015-04-27     16:33:15
663274  38141GGT5  0.643407   2015-04-28     13:07:32
663276  38141GGT5  1.652882   2015-04-30     09:20:03

[81 rows x 4 columns])
('38141GRC0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
664539  38141GRC0  1.721541   2015-01-02     16:22:13
664555  38141GRC0  1.995901   2015-01-05     16:19:59
664565  38141GRC0  1.952238   2015-01-06     16:44:36
664592  38141GRC0  1.961324   2015-01-07     15:52:57
664613  38141GRC0  1.884986   2015-01-08     16:33:18
...           ...       ...          ...          ...
686112  38141GRC0  3.608476   2017-12-22     13:40:52
686136  38141GRC0  2.425162   2017-12-26     16:09:43
686158  38141GRC0  4.603558   2017-12-27     16:07:37
686166  38141GRC0  2.243187   2017-12-28     13:13:15
686173  38141GRC0  6.601903   2017-12-29     12:51:59

[754 rows x 4 columns])
('38141GRD8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
686176  38141GRD8  3.304081   2015-01-02     15:14:36
686187  38141GRD8  2.972674   2015-01-05     16:25:00
686196  38141GRD8  3.202467   2015-01-06     13:52:53
686224  38141GRD8  3.404314   2015-01-07     16:35:23
686236  38141GRD8  3.244045   2015-01-08     16:04:11
...           ...       ...          ...          ...
701058  38141GRD8  3.032960   2017-12-22     13:04:23
701091  38141GRD8  2.969472   2017-12-26     15:47:04
701104  38141GRD8  2.799476   2017-12-27     15:41:19
701120  38141GRD8  2.921898   2017-12-28     15:50:08
701130  38141GRD8  2.873033   2017-12-29     12:52:00

[752 rows x 4 columns])
('38141GVM3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
751322  38141GVM3  3.439085   2015-01-02     16:32:06
751367  38141GVM3  3.412959   2015-01-05     16:05:56
751385  38141GVM3  3.379035   2015-01-06     16:04:02
751425  38141GVM3  3.334201   2015-01-07     16:27:44
751460  38141GVM3  3.389895   2015-01-08     16:14:31
...           ...       ...          ...          ...
774742  38141GVM3  3.186035   2017-12-22     13:27:50
774755  38141GVM3  3.180468   2017-12-26     15:46:11
774780  38141GVM3  3.094996   2017-12-27     19:08:44
774805  38141GVM3  3.152004   2017-12-28     15:54:40
774826  38141GVM3  3.094098   2017-12-29     12:57:25

[750 rows x 4 columns])
('38141GVN1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
751075  38141GVN1  1.755846   2015-04-14     16:14:34
751079  38141GVN1  1.650160   2015-04-15     12:04:05
751082  38141GVN1  1.670073   2015-04-16     12:33:55
751084  38141GVN1  1.903559   2015-07-09     10:41:18
751085  38141GVN1  1.603282   2015-08-17     09:53:23
751086  38141GVN1  1.319051   2015-10-05     09:00:17
751089  38141GVN1  1.376922   2015-10-23     16:10:00
751092  38141GVN1  1.193302   2015-10-27     12:47:00
751093  38141GVN1  1.633112   2015-10-28     15:40:47
751094  38141GVN1  1.519134   2015-10-29     13:33:16
751096  38141GVN1  1.439358   2015-10-30     12:30:06
751100  38141GVN1  1.435090   2015-11-02     15:40:20
751105  38141GVN1  1.475530   2015-11-03     13:56:01
751106  38141GVN1  1.275281   2015-11-04     16:37:00
751108  38141GVN1  1.443178   2015-11-05     10:42:41
751110  38141GVN1  1.477487   2015-11-06     15:07:39
751114  38141GVN1  1.447070   2015-11-10     15:37:50
751116  38141GVN1  1.701221   2015-11-12     12:00:46
751118  38141GVN1  1.466707   2015-11-13     11:19:30
751120  38141GVN1  1.646865   2015-11-16     14:43:31
751128  38141GVN1  1.456945   2015-11-17     16:40:11
751129  38141GVN1  1.758981   2015-12-03     16:25:02
751132  38141GVN1  1.187353   2015-12-11     15:03:30
751133  38141GVN1  2.012377   2016-01-20     13:14:41
751134  38141GVN1  1.314711   2016-01-26     16:38:26
751135  38141GVN1  1.874156   2016-02-02     11:00:09
751137  38141GVN1  2.466898   2016-02-05     10:05:53
751140  38141GVN1  1.610932   2016-03-16     12:30:37
751143  38141GVN1  1.610666   2016-03-17     15:32:28
751144  38141GVN1  3.258711   2016-05-04     15:44:16
751155  38141GVN1  1.613929   2016-05-11     15:52:04
751165  38141GVN1  1.051044   2016-06-28     14:58:15
751172  38141GVN1  1.374728   2016-06-29     15:02:19
751176  38141GVN1  1.345963   2016-06-30     12:11:56
751177  38141GVN1  1.470955   2016-08-15     12:23:11
751178  38141GVN1  1.438265   2016-08-16     12:29:38
751189  38141GVN1  1.260757   2016-08-17     16:44:32
751196  38141GVN1  1.319250   2016-08-18     15:58:23
751197  38141GVN1  1.861026   2016-08-22     14:56:47
751199  38141GVN1  1.240926   2016-09-02     15:22:53
751201  38141GVN1  1.488723   2016-09-23     12:53:45
751205  38141GVN1  1.467544   2016-10-03     15:09:17
751253  38141GVN1  1.159014   2016-10-04     18:15:49
751283  38141GVN1  1.402489   2016-10-05     16:45:03
751285  38141GVN1  2.426928   2016-12-15     20:55:42
751286  38141GVN1  1.992715   2016-12-23     13:45:27
751289  38141GVN1  1.700355   2016-12-29     10:16:32
751291  38141GVN1  1.820599   2017-01-04     11:30:00
751292  38141GVN1  1.791129   2017-04-20     15:25:17
751295  38141GVN1  0.965216   2017-05-05     15:15:43
751297  38141GVN1  1.436747   2017-05-11     14:01:00
751298  38141GVN1  2.635532   2017-05-12     08:05:40
751301  38141GVN1  1.148424   2017-05-15     12:18:22
751304  38141GVN1  2.211046   2017-05-30     14:51:28
751305  38141GVN1  3.370339   2017-06-21     13:18:43
751309  38141GVN1  2.113887   2017-07-03     09:44:42
751311  38141GVN1  1.733689   2017-08-30     10:28:40)
('38141GVR2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
805024  38141GVR2  4.337022   2015-10-19     07:56:58
805289  38141GVR2  4.188021   2015-10-21     16:26:30
805316  38141GVR2  4.149004   2015-10-22     15:07:07
805345  38141GVR2  4.172940   2015-10-23     16:46:24
805363  38141GVR2  4.159008   2015-10-26     17:04:16
...           ...       ...          ...          ...
823115  38141GVR2  3.666807   2017-12-22     12:25:57
823140  38141GVR2  3.649816   2017-12-26     15:45:57
823170  38141GVR2  3.528795   2017-12-27     15:51:46
823202  38141GVR2  3.603050   2017-12-28     15:50:56
823216  38141GVR2  3.520443   2017-12-29     13:39:21

[550 rows x 4 columns])
('38143C5M9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
823856  38143C5M9  3.476390   2016-03-11     14:27:32
823857  38143C5M9  3.967102   2016-11-21     13:40:43
823858  38143C5M9  3.816581   2016-11-28     13:32:42
823861  38143C5M9  3.772887   2016-12-07     10:42:38
823864  38143C5M9  4.070322   2016-12-13     10:23:19
823867  38143C5M9  3.663335   2016-12-23     10:03:34
823869  38143C5M9  3.704781   2016-12-28     09:12:33
823870  38143C5M9  3.614153   2017-09-05     15:37:31
823874  38143C5M9  3.530870   2017-09-06     16:49:22
823876  38143C5M9  3.364748   2017-09-07     12:16:07
823877  38143C5M9  3.596033   2017-09-12     13:21:53
823879  38143C5M9  3.907959   2017-11-21     14:32:19
823880  38143C5M9  3.763605   2017-11-27     11:05:36)
('38143USC6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
609919  38143USC6  1.215976   2015-01-02     15:37:21
609960  38143USC6  1.159669   2015-01-05     16:11:55
609995  38143USC6  1.272028   2015-01-06     16:42:49
610020  38143USC6  1.327234   2015-01-07     16:43:23
610056  38143USC6  1.109015   2015-01-08     15:34:37
...           ...       ...          ...          ...
617635  38143USC6  1.321347   2016-02-01     16:01:02
617645  38143USC6  3.561171   2016-02-02     16:54:32
617649  38143USC6  0.996986   2016-02-03     13:21:34
617651  38143USC6  1.100070   2016-02-04     11:34:20
617654  38143USC6  0.855535   2016-02-05     11:06:00

[274 rows x 4 columns])
('38144LAB6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
622100  38144LAB6  1.888011   2015-01-02     15:52:34
622118  38144LAB6  2.302432   2015-01-05     15:18:19
622130  38144LAB6  1.785102   2015-01-06     16:31:38
622145  38144LAB6  1.815294   2015-01-07     15:29:27
622153  38144LAB6  1.736952   2015-01-08     16:02:11
...           ...       ...          ...          ...
635278  38144LAB6  4.900970   2017-08-22     15:58:54
635284  38144LAB6  7.811142   2017-08-23     15:11:34
635288  38144LAB6  2.395470   2017-08-24     13:52:06
635290  38144LAB6  3.268175   2017-08-25     12:27:17
635294  38144LAB6  3.268472   2017-08-28     09:46:45

[666 rows x 4 columns])
('38145XAA1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
734772  38145XAA1  2.430000   2015-01-02     15:11:05
734791  38145XAA1  2.412896   2015-01-05     15:47:27
734798  38145XAA1  2.273646   2015-01-06     15:52:29
734813  38145XAA1  2.273094   2015-01-07     16:45:04
734822  38145XAA1  2.281539   2015-01-08     15:57:25
...           ...       ...          ...          ...
751015  38145XAA1  1.957991   2017-12-22     12:42:45
751028  38145XAA1  2.418923   2017-12-26     15:26:24
751044  38145XAA1  1.909137   2017-12-27     15:00:37
751064  38145XAA1  2.698767   2017-12-28     15:51:29
751074  38145XAA1  2.235993   2017-12-29     12:27:45

[754 rows x 4 columns])
('38147MAA3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
705741  38147MAA3  2.134068   2015-01-02     14:55:29
705768  38147MAA3  2.150107   2015-01-05     16:00:54
705782  38147MAA3  2.122168   2015-01-06     15:45:40
705820  38147MAA3  1.867772   2015-01-07     16:25:35
705837  38147MAA3  2.070856   2015-01-08     15:58:13
...           ...       ...          ...          ...
731621  38147MAA3  1.774413   2017-12-22     11:25:01
731633  38147MAA3  1.851576   2017-12-26     14:12:45
731663  38147MAA3  1.938616   2017-12-27     15:59:14
731693  38147MAA3  1.839910   2017-12-28     15:15:25
731701  38147MAA3  3.367895   2017-12-29     15:42:14

[752 rows x 4 columns])
('38148FAB5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
776550  38148FAB5  2.536865   2015-01-02     16:14:36
776588  38148FAB5  2.556030   2015-01-05     15:54:57
776628  38148FAB5  2.494975   2015-01-06     16:53:05
776663  38148FAB5  2.509371   2015-01-07     16:56:58
776682  38148FAB5  2.246560   2015-01-08     16:52:42
...           ...       ...          ...          ...
796634  38148FAB5  2.391074   2017-12-22     12:57:19
796675  38148FAB5  2.437641   2017-12-26     15:46:32
796696  38148FAB5  2.391151   2017-12-27     15:19:17
796733  38148FAB5  2.657063   2017-12-28     16:15:06
796750  38148FAB5  2.302801   2017-12-29     13:16:29

[750 rows x 4 columns])
('38148LAF3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
797669  38148LAF3  5.185087   2015-05-19     10:39:16
797981  38148LAF3  5.107999   2015-05-22     12:01:35
797996  38148LAF3  5.035032   2015-05-26     16:01:12
798027  38148LAF3  5.006038   2015-05-27     16:46:56
798049  38148LAF3  5.028000   2015-05-28     19:04:51
...           ...       ...          ...          ...
804228  38148LAF3  4.264429   2017-12-22     12:29:05
804231  38148LAF3  4.216824   2017-12-26     15:31:29
804238  38148LAF3  4.237393   2017-12-27     14:05:54
804242  38148LAF3  4.140005   2017-12-28     11:56:15
804243  38148LAF3  4.156025   2017-12-29     10:07:40

[653 rows x 4 columns])
('404280AE9',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
73920  404280AE9  4.586781   2015-01-12     15:12:20
73922  404280AE9  4.470510   2015-01-14     14:22:35
73925  404280AE9  4.334093   2015-01-20     12:01:16
73926  404280AE9  4.539323   2015-02-06     13:23:02
73929  404280AE9  4.550015   2015-03-23     13:47:37
...          ...       ...          ...          ...
74317  404280AE9  4.157160   2017-11-28     14:50:01
74321  404280AE9  4.163950   2017-12-05     12:06:11
74323  404280AE9  4.150513   2017-12-18     11:51:48
74327  404280AE9  4.285315   2017-12-20     11:36:25
74331  404280AE9  4.202053   2017-12-28     09:49:22

[163 rows x 4 columns])
('404280AF6',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
74332  404280AF6  4.580632   2015-01-07     14:00:00
74333  404280AF6  4.957809   2015-01-12     11:36:23
74335  404280AF6  4.273028   2015-01-13     13:54:52
74337  404280AF6  4.546598   2015-01-14     12:34:23
74338  404280AF6  4.554879   2015-01-15     10:48:02
...          ...       ...          ...          ...
75275  404280AF6  4.108256   2017-11-28     14:38:42
75281  404280AF6  4.013947   2017-11-29     14:42:46
75284  404280AF6  3.983988   2017-11-30     15:40:45
75286  404280AF6  4.330176   2017-12-13     09:33:31
75288  404280AF6  4.218099   2017-12-21     12:51:13

[300 rows x 4 columns])
('404280AH2',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
75289  404280AH2  4.365990   2015-01-05     13:30:31
75291  404280AH2  4.360005   2015-01-06     15:23:53
75298  404280AH2  4.327016   2015-01-07     16:16:11
75299  404280AH2  4.447975   2015-01-08     15:17:17
75300  404280AH2  4.430023   2015-01-09     12:00:17
...          ...       ...          ...          ...
77510  404280AH2  4.257032   2017-12-20     15:44:19
77512  404280AH2  4.183978   2017-12-21     15:00:12
77515  404280AH2  4.224449   2017-12-22     12:29:50
77518  404280AH2  4.198026   2017-12-26     12:09:00
77519  404280AH2  4.133638   2017-12-27     13:41:48

[638 rows x 4 columns])
('404280AL3',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
80502  404280AL3  2.904069   2015-01-02     11:12:11
80504  404280AL3  2.884041   2015-01-05     13:49:32
80507  404280AL3  2.779045   2015-01-06     13:27:50
80508  404280AL3  2.804939   2015-01-07     10:55:02
80516  404280AL3  2.799988   2015-01-08     14:52:53
...          ...       ...          ...          ...
84281  404280AL3  2.833011   2017-12-22     11:46:46
84285  404280AL3  2.847396   2017-12-26     13:32:22
84289  404280AL3  2.759252   2017-12-27     15:03:58
84301  404280AL3  2.855077   2017-12-28     15:37:12
84302  404280AL3  2.815899   2017-12-29     10:01:01

[668 rows x 4 columns])
('404280AM1',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
84303  404280AM1  4.022982   2015-01-02     04:14:51
84307  404280AM1  3.878021   2015-01-06     13:19:01
84308  404280AM1  3.887980   2015-01-08     16:35:37
84309  404280AM1  3.853997   2015-01-09     11:52:34
84311  404280AM1  3.908050   2015-01-12     07:19:22
...          ...       ...          ...          ...
85487  404280AM1  3.836249   2017-12-19     16:08:22
85498  404280AM1  3.902565   2017-12-20     15:45:32
85499  404280AM1  3.828416   2017-12-21     14:49:51
85502  404280AM1  3.852943   2017-12-22     12:28:01
85506  404280AM1  3.761084   2017-12-27     13:41:20

[498 rows x 4 columns])
('404280AN9',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm

[234 rows x 4 columns])
('40429CGD8',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
53762  40429CGD8  3.112119   2015-01-02     12:35:08
53785  40429CGD8  3.122024   2015-01-05     15:58:19
53797  40429CGD8  3.348514   2015-01-06     14:57:05
53807  40429CGD8  3.164021   2015-01-07     14:44:00
53821  40429CGD8  3.279254   2015-01-08     16:11:38
...          ...       ...          ...          ...
71587  40429CGD8  2.474268   2017-09-20     14:37:07
71595  40429CGD8  2.378020   2017-09-21     15:14:11
71784  40429CGD8  2.530696   2017-10-02     12:27:27
72103  40429CGD8  2.483343   2017-11-01     12:06:58
72339  40429CGD8  2.808207   2017-11-27     14:54:11

[691 rows x 4 columns])
('4042K1JY0',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
85510  4042K1JY0  3.123840   2015-02-06     10:23:30
85511  4042K1JY0  3.996559   2015-02-17     12:49:42
85516  4042K1JY0  1.447508   2015-02-23     16:13:00
85518  4042K1JY0  1.065968   2015-02-24     10:11:13
85521  4042K1JY0  4.654519   2015-02-27     14:41:49
85524  4042K1JY0  1.334255   2015-03-02     12:26:34
85525  4042K1JY0  3.999111   2015-03-30     13:04:01
85526  4042K1JY0  3.992902   2015-04-13     11:03:54
85527  4042K1JY0  3.445414   2015-04-27     12:18:34)
('4165X0LS7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
117683  4165X0LS7  1.317364   2015-01-28     12:20:27
117685  4165X0LS7  1.325974   2015-02-10     09:17:37)
('4165X0LW8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
117686  4165X0LW8  2.354154   2015-03-16     16:40:48
117689  4165X0LW8  1.829857   2015-03-17     11:32:20
117690  4165X0LW8  1.816598   2015-03-18     08:58:05
117692  4165X0LW8  2.795685   2016-03-21     13:38:21
117694  4165X0LW8  1.318512   2016-03-22     16:15:50
117697  4165X0LW8  1.797058   2016-10-14     12:57:15)
('446150AJ3',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
51142  446150AJ3  3.129028   2016-03-14     16:26:13
51149  446150AJ3  3.130970   2016-03-15     16:22:36
51164  446150AJ3  3.017061   2016-03-16     14:23:49
51171  446150AJ3  2.970938   2016-03-17     16:21:06
51182  446150AJ3  2.918948   2016-03-18     13:51:58
...          ...       ...          ...          ...
53742  446150AJ3  2.799376   2017-12-22     11:57:37
53750  446150AJ3  2.613864   2017-12-26     14:01:13
53756  446150AJ3  2.618064   2017-12-27     15:54:53
53759  446150AJ3  2.637043   2017-12-28     15:37:12
53760  446150AJ3  2.654963   2017-12-29     10:28:26

[437 rows x 4 columns])
('44643TAA5',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
50797  44643TAA5  3.097689   2015-01-27     11:20:56)
('455665AK5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
117952  455665AK5  6.660074   2015-01-09     12:38:03
117954  455665AK5  6.682288   2015-03-16     10:18:51
117956  455665AK5  6.563342   2015-05-15     11:46:46
117958  455665AK5  6.523245   2015-05-29     13:12:01
117960  455665AK5  6.702896   2015-09-30     12:48:40
117962  455665AK5  6.910541   2016-03-15     16:53:33
117964  455665AK5  7.199160   2016-04-14     11:08:00
117966  455665AK5  7.121049   2016-05-20     10:59:26
117969  455665AK5  7.535990   2016-09-14     11:17:58
117976  455665AK5  7.454959   2016-09-28     11:31:46
117978  455665AK5  6.871303   2017-05-22     14:04:20
117979  455665AK5  7.412515   2017-06-15     17:00:29
117981  455665AK5  6.266642   2017-10-17     16:24:37
117982  455665AK5  6.998887   2017-11-20     09:05:56)
('456866AL6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
117984  456866AL6  5.958731   2016-03-30     16:41:10
117987  456866AL6  5.704365   2016-04-08     13:53:29
117988  456866AL6  5.704055   2016-04-11     11:26:29
117991  456866AL6  5.252974   2016-05-25     14:46:27
117994  456866AL6  5.042592   2016-06-30     10:57:18
117996  456866AL6  5.117157   2016-12-20     09:52:00
117998  456866AL6  5.194326   2017-06-23     16:00:12
118000  456866AL6  4.339598   2017-06-27     16:44:22
118002  456866AL6  4.804114   2017-08-14     15:53:41
118005  456866AL6  4.286245   2017-09-19     15:57:06
118008  456866AL6  4.458196   2017-11-30     15:30:45
118010  456866AL6  4.266978   2017-12-07     15:06:55)
('46625HHW3',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
123003  46625HHW3   1.167756   2015-01-02     12:22:29
123020  46625HHW3   1.573392   2015-01-05     16:00:00
123031  46625HHW3   1.344881   2015-01-06     16:12:55
123048  46625HHW3   0.978474   2015-01-07     15:48:49
123062  46625HHW3   0.903856   2015-01-08     16:54:32
...           ...        ...          ...          ...
125935  46625HHW3   1.500744   2016-01-06     13:38:00
125941  46625HHW3   0.789855   2016-01-07     13:38:52
125944  46625HHW3   0.612064   2016-01-08     16:44:27
125946  46625HHW3   7.543535   2016-01-11     11:33:23
125953  46625HHW3  68.379250   2016-01-13     15:22:29

[259 rows x 4 columns])
('46625HJL5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
125961  46625HJL5  1.879918   2015-01-02     15:04:33
125981  46625HJL5  1.825819   2015-01-05     16:17:34
125995  46625HJL5  1.766482   2015-01-06     16:03:42
126005  46625HJL5  1.915549   2015-01-07     15:52:31
126034  46625HJL5  1.770968   2015-01-08     15:32:07
...           ...       ...          ...          ...
140696  46625HJL5  1.871056   2017-12-22     12:33:31
140707  46625HJL5  1.864848   2017-12-26     16:16:56
140727  46625HJL5  1.499567   2017-12-27     15:18:37
140741  46625HJL5  1.937122   2017-12-28     13:02:18
140803  46625HJL5  1.676249   2017-12-29     12:18:21

[751 rows x 4 columns])
('46625HRS1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
146541  46625HRS1  3.185822   2016-06-01     20:35:48
146622  46625HRS1  3.095092   2016-06-06     16:43:33
146638  46625HRS1  3.032254   2016-06-07     16:44:23
146647  46625HRS1  3.042282   2016-06-08     16:44:32
146654  46625HRS1  3.055028   2016-06-09     15:40:45
...           ...       ...          ...          ...
151701  46625HRS1  3.258961   2017-12-22     11:48:19
151705  46625HRS1  3.009331   2017-12-26     15:21:05
151715  46625HRS1  3.176947   2017-12-27     12:24:17
151723  46625HRS1  3.171331   2017-12-28     15:02:52
151734  46625HRS1  3.148075   2017-12-29     12:27:55

[394 rows x 4 columns])
('46625HRT9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
141196  46625HRT9  2.436319   2016-06-01     14:15:35
141205  46625HRT9  2.433112   2016-06-02     05:41:17
141330  46625HRT9  2.243988   2016-06-07     16:09:05
141357  46625HRT9  2.192860   2016-06-08     17:19:00
141373  46625HRT9  2.259822   2016-06-09     15:06:03
...           ...       ...          ...          ...
146407  46625HRT9  2.592139   2017-12-22     12:23:40
146414  46625HRT9  2.580013   2017-12-26     13:23:01
146428  46625HRT9  2.562968   2017-12-27     16:37:24
146435  46625HRT9  2.535985   2017-12-28     16:00:00
146440  46625HRT9  2.498322   2017-12-29     11:27:26

[394 rows x 4 columns])
('471109AB4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
118015  471109AB4  2.875416   2015-01-05     15:59:08
118018  471109AB4  2.991795   2015-01-06     10:52:26
118023  471109AB4  2.971965   2015-01-07     14:26:35
118025  471109AB4  3.216819   2015-01-08     15:14:59
118033  471109AB4  2.590555   2015-01-09     16:34:00
...           ...       ...          ...          ...
119556  471109AB4  7.367262   2016-04-01     14:43:45
119560  471109AB4  7.919249   2016-04-05     11:35:00
119561  471109AB4  7.435045   2016-04-06     11:55:18
119565  471109AB4  7.453250   2016-04-07     12:11:27
119566  471109AB4  7.476090   2016-04-12     12:15:08

[291 rows x 4 columns])
('471109AM0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
119573  471109AM0  0.083435   2015-03-19     16:00:12
119576  471109AM0  0.037718   2015-03-23     14:24:41
119577  471109AM0  0.063942   2015-03-24     10:35:48
119578  471109AM0  0.078580   2015-03-25     10:28:47
119580  471109AM0  0.206656   2015-03-26     15:53:51
...           ...       ...          ...          ...
234328  471109AM0  0.274672   2016-10-06     11:39:12
234330  471109AM0  0.240124   2016-11-16     13:12:17
234332  471109AM0  0.238315   2016-11-30     12:57:48
234334  471109AM0  0.455505   2017-02-07     11:54:34
234342  471109AM0  0.183199   2017-08-22     12:35:41

[252 rows x 4 columns])
('48126BAA1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
120755  48126BAA1  4.135976   2015-01-05     15:00:06
120757  48126BAA1  4.154979   2015-01-08     12:55:29
120758  48126BAA1  4.097010   2015-01-12     14:55:42
120762  48126BAA1  4.146007   2015-01-13     12:34:46
120769  48126BAA1  4.127976   2015-01-14     14:16:06
...           ...       ...          ...          ...
122900  48126BAA1  3.819885   2017-12-19     14:13:12
122901  48126BAA1  3.824998   2017-12-21     10:45:43
122902  48126BAA1  3.807988   2017-12-26     15:07:33
122905  48126BAA1  3.794078   2017-12-27     12:31:26
122906  48126BAA1  3.726979   2017-12-28     11:28:12

[646 rows x 4 columns])
('50075NAT1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
178943  50075NAT1  4.361989   2015-01-05     10:11:55
178944  50075NAT1  4.310053   2015-01-13     12:08:03
178945  50075NAT1  3.959998   2015-01-27     10:57:33
178947  50075NAT1  4.210674   2015-01-30     11:28:53
178949  50075NAT1  4.068992   2015-02-02     15:46:23
178950  50075NAT1  4.516333   2015-02-10     11:21:04
178953  50075NAT1  4.511452   2015-02-13     13:22:23
178954  50075NAT1  4.275383   2015-03-04     16:12:21
178955  50075NAT1  4.602700   2015-03-13     11:41:09
178958  50075NAT1  4.425041   2015-03-20     11:13:56
178959  50075NAT1  4.541571   2015-03-25     16:45:00
178963  50075NAT1  4.113233   2015-03-27     12:39:17
178967  50075NAT1  4.497734   2015-03-31     13:36:34
178969  50075NAT1  4.479464   2015-04-06     12:08:43
178970  50075NAT1  4.474989   2015-04-30     12:54:39
178972  50075NAT1  4.975130   2015-06-19     13:17:07
178973  50075NAT1  4.878017   2015-06-30     14:19:31
178977  50075NAT1  4.870159   2015-08-12     14:45:33
178981  50075NAT1  4.789466   2015-08-31     11:49:28
178982  50075NAT1  5.027987   2015-09-25     10:47:22
178984  50075NAT1  4.897012   2015-10-15     12:23:40
178985  50075NAT1  5.210145   2015-10-27     16:20:18
178993  50075NAT1  4.904496   2015-10-28     16:49:07
178994  50075NAT1  5.276108   2015-11-06     14:40:38
178996  50075NAT1  5.267295   2015-12-02     14:10:46
178998  50075NAT1  5.305467   2015-12-17     13:25:34
179000  50075NAT1  5.238916   2015-12-18     12:22:15
179005  50075NAT1  4.992000   2015-12-21     12:05:24
179007  50075NAT1  5.383260   2015-12-30     13:25:41
179008  50075NAT1  4.819999   2016-02-10     10:00:02
179010  50075NAT1  4.352861   2016-04-08     12:07:25
179011  50075NAT1  4.629224   2016-05-02     06:55:00
179012  50075NAT1  4.659025   2016-05-13     12:13:28
179013  50075NAT1  4.682998   2016-05-19     10:16:09
179014  50075NAT1  4.472424   2016-07-13     12:54:23
179016  50075NAT1  4.309292   2016-08-03     08:12:36
179017  50075NAT1  4.396597   2016-08-10     09:18:10
179019  50075NAT1  4.413001   2016-08-17     15:51:22
179024  50075NAT1  4.217074   2016-08-23     14:51:06
179026  50075NAT1  4.296993   2016-10-19     17:00:57
179027  50075NAT1  4.352891   2016-10-25     09:34:51
179030  50075NAT1  5.038259   2016-12-16     13:31:46
179031  50075NAT1  4.724007   2017-01-09     15:06:05
179032  50075NAT1  4.954002   2017-02-03     09:10:36
179034  50075NAT1  4.785144   2017-02-08     13:59:59
179037  50075NAT1  4.791743   2017-02-21     11:44:19
179039  50075NAT1  5.142933   2017-03-09     09:43:18
179040  50075NAT1  4.821023   2017-04-13     13:00:26
179041  50075NAT1  4.630734   2017-04-18     11:23:43
179042  50075NAT1  4.639001   2017-07-25     12:37:29
179043  50075NAT1  4.664009   2017-08-15     09:14:51
179045  50075NAT1  4.652291   2017-11-06     12:34:12
179047  50075NAT1  4.622036   2017-12-18     14:20:05)
('50075NAU8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
176647  50075NAU8  1.683760   2015-02-12     12:54:38
176655  50075NAU8  1.679625   2015-02-13     12:04:04
177214  50075NAU8  1.759854   2016-02-05     09:49:26
177359  50075NAU8  1.601485   2016-04-06     11:49:51
177688  50075NAU8  1.328132   2016-11-07     11:01:26
178147  50075NAU8  1.528308   2017-04-19     10:44:27
178514  50075NAU8  1.755950   2017-08-18     10:59:11)
('50075NAV6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
179211  50075NAV6  2.451007   2015-03-20     14:04:23
179417  50075NAV6  2.029708   2015-07-08     08:57:29
179497  50075NAV6  2.632857   2015-08-07     09:49:33
179685  50075NAV6  2.598630   2015-10-08     15:32:19
179749  50075NAV6  1.989877   2015-11-12     11:20:00
179885  50075NAV6  2.395218   2016-02-16     16:21:23
180209  50075NAV6  1.607900   2016-07-12     11:32:56
180607  50075NAV6  2.068017   2016-12-16     10:31:12
180632  50075NAV6  2.873661   2016-12-27     12:19:15
180673  50075NAV6  2.120215   2017-01-11     13:20:24
181210  50075NAV6  2.230228   2017-09-20     09:46:59
181258  50075NAV6  2.608321   2017-10-05     11:06:59
181407  50075NAV6  2.365770   2017-11-20     09:16:51)
('50075NAW4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
181514  50075NAW4  4.396014   2015-02-04     15:39:13
181515  50075NAW4  4.533000   2015-02-06     16:58:10
181518  50075NAW4  4.662883   2015-02-10     13:50:21
181520  50075NAW4  4.588600   2015-02-18     08:40:52
181521  50075NAW4  4.567014   2015-02-20     16:02:56
...           ...       ...          ...          ...
181764  50075NAW4  4.709472   2017-10-03     11:42:37
181768  50075NAW4  4.529520   2017-10-05     08:08:33
181775  50075NAW4  4.725277   2017-11-02     14:40:27
181777  50075NAW4  4.451102   2017-11-21     11:12:08
181783  50075NAW4  4.716184   2017-12-26     14:59:26

[102 rows x 4 columns])
('50075NAZ7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
189066  50075NAZ7  4.316863   2015-01-02     10:29:21
189071  50075NAZ7  4.094009   2015-01-06     13:48:35
189072  50075NAZ7  4.167981   2015-01-07     12:33:49
189074  50075NAZ7  4.168025   2015-01-08     15:13:56
189079  50075NAZ7  4.165990   2015-01-09     15:01:16
...           ...       ...          ...          ...
189501  50075NAZ7  4.694014   2016-12-01     08:59:15
189502  50075NAZ7  4.680992   2016-12-02     15:03:05
189504  50075NAZ7  4.871775   2016-12-08     15:24:14
189506  50075NAZ7  4.636119   2017-01-23     15:40:18
189508  50075NAZ7  4.811996   2017-01-31     15:02:37

[179 rows x 4 columns])
('50075NBA1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
186331  50075NBA1  2.363040   2015-01-20     15:39:57
187547  50075NBA1  2.527590   2015-09-23     14:47:50
187901  50075NBA1  1.996275   2016-04-25     08:17:38
188270  50075NBA1  2.432653   2017-01-13     13:44:26
188330  50075NBA1  2.152324   2017-01-25     10:30:17
188865  50075NBA1  2.448367   2017-07-27     12:11:34
188893  50075NBA1  2.230156   2017-08-28     12:31:09
188963  50075NBA1  2.392175   2017-10-19     12:35:03
189050  50075NBA1  2.874456   2017-12-21     11:56:34)
('50075NBB9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
181787  50075NBB9  1.072424   2015-01-02     16:05:45
181796  50075NBB9  1.458394   2015-01-05     15:55:58
181805  50075NBB9  1.096343   2015-01-06     16:07:09
181815  50075NBB9  1.666968   2015-01-07     15:54:02
181828  50075NBB9  0.975152   2015-01-08     16:59:04
...           ...       ...          ...          ...
186175  50075NBB9  0.779036   2016-01-29     15:43:32
186182  50075NBB9  1.149479   2016-02-01     16:09:07
186189  50075NBB9  2.190162   2016-02-02     17:01:00
186191  50075NBB9  2.630933   2016-02-03     08:17:07
186199  50075NBB9  3.249182   2016-02-04     13:21:23

[273 rows x 4 columns])
('50076QAE6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
154983  50076QAE6  4.337223   2015-01-02     15:35:58
154993  50076QAE6  4.167875   2015-01-05     15:59:04
154999  50076QAE6  4.190974   2015-01-06     16:00:08
155018  50076QAE6  4.275041   2015-01-07     16:56:49
155027  50076QAE6  4.355323   2015-01-08     15:50:27
...           ...       ...          ...          ...
35299   50076QAE6  4.642981   2017-12-20     15:00:10
35302   50076QAE6  4.557992   2017-12-21     15:00:12
35303   50076QAE6  4.503924   2017-12-22     10:09:00
35305   50076QAE6  4.509998   2017-12-27     16:53:42
35308   50076QAE6  4.530985   2017-12-28     15:10:31

[692 rows x 4 columns])
('50076QAN6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
155982  50076QAN6  4.438990   2015-01-07     10:43:24
155985  50076QAN6  4.643003   2015-01-08     15:09:24
155986  50076QAN6  4.674998   2015-01-09     13:48:40
155990  50076QAN6  4.733233   2015-01-12     14:53:47
155992  50076QAN6  4.417744   2015-01-14     12:52:30
...           ...       ...          ...          ...
36205   50076QAN6  4.567021   2017-12-13     14:49:31
36208   50076QAN6  4.527985   2017-12-14     15:18:36
36212   50076QAN6  4.487023   2017-12-15     15:11:20
36214   50076QAN6  4.493005   2017-12-18     15:11:12
36218   50076QAN6  4.633194   2017-12-19     11:32:37

[459 rows x 4 columns])
('50076QAR7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
156252  50076QAR7  4.588634   2015-01-05     14:15:56
156253  50076QAR7  4.453977   2015-01-06     10:53:09
156255  50076QAR7  4.479009   2015-01-07     14:25:03
156259  50076QAR7  4.637026   2015-01-08     15:13:36
156262  50076QAR7  4.757404   2015-01-09     16:41:28
...           ...       ...          ...          ...
37367   50076QAR7  4.487970   2017-12-14     16:41:47
37369   50076QAR7  4.489137   2017-12-15     16:18:20
37370   50076QAR7  4.488016   2017-12-18     15:00:08
37373   50076QAR7  4.520970   2017-12-19     11:39:44
37374   50076QAR7  4.631986   2017-12-20     14:37:56

[535 rows x 4 columns])
('50076QAU0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
152423  50076QAU0  2.489031   2015-01-05     16:21:06
152425  50076QAU0  2.224004   2015-01-06     12:20:00
152434  50076QAU0  2.382965   2015-01-07     13:54:39
152453  50076QAU0  2.466967   2015-01-08     16:36:11
152463  50076QAU0  2.379942   2015-01-09     16:23:38
...           ...       ...          ...          ...
25352   50076QAU0  2.491038   2017-12-22     10:33:01
25356   50076QAU0  2.098691   2017-12-26     10:35:48
25367   50076QAU0  2.350021   2017-12-27     14:02:00
25376   50076QAU0  2.478972   2017-12-28     14:07:12
25379   50076QAU0  2.429058   2017-12-29     11:57:02

[666 rows x 4 columns])
('50076QAX4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
153267  50076QAX4  2.136429   2015-01-02     08:20:24
153274  50076QAX4  1.912122   2015-01-05     15:03:14
153280  50076QAX4  1.862766   2015-01-06     16:44:37
153281  50076QAX4  1.969889   2015-01-07     11:41:26
153282  50076QAX4  1.494285   2015-01-08     14:38:22
...           ...       ...          ...          ...
28842   50076QAX4  1.911308   2017-12-22     12:06:36
28847   50076QAX4  2.224973   2017-12-26     12:54:24
28853   50076QAX4  2.025106   2017-12-27     11:36:02
28854   50076QAX4  2.018270   2017-12-28     13:53:23
28857   50076QAX4  2.112230   2017-12-29     12:23:07

[679 rows x 4 columns])
('50076QAY2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
154387  50076QAY2  1.481908   2015-01-05     14:53:31
154397  50076QAY2  1.517164   2015-01-06     14:05:28
154404  50076QAY2  1.486791   2015-01-07     09:38:26
154406  50076QAY2  1.490208   2015-01-08     11:21:44
154408  50076QAY2  1.527390   2015-01-09     15:54:26
...           ...       ...          ...          ...
32689   50076QAY2  1.584527   2017-05-24     15:49:37
32691   50076QAY2  1.246155   2017-05-25     11:07:56
32699   50076QAY2  1.602263   2017-05-26     12:47:49
32702   50076QAY2  7.214679   2017-05-30     15:29:20
32704   50076QAY2  1.275785   2017-06-02     15:37:43

[536 rows x 4 columns])
('50076QAZ9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
156643  50076QAZ9  2.969970   2015-01-02     12:52:06

('539439AM1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
175688  539439AM1  4.319301   2016-11-02     14:49:10
175691  539439AM1  4.332934   2016-11-08     16:19:30
175699  539439AM1  4.509056   2016-11-10     14:36:21
175702  539439AM1  4.669007   2016-11-14     16:26:09
175707  539439AM1  4.635994   2016-11-16     16:46:44
...           ...       ...          ...          ...
176452  539439AM1  3.852012   2017-12-18     15:01:16
176456  539439AM1  3.909965   2017-12-20     14:08:55
176457  539439AM1  3.922059   2017-12-21     15:51:59
176458  539439AM1  3.906980   2017-12-26     12:18:54
176460  539439AM1  3.821953   2017-12-27     17:17:10

[230 rows x 4 columns])
('539439AN9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
175215  539439AN9  5.236032   2016-11-15     14:01:27
175216  539439AN9  5.189061   2016-11-17     12:40:47
175218  539439AN9  5.264003   2016-11-18     11:30:10
175221  539439AN9  5.289009   2016-11-21     15:02:10
175222  539439AN9  5.305027   2016-11-28     13:28:20
...           ...       ...          ...          ...
175676  539439AN9  4.160975   2017-12-18     10:14:13
175677  539439AN9  4.278999   2017-12-19     15:21:34
175681  539439AN9  4.282541   2017-12-20     15:40:35
175682  539439AN9  4.243021   2017-12-21     07:36:54
175685  539439AN9  4.252912   2017-12-22     12:28:31

[178 rows x 4 columns])
('53944VAA7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
172394  53944VAA7  1.923075   2015-01-08     11:22:33
172398  53944VAA7  1.777006   2015-01-12     15:22:52
172401  53944VAA7  1.817098   2015-01-13     15:04:02
172405  53944VAA7  1.810412   2015-01-14     15:02:00
172407  53944VAA7  1.720050   2015-01-16     11:58:57
...           ...       ...          ...          ...
173763  53944VAA7  1.862667   2017-01-10     13:27:24
173767  53944VAA7  1.706334   2017-01-11     16:56:02
173769  53944VAA7  1.882892   2017-01-13     15:37:17
173900  53944VAA7  2.104531   2017-04-18     13:39:00
174096  53944VAA7  1.969217   2017-12-07     13:07:31

[411 rows x 4 columns])
('53944VAG4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
174218  53944VAG4  1.784406   2015-05-12     16:43:35
174248  53944VAG4  1.619096   2015-05-14     15:02:10
174263  53944VAG4  1.588034   2015-05-15     15:26:37
174268  53944VAG4  1.656737   2015-05-18     11:59:09
174276  53944VAG4  1.709133   2015-05-19     15:55:15
...           ...       ...          ...          ...
175043  53944VAG4  1.865035   2017-01-10     12:47:36
175048  53944VAG4  1.799948   2017-01-11     12:00:45
175050  53944VAG4  1.832036   2017-01-25     12:58:11
175053  53944VAG4  1.763474   2017-01-27     14:20:19
175118  53944VAG4  1.526621   2017-07-05     12:08:39

[273 rows x 4 columns])
('53944XCQ6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
172308  53944XCQ6  3.105120   2016-02-12     12:19:16
172309  53944XCQ6  3.408104   2016-05-16     15:52:26
172315  53944XCQ6  2.930540   2016-05-20     12:03:59
172316  53944XCQ6  3.068735   2017-09-28     11:10:47
172320  53944XCQ6  2.583831   2017-10-03     11:26:33)
('539473AG3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
167424  539473AG3  0.423068   2015-11-16     16:46:57
167472  539473AG3  0.614139   2015-12-02     14:49:29)
('539473AH1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
167639  539473AH1  2.480779   2015-01-23     09:25:49
168133  539473AH1  2.762988   2015-08-13     10:53:51
168279  539473AH1  2.324948   2015-10-27     08:33:10
168502  539473AH1  2.807786   2016-02-01     16:04:00
169003  539473AH1  2.103042   2016-09-02     12:49:57
169062  539473AH1  2.290018   2016-10-12     13:27:20
169603  539473AH1  2.495809   2017-06-14     10:14:21)
('539473AQ1',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
170315  539473AQ1   1.487030   2015-01-05     13:08:55
170318  539473AQ1   1.595700   2015-01-09     14:42:16
170320  539473AQ1   1.318997   2015-01-12     11:38:26
170322  539473AQ1   1.092264   2015-01-15     09:55:55
170324  539473AQ1   1.258830   2015-01-16     13:18:40
...           ...        ...          ...          ...
172290  539473AQ1   1.734597   2017-03-13     10:06:25
172295  539473AQ1   1.595570   2017-03-16     11:47:51
172296  539473AQ1   1.763496   2017-03-17     15:12:30
172298  539473AQ1  22.731679   2017-03-20     13:21:46
172301  539473AQ1  18.263645   2017-03-23     13:06:00

[433 rows x 4 columns])
('55279HAD2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
230185  55279HAD2  1.430214   2015-01-07     14:05:41
230186  55279HAD2  1.197483   2015-01-21     14:18:00
230187  55279HAD2  1.170868   2015-01-26     12:55:00
230189  55279HAD2  0.828876   2015-01-28     13:57:58
230192  55279HAD2  1.130068   2015-01-29     16:10:09
...           ...       ...          ...          ...
230524  55279HAD2  1.280704   2016-12-16     13:20:15
230525  55279HAD2  0.965207   2016-12-19     09:29:53
230527  55279HAD2  1.243652   2016-12-21     10:23:59
230532  55279HAD2  0.732006   2016-12-22     10:55:04
230533  55279HAD2  1.322049   2016-12-23     10:48:25

[157 rows x 4 columns])
('577778AS2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
176476  577778AS2  6.805656   2016-07-13     13:08:27)
('59156RBK3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
195503  59156RBK3  1.515006   2015-01-05     16:16:20
195507  59156RBK3  1.151977   2015-01-06     15:44:39
195514  59156RBK3  1.386104   2015-01-07     13:25:18
195518  59156RBK3  1.493137   2015-01-08     15:46:26
195521  59156RBK3  1.306415   2015-01-09     15:16:26
...           ...       ...          ...          ...
198353  59156RBK3  1.601622   2017-11-30     17:02:00
198354  59156RBK3  1.500490   2017-12-01     09:58:49
198359  59156RBK3  1.760317   2017-12-05     15:01:21
198360  59156RBK3  1.715168   2017-12-07     14:45:54
198364  59156RBK3  1.535759   2017-12-12     14:35:00

[590 rows x 4 columns])
('59156RBL1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
198369  59156RBL1  3.936033   2015-01-05     15:10:04
198370  59156RBL1  3.861022   2015-01-06     13:31:24
198371  59156RBL1  3.890108   2015-01-07     13:36:57
198372  59156RBL1  3.948001   2015-01-08     15:18:34
198376  59156RBL1  3.888126   2015-01-09     16:17:14
...           ...       ...          ...          ...
199056  59156RBL1  3.910631   2017-12-07     15:00:03
199059  59156RBL1  3.847496   2017-12-12     15:04:47
199061  59156RBL1  4.036399   2017-12-13     13:36:28
199062  59156RBL1  3.741512   2017-12-15     14:25:26
199066  59156RBL1  4.020784   2017-12-20     13:22:58

[379 rows x 4 columns])
('6174467N3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
199073  6174467N3  0.903697   2015-01-02     13:37:31
199086  6174467N3  0.451922   2015-01-05     13:35:54
199092  6174467N3  1.395607   2015-01-06     14:38:53
199098  6174467N3  0.633338   2015-01-07     12:15:36
199102  6174467N3  0.654166   2015-01-08     14:50:40
...           ...       ...          ...          ...
199604  6174467N3  1.906174   2015-07-09     14:24:31
199605  6174467N3  0.666778   2015-07-10     09:15:20
199613  6174467N3  0.674636   2015-07-13     16:29:12
199614  6174467N3  2.000027   2015-07-14     10:00:00
199616  6174467N3  0.745129   2015-07-17     11:05:35

[119 rows x 4 columns])
('61746BED4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
221131  61746BED4  2.735090   2016-11-15     12:00:43
221211  61746BED4  2.786017   2016-11-17     17:06:04
221240  61746BED4  2.845925   2016-11-18     17:10:30
221261  61746BED4  2.828038   2016-11-21     15:48:39
221309  61746BED4  2.515814   2016-11-22     16:52:43
...           ...       ...          ...          ...
230053  61746BED4  2.770093   2017-12-22     12:53:39
230089  61746BED4  2.737873   2017-12-26     15:47:03
230115  61746BED4  2.687888   2017-12-27     15:45:17
230133  61746BED4  2.737055   2017-12-28     14:47:00
230172  61746BED4  2.704750   2017-12-29     13:47:28

[281 rows x 4 columns])
('61747YDW2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
200586  61747YDW2  2.498188   2015-01-23     04:50:42
200686  61747YDW2  2.526924   2015-01-26     10:56:45
200830  61747YDW2  2.401070   2015-01-28     18:29:00
200892  61747YDW2  2.433077   2015-01-29     16:53:50
200941  61747YDW2  2.277978   2015-01-30     16:27:58
...           ...       ...          ...          ...
217826  61747YDW2  2.428611   2017-12-22     13:03:36
217859  61747YDW2  2.465923   2017-12-26     16:11:56
217888  61747YDW2  2.440441   2017-12-27     15:50:55
217922  61747YDW2  2.415320   2017-12-28     16:03:41
217941  61747YDW2  2.498679   2017-12-29     12:52:41

[738 rows x 4 columns])
('63743FVY9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234235  63743FVY9  3.226678   2016-01-29     10:28:08
234237  63743FVY9  3.264251   2016-02-17     11:28:07
234242  63743FVY9  3.099787   2017-01-18     13:18:01
234245  63743FVY9  3.385189   2017-01-26     12:44:04
234247  63743FVY9  3.353415   2017-04-05     15:15:13
234251  63743FVY9  3.012681   2017-04-06     15:54:48
234252  63743FVY9  3.225420   2017-05-01     13:00:35)
('63743FXH4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234267  63743FXH4  3.384958   2016-01-05     10:22:53
234271  63743FXH4  3.638877   2016-03-23     13:22:55
234275  63743FXH4  3.521230   2016-03-28     15:13:25
234277  63743FXH4  3.531869   2016-03-29     14:31:28
234281  63743FXH4  3.411292   2016-04-01     10:18:38
234282  63743FXH4  3.163678   2016-07-06     09:47:01
234288  63743FXH4  3.290058   2016-08-31     13:05:04
234293  63743FXH4  3.600492   2016-11-14     16:54:20
234294  63743FXH4  3.516684   2016-11-16     13:48:00
234296  63743FXH4  3.307717   2017-02-10     14:20:15
234301  63743FXH4  3.422432   2017-05-12     15:11:32
234302  63743FXH4  3.364321   2017-08-15     12:30:16
234304  63743FXH4  3.281032   2017-08-16     09:04:54
234306  63743FXH4  3.091805   2017-08-17     15:37:26
234307  63743FXH4  3.091710   2017-08-18     14:07:17
234308  63743FXH4  3.091615   2017-08-21     15:01:23
234312  63743FXH4  3.091566   2017-08-22     15:40:06
234314  63743FXH4  3.171051   2017-08-29     14:03:34
234316  63743FXH4  3.076068   2017-08-31     13:04:12
234317  63743FXH4  3.074889   2017-09-14     12:51:45
234320  63743FXH4  3.055695   2017-11-07     09:05:41)
('652478AL2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234343  652478AL2  4.002376   2015-01-07     10:05:12
234349  652478AL2  3.910367   2015-01-12     16:25:43
234353  652478AL2  4.029954   2015-01-14     16:21:39
234354  652478AL2  3.817586   2015-01-15     09:58:25
234355  652478AL2  3.419004   2015-01-28     16:29:10
234356  652478AL2  3.491801   2015-02-11     13:07:03
234359  652478AL2  3.484370   2015-02-12     15:43:27
234361  652478AL2  3.589165   2015-02-24     13:28:09
234362  652478AL2  3.739521   2015-03-04     16:24:55
234364  652478AL2  3.695156   2015-03-09     16:03:17
234369  652478AL2  3.582357   2015-03-10     14:45:03
234370  652478AL2  3.979190   2015-03-16     15:35:19
234373  652478AL2  4.235311   2015-03-19     15:46:50
234375  652478AL2  4.049269   2015-03-20     11:05:23
234381  652478AL2  3.707916   2015-03-25     15:04:51
234382  652478AL2  4.204034   2015-03-26     15:41:31
234383  652478AL2  3.563248   2015-03-27     10:07:46
234386  652478AL2  3.895092   2015-03-30     12:27:19
234388  652478AL2  3.828425   2015-04-02     11:40:51
234415  652478AL2  3.602980   2015-04-06     15:34:51)
('652478AQ1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234419  652478AQ1  1.980222   2015-01-12     11:53:20
234420  652478AQ1  1.723874   2015-01-15     13:47:54
234421  652478AQ1  1.954096   2015-02-10     11:06:52
234424  652478AQ1  1.842080   2015-02-12     16:42:54
234425  652478AQ1  2.063873   2015-03-10     13:50:20
234426  652478AQ1  2.278933   2015-03-16     16:55:23
234427  652478AQ1  1.961096   2015-03-23     10:31:36
234431  652478AQ1  1.881821   2015-03-31     15:49:00
234433  652478AQ1  1.778935   2015-04-03     09:14:33
234435  652478AQ1  1.767890   2015-04-06     09:14:33
234437  652478AQ1  2.036089   2015-04-08     16:02:38)
('652478AU2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234439  652478AU2  4.398410   2015-02-05     16:07:06
234441  652478AU2  3.913911   2015-02-13     13:18:02
234444  652478AU2  4.764473   2015-02-24     10:50:17
234446  652478AU2  3.986181   2015-02-25     16:08:13
234448  652478AU2  4.211994   2015-03-04     16:31:22
234450  652478AU2  4.562478   2015-03-18     14:55:06
234452  652478AU2  4.079053   2015-03-25     10:20:05)
('652478AY4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234454  652478AY4  2.517973   2015-01-06     15:27:03
234461  652478AY4  0.983004   2015-01-08     13:46:44
234462  652478AY4  1.431833   2015-01-20     16:32:08
234464  652478AY4  3.743525   2015-01-23     15:15:21
234466  652478AY4  1.273097   2015-01-27     16:20:25
234469  652478AY4  0.879689   2015-01-28     15:13:40
234470  652478AY4  1.490150   2015-01-30     12:03:41
234472  652478AY4  1.026717   2015-02-05     08:46:30
234473  652478AY4  1.392522   2015-02-17     09:50:00
234474  652478AY4  0.987099   2015-02-27     11:32:00
234480  652478AY4  3.915768   2015-03-02     16:26:54
234485  652478AY4  0.900631   2015-03-03     16:43:58
234487  652478AY4  2.307731   2015-03-06     09:57:35
234493  652478AY4  1.479999   2015-03-23     13:50:46
234494  652478AY4  0.970602   2015-03-27     14:21:57
234496  652478AY4  0.821006   2015-03-31     09:46:53
234497  652478AY4  2.112025   2015-04-02     14:32:43
234502  652478AY4  0.826737   2015-04-06     10:19:52
234504  652478AY4  1.798229   2015-04-08     12:34:52)
('652478AZ1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234508  652478AZ1  4.184619   2015-01-22     12:10:10
234509  652478AZ1  3.763403   2015-01-29     15:29:35
234511  652478AZ1  4.315214   2015-03-19     09:54:26
234515  652478AZ1  4.184469   2015-03-20     10:50:15)
('652478BX5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234516  652478BX5  1.215998   2015-01-22     10:09:11
234518  652478BX5  1.104773   2015-02-18     16:27:30
234519  652478BX5  1.411709   2015-02-19     12:50:00
234520  652478BX5  1.037056   2015-02-24     15:13:12
234521  652478BX5  1.353852   2015-02-27     15:11:39
234523  652478BX5  1.085791   2015-03-03     13:24:00
234524  652478BX5  1.405096   2015-03-09     15:03:12
234526  652478BX5  1.184052   2015-03-11     15:40:00
234527  652478BX5  1.194393   2015-03-12     16:50:00
234531  652478BX5  1.040743   2015-03-26     12:03:52
234532  652478BX5  1.081200   2015-03-30     13:01:00
234537  652478BX5  1.232959   2015-04-08     12:36:56
234542  652478BX5  0.941843   2015-04-09     15:07:04)
('652478BY3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234544  652478BY3  4.592784   2015-01-09     09:48:56
234545  652478BY3  4.339994   2015-01-14     15:09:48
234546  652478BY3  4.883014   2015-03-09     15:00:01
234547  652478BY3  4.649013   2015-03-23     10:02:23
234551  652478BY3  4.481025   2015-03-26     12:22:20)
('652478BZ0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234552  652478BZ0  5.775009   2015-01-02     12:11:27
234556  652478BZ0  5.641783   2015-01-08     09:38:44
234558  652478BZ0  5.591322   2015-01-26     11:10:37
234561  652478BZ0  5.595027   2015-02-11     15:14:41
234565  652478BZ0  5.713988   2015-02-13     10:16:39
234567  652478BZ0  5.802012   2015-02-17     16:24:36
234569  652478BZ0  5.753749   2015-02-19     14:29:15
234571  652478BZ0  5.737120   2015-02-20     10:45:19
234574  652478BZ0  5.668104   2015-02-25     08:59:06
234575  652478BZ0  6.060894   2015-03-13     09:39:58
234578  652478BZ0  5.742082   2015-03-18     09:50:50
234580  652478BZ0  5.849041   2015-03-30     14:32:45)
('652482AJ9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234582  652482AJ9  4.310866   2015-01-06     14:49:03
234583  652482AJ9  4.281819   2015-01-07     09:32:18
234584  652482AJ9  4.219997   2015-01-23     10:24:07
234585  652482AJ9  4.050078   2015-01-26     08:34:00
234590  652482AJ9  4.344982   2015-02-20     14:48:07
234591  652482AJ9  4.432040   2015-03-26     15:41:34
234596  652482AJ9  4.305012   2015-03-27     13:28:51
234598  652482AJ9  4.279356   2015-04-01     08:23:11
234600  652482AJ9  4.268981   2015-04-09     15:16:31
234602  652482AJ9  4.591755   2015-04-16     16:10:08)
('652482AM2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234603  652482AM2  1.913333   2015-01-02     08:19:20
234604  652482AM2  1.894112   2015-01-07     09:58:06
234605  652482AM2  1.738004   2015-01-14     10:58:02
234606  652482AM2  1.570083   2015-01-15     12:21:36
234607  652482AM2  1.608535   2015-01-20     13:44:14
234610  652482AM2  1.710874   2015-01-22     16:47:19
234611  652482AM2  1.731910   2015-01-29     12:08:35
234613  652482AM2  1.707873   2015-02-05     15:45:00
234616  652482AM2  1.790772   2015-02-09     13:36:13
234621  652482AM2  1.929936   2015-02-10     15:50:56
234622  652482AM2  1.712914   2015-02-18     15:06:50
234623  652482AM2  1.937882   2015-02-20     15:11:22
234625  652482AM2  1.925881   2015-03-03     16:38:17
234626  652482AM2  1.752052   2015-03-04     09:10:07
234627  652482AM2  1.743120   2015-03-05     09:38:00
234628  652482AM2  1.715091   2015-03-12     15:50:03
234629  652482AM2  1.885029   2015-03-30     15:48:01)
('652482AT7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234631  652482AT7  4.712971   2015-01-02     14:03:38
234632  652482AT7  4.133648   2015-01-13     08:40:44
234633  652482AT7  4.345024   2015-02-10     15:11:28
234634  652482AT7  4.235238   2015-02-11     09:16:18
234635  652482AT7  4.451006   2015-03-11     15:48:53
234638  652482AT7  4.313412   2015-03-12     09:33:59
234642  652482AT7  4.456099   2015-03-13     15:15:49
234644  652482AT7  4.446438   2015-03-16     14:49:16
234647  652482AT7  4.265085   2015-03-25     16:45:34
234649  652482AT7  4.190015   2015-04-06     16:01:58
234650  652482AT7  4.217534   2015-04-08     12:16:32)
('652482AU4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234652  652482AU4  4.224029   2015-01-14     10:57:31
234653  652482AU4  4.412978   2015-03-02     12:02:38
234655  652482AU4  4.126167   2015-03-19     16:46:13)
('652482AX8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234656  652482AX8  4.208174   2015-01-06     08:21:38
234662  652482AX8  4.248054   2015-01-07     10:43:25
234663  652482AX8  4.100970   2015-01-20     11:15:14
234664  652482AX8  4.157292   2015-01-23     09:14:50
234669  652482AX8  4.054023   2015-01-26     11:05:19
234672  652482AX8  3.971723   2015-02-03     14:20:15
234673  652482AX8  4.250034   2015-02-09     15:12:32
234674  652482AX8  4.275968   2015-02-10     15:09:49
234675  652482AX8  4.367968   2015-02-20     11:06:23
234676  652482AX8  4.313971   2015-02-26     11:07:06
234679  652482AX8  4.264254   2015-03-02     11:21:14
234681  652482AX8  4.286944   2015-03-05     14:43:39
234684  652482AX8  4.331024   2015-03-10     14:47:08
234685  652482AX8  4.417019   2015-03-16     11:07:34
234686  652482AX8  4.307215   2015-03-20     08:26:32
234687  652482AX8  4.162017   2015-03-23     12:55:53
234688  652482AX8  4.192976   2015-03-26     15:16:04
234689  652482AX8  4.076022   2015-04-02     11:07:58
234690  652482AX8  4.075036   2015-04-06     15:13:02
234692  652482AX8  4.142664   2015-04-07     15:20:34)
('652482BC3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234694  652482BC3  3.892015   2015-01-13     13:38:19
234695  652482BC3  3.835005   2015-01-26     11:43:43
234698  652482BC3  3.867744   2015-01-27     17:09:39
234699  652482BC3  3.886989   2015-01-28     11:10:15
234700  652482BC3  3.773997   2015-01-29     11:04:26
234702  652482BC3  3.816496   2015-02-05     16:16:28
234703  652482BC3  4.131979   2015-02-11     10:11:37
234704  652482BC3  4.067971   2015-02-19     11:48:11
234705  652482BC3  4.018982   2015-02-26     15:08:23

('681904AQ1',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
242776  681904AQ1   2.070981   2015-01-02     10:08:31
242789  681904AQ1   2.642410   2015-01-05     15:53:39
242799  681904AQ1   2.811350   2015-01-06     14:44:16
242808  681904AQ1   3.082337   2015-01-07     14:41:02
242823  681904AQ1   3.070839   2015-01-08     15:56:46
...           ...        ...          ...          ...
50683   681904AQ1  10.212194   2015-08-27     15:59:34
50684   681904AQ1  10.213376   2015-09-01     11:13:47
50686   681904AQ1  10.148943   2015-09-03     15:30:11
50689   681904AQ1   1.520497   2015-09-22     15:40:32
50693   681904AQ1   1.521726   2015-09-24     12:04:10

[157 rows x 4 columns])
('690768BF2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
243973  690768BF2  3.425213   2015-01-02     10:04:13
243974  690768BF2  3.792099   2015-01-05     12:16:21
243979  690768BF2  3.751914   2015-01-06     14:17:03
243980  690768BF2  3.843218   2015-01-07     12:20:07
243983  690768BF2  3.727229   2015-01-09     11:08:45
...           ...       ...          ...          ...
244792  690768BF2  2.208073   2017-11-14     13:08:35
244796  690768BF2  1.746301   2017-11-28     09:47:10
244799  690768BF2  4.017668   2017-12-05     13:36:35
244801  690768BF2  2.985340   2017-12-11     15:20:42
244804  690768BF2  3.183631   2017-12-21     14:14:12

[322 rows x 4 columns])
('693476BF9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
301724  693476BF9  2.361071   2015-01-02     09:20:24
301727  693476BF9  2.376068   2015-01-05     15:00:00
301732  693476BF9  2.199839   2015-01-06     16:58:06
301733  693476BF9  2.174806   2015-01-07     15:29:01
301735  693476BF9  2.228921   2015-01-08     09:43:19
...           ...       ...          ...          ...
303249  693476BF9  2.246479   2017-12-20     16:04:35
303252  693476BF9  2.380587   2017-12-21     14:04:00
303256  693476BF9  2.271451   2017-12-22     10:55:31
303264  693476BF9  2.543234   2017-12-26     12:56:19
303265  693476BF9  2.528836   2017-12-27     12:23:24

[519 rows x 4 columns])
('69353RCG1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
303318  69353RCG1  1.060302   2015-01-02     13:06:36
303319  69353RCG1  1.055075   2015-01-05     10:54:00
303320  69353RCG1  1.138786   2015-01-06     13:28:41
303322  69353RCG1  0.716010   2015-01-07     13:53:36
303325  69353RCG1  0.884850   2015-01-09     14:55:51
...           ...       ...          ...          ...
304237  69353RCG1  1.709097   2016-12-23     09:04:05
304240  69353RCG1  1.602850   2016-12-29     08:11:45
304244  69353RCG1  0.846373   2017-01-03     13:20:20
304248  69353RCG1  0.929593   2017-01-05     16:23:38
304252  69353RCG1  1.119264   2017-01-10     13:17:48

[319 rows x 4 columns])
('69353RDY1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
304255  69353RDY1  1.438942   2015-01-05     10:18:55
304256  69353RDY1  1.415869   2015-01-15     16:29:50
304259  69353RDY1  1.200148   2015-01-20     14:39:00
304261  69353RDY1  1.100069   2015-01-21     13:09:43
304264  69353RDY1  1.276706   2015-01-23     13:38:59
...           ...       ...          ...          ...
304814  69353RDY1  1.473376   2017-09-06     15:12:44
304818  69353RDY1  1.383762   2017-09-07     15:53:35
304819  69353RDY1  1.441280   2017-09-08     13:56:48
304820  69353RDY1  1.461189   2017-09-11     11:17:03
304821  69353RDY1  1.501469   2017-09-12     10:09:03

[254 rows x 4 columns])
('706451BD2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
245212  706451BD2  5.904070   2015-02-11     12:15:57
245216  706451BD2  5.826065   2015-02-18     10:02:26
245223  706451BD2  5.690029   2015-02-24     15:34:44
245225  706451BD2  5.727688   2015-02-27     13:30:20
245231  706451BD2  5.748606   2015-03-02     16:58:52
...           ...       ...          ...          ...
245726  706451BD2  4.841706   2017-11-16     12:16:54
245728  706451BD2  5.433068   2017-12-04     16:09:54
245737  706451BD2  5.188022   2017-12-14     14:33:30
245744  706451BD2  5.110679   2017-12-26     14:57:01
245750  706451BD2  4.878067   2017-12-27     14:37:58

[161 rows x 4 columns])
('718172AA7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
248660  718172AA7  1.635565   2015-01-02     15:31:52
248671  718172AA7  1.756004   2015-01-05     16:16:02
248682  718172AA7  1.644117   2015-01-06     14:43:22
248695  718172AA7  1.632209   2015-01-07     16:08:57
248709  718172AA7  1.609978   2015-01-08     16:33:08
...           ...       ...          ...          ...
265668  718172AA7  1.791895   2017-12-22     13:30:58
265684  718172AA7  2.039951   2017-12-26     16:03:16
265738  718172AA7  2.138722   2017-12-27     16:31:36
265773  718172AA7  2.035106   2017-12-28     15:58:37
265798  718172AA7  2.898342   2017-12-29     13:53:01

[751 rows x 4 columns])
('718172AC3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
247154  718172AC3  4.234028   2015-01-02     10:32:23
247155  718172AC3  4.254049   2015-01-05     15:05:07
247171  718172AC3  4.171004   2015-01-06     15:01:10
247172  718172AC3  4.249999   2015-01-07     09:34:17
247174  718172AC3  4.241447   2015-01-08     14:40:00
...           ...       ...          ...          ...
248649  718172AC3  3.852407   2017-12-19     10:33:21
248651  718172AC3  3.957287   2017-12-20     15:07:10
248652  718172AC3  3.873965   2017-12-22     12:02:45
248653  718172AC3  4.082901   2017-12-26     07:18:09
248655  718172AC3  3.900308   2017-12-27     08:42:17

[536 rows x 4 columns])
('718172AH2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
265800  718172AH2  2.232823   2015-01-07     14:06:25
265805  718172AH2  2.236573   2015-01-09     14:01:33
265807  718172AH2  2.141109   2015-01-12     13:41:57
265808  718172AH2  2.237352   2015-01-13     07:33:08
265810  718172AH2  1.976043   2015-01-15     13:52:45
...           ...       ...          ...          ...
268543  718172AH2  2.385135   2017-12-21     13:46:07
268546  718172AH2  2.410154   2017-12-26     13:07:48
268552  718172AH2  2.226247   2017-12-27     13:06:40
268558  718172AH2  2.267477   2017-12-28     15:24:23
268562  718172AH2  2.348819   2017-12-29     09:29:00

[642 rows x 4 columns])
('718172AL3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
268565  718172AL3  2.569124   2015-01-05     11:32:41
268568  718172AL3  2.571216   2015-01-06     15:02:55
268569  718172AL3  2.539821   2015-01-07     08:20:53
268571  718172AL3  2.474030   2015-01-08     11:56:08
268572  718172AL3  2.518043   2015-01-09     13:03:16
...           ...       ...          ...          ...
272752  718172AL3  2.641077   2017-12-22     12:26:00
272757  718172AL3  2.596989   2017-12-26     15:15:21
272765  718172AL3  2.682553   2017-12-27     14:03:29
272770  718172AL3  2.789696   2017-12-28     14:38:27
272772  718172AL3  2.547073   2017-12-29     10:48:35

[677 rows x 4 columns])
('718172AM1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
272773  718172AM1  4.038007   2015-01-07     12:37:25
272775  718172AM1  3.997001   2015-01-08     12:53:09
272777  718172AM1  3.989982   2015-01-12     15:42:11
272779  718172AM1  3.970973   2015-01-13     15:06:09
272780  718172AM1  4.030996   2015-01-16     15:34:50
...           ...       ...          ...          ...
274060  718172AM1  4.037034   2017-12-20     15:44:51
274061  718172AM1  3.975871   2017-12-21     14:47:09
274064  718172AM1  4.004447   2017-12-22     12:29:38
274067  718172AM1  3.950981   2017-12-26     16:20:30
274069  718172AM1  3.904160   2017-12-27     15:38:37

[489 rows x 4 columns])
('718172AN9',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
274073  718172AN9   1.023136   2015-01-07     14:34:22
274074  718172AN9   1.006903   2015-01-09     09:52:08
274077  718172AN9   0.975375   2015-01-13     15:50:51
274079  718172AN9   1.047265   2015-01-14     15:34:39
274084  718172AN9   0.911946   2015-01-15     12:09:15
...           ...        ...          ...          ...
275484  718172AN9  11.841924   2017-03-09     15:29:23
275486  718172AN9   1.397916   2017-03-10     14:55:36
275488  718172AN9   1.612192   2017-03-13     15:35:08
275490  718172AN9   1.373995   2017-03-14     10:37:17
275491  718172AN9   1.016825   2017-03-15     15:52:50

[440 rows x 4 columns])
('718172AP4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
275496  718172AP4  4.022975   2015-01-05     15:13:48
275497  718172AP4  3.923980   2015-01-07     15:11:01
275498  718172AP4  3.975021   2015-01-12     10:57:38
275501  718172AP4  4.044026   2015-01-13     12:50:26
275503  718172AP4  3.976460   2015-01-14     13:40:05
...           ...       ...          ...          ...
276276  718172AP4  3.920977   2017-12-14     14:21:03
276279  718172AP4  4.013999   2017-12-19     15:01:08
276284  718172AP4  4.088021   2017-12-20     15:00:05
276286  718172AP4  3.996008   2017-12-26     11:08:29
276288  718172AP4  3.907292   2017-12-27     16:49:56

[371 rows x 4 columns])
('718172AS8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
276292  718172AS8  1.182040   2015-01-05     15:03:24
276311  718172AS8  1.185998   2015-01-06     14:08:11
276315  718172AS8  1.062932   2015-01-07     15:04:24
276317  718172AS8  1.175701   2015-01-08     11:09:39
276321  718172AS8  1.113174   2015-01-09     12:19:24
...           ...       ...          ...          ...
278488  718172AS8  1.121407   2017-08-01     11:28:20
278489  718172AS8  1.422349   2017-08-03     10:13:59
278491  718172AS8  1.444787   2017-08-07     11:39:21
278493  718172AS8  1.111719   2017-08-11     10:16:14
278497  718172AS8  1.620253   2017-08-16     10:53:00

[545 rows x 4 columns])
('718172AT6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
278498  718172AT6  2.489520   2015-01-06     10:54:48
278502  718172AT6  2.396340   2015-01-07     12:26:36
278505  718172AT6  2.661043   2015-01-08     16:13:05
278507  718172AT6  2.504604   2015-01-09     15:39:51
278510  718172AT6  2.623960   2015-01-13     15:17:56
...           ...       ...          ...          ...
281609  718172AT6  2.756797   2017-12-22     12:46:19
281618  718172AT6  2.740940   2017-12-26     15:14:09
281631  718172AT6  2.694618   2017-12-27     14:42:04
281638  718172AT6  2.706998   2017-12-28     15:56:17
281639  718172AT6  2.652318   2017-12-29     10:57:28

[676 rows x 4 columns])
('718172AU3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
281643  718172AU3  4.073584   2015-01-05     16:03:02
281645  718172AU3  3.989030   2015-01-06     15:42:27
281647  718172AU3  3.926170   2015-01-07     15:56:00
281649  718172AU3  4.050017   2015-01-08     15:00:08
281653  718172AU3  4.030999   2015-01-09     15:01:16
...           ...       ...          ...          ...
283173  718172AU3  3.840987   2017-12-14     11:51:06
283174  718172AU3  3.835270   2017-12-15     14:28:46
283175  718172AU3  3.855025   2017-12-18     12:20:06
283178  718172AU3  3.863363   2017-12-21     13:04:00
283182  718172AU3  3.702551   2017-12-27     14:32:49

[559 rows x 4 columns])
('718172AV1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
285061  718172AV1  2.979023   2015-01-02     13:56:20
285063  718172AV1  2.663267   2015-01-05     16:14:09
285064  718172AV1  2.771484   2015-01-06     14:41:31
285065  718172AV1  2.778011   2015-01-07     16:14:24
285068  718172AV1  2.933186   2015-01-08     08:50:25
...           ...       ...          ...          ...
286936  718172AV1  2.858508   2017-12-22     11:21:04
286940  718172AV1  2.773038   2017-12-26     15:17:12
286945  718172AV1  2.719020   2017-12-27     14:06:43
286949  718172AV1  2.829995   2017-12-28     15:55:48
286955  718172AV1  2.762947   2017-12-29     11:26:41

[597 rows x 4 columns])
('718172AW9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
283202  718172AW9  4.185387   2015-01-02     14:02:23
283204  718172AW9  4.060014   2015-01-05     10:24:33
283206  718172AW9  4.013981   2015-01-06     09:29:21
283209  718172AW9  3.973018   2015-01-07     15:10:11
283213  718172AW9  3.925951   2015-01-08     15:55:17
...           ...       ...          ...          ...
285054  718172AW9  4.072018   2017-12-20     15:00:06
285056  718172AW9  4.024001   2017-12-21     12:06:38
285058  718172AW9  3.981001   2017-12-26     09:43:04
285059  718172AW9  3.923592   2017-12-27     13:40:39
285060  718172AW9  3.915994   2017-12-28     08:17:31

[600 rows x 4 columns])
('718172BD0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
292654  718172BD0  4.047976   2015-01-05     15:00:44
292657  718172BD0  4.006990   2015-01-06     10:55:48
292658  718172BD0  3.973008   2015-01-07     15:04:18
292659  718172BD0  3.996019   2015-01-12     13:59:17
292662  718172BD0  4.067999   2015-01-13     12:50:03
...           ...       ...          ...          ...
294073  718172BD0  3.921174   2017-12-15     16:11:51
294077  718172BD0  3.836276   2017-12-18     14:30:10
294078  718172BD0  4.048990   2017-12-19     14:26:11
294079  718172BD0  4.092016   2017-12-20     14:18:17
294080  718172BD0  4.082014   2017-12-21     10:12:24

[529 rows x 4 columns])
('718172BE8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
286957  718172BE8  2.960995   2015-01-02     12:21:48
286960  718172BE8  2.891909   2015-01-05     15:30:15
286961  718172BE8  2.811035   2015-01-06     11:55:44
286966  718172BE8  2.988549   2015-01-08     15:32:59
286969  718172BE8  2.848959   2015-01-12     08:58:31
...           ...       ...          ...          ...
289021  718172BE8  2.870530   2017-12-18     12:07:55
289024  718172BE8  2.900045   2017-12-20     10:34:48
289036  718172BE8  2.875902   2017-12-21     15:22:24
289041  718172BE8  2.763736   2017-12-27     16:16:46
289043  718172BE8  2.473666   2017-12-29     12:16:38

[571 rows x 4 columns])
('718172BF5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
289045  718172BF5  2.135719   2015-01-02     10:43:49
289046  718172BF5  1.825976   2015-01-05     12:51:58
289052  718172BF5  1.891065   2015-01-06     17:18:24
289056  718172BF5  1.838072   2015-01-07     13:13:49
289060  718172BF5  1.783102   2015-01-08     15:05:26
...           ...       ...          ...          ...
292596  718172BF5  1.919902   2017-12-21     12:37:00
292601  718172BF5  1.990001   2017-12-26     15:48:06
292612  718172BF5  2.170553   2017-12-27     14:09:11
292627  718172BF5  2.059007   2017-12-28     14:50:20
292650  718172BF5  2.062866   2017-12-29     13:44:01

[688 rows x 4 columns])
('718172BL2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
299205  718172BL2  4.152009   2015-01-02     10:07:34
299211  718172BL2  4.008989   2015-01-05     15:30:22
299214  718172BL2  3.995022   2015-01-06     16:01:19
299215  718172BL2  4.008023   2015-01-08     12:38:29
299218  718172BL2  4.009862   2015-01-09     15:34:01
...           ...       ...          ...          ...
301711  718172BL2  3.982976   2017-12-21     15:00:10
301717  718172BL2  3.994455   2017-12-22     12:30:56
301721  718172BL2  3.775884   2017-12-27     13:32:59
301722  718172BL2  3.913011   2017-12-28     07:53:18
301723  718172BL2  3.890018   2017-12-29     13:00:11

[664 rows x 4 columns])
('718172BM0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
294081  718172BM0  3.160997   2015-01-02     09:24:52
294085  718172BM0  3.022277   2015-01-05     15:07:05
294086  718172BM0  2.984970   2015-01-06     11:33:18
294087  718172BM0  2.939032   2015-01-07     12:47:58
294090  718172BM0  2.939033   2015-01-12     13:13:39
...           ...       ...          ...          ...
297265  718172BM0  2.959589   2017-12-22     12:19:55
297269  718172BM0  3.002999   2017-12-26     15:08:17
297273  718172BM0  2.935970   2017-12-27     14:52:51
297277  718172BM0  2.921996   2017-12-28     13:48:25
297281  718172BM0  2.988195   2017-12-29     13:00:29

[667 rows x 4 columns])
('718172BN8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
297283  718172BN8  1.187348   2015-01-02     10:24:35
297284  718172BN8  1.226080   2015-01-06     11:38:42
297285  718172BN8  1.218065   2015-01-07     12:47:20
297289  718172BN8  1.172106   2015-01-09     15:06:33
297290  718172BN8  1.161188   2015-01-12     07:50:57
...           ...       ...          ...          ...
299187  718172BN8  1.690076   2017-10-30     15:49:31
299196  718172BN8  1.600498   2017-10-31     15:47:01
299200  718172BN8  0.109319   2017-11-01     11:13:04
299201  718172BN8  1.242365   2017-11-02     15:13:43
299203  718172BN8  1.600071   2017-11-06     11:02:21

[513 rows x 4 columns])
('74254PPG1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
246331  74254PPG1  1.400850   2016-01-27     14:43:36
246333  74254PPG1  2.784836   2016-07-21     13:59:49
246335  74254PPG1  0.777945   2016-07-25     16:43:21
246338  74254PPG1  0.583354   2016-07-26     10:27:19)
('74254PVW9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
246339  74254PVW9  2.400596   2015-01-06     10:03:15
246341  74254PVW9  1.874070   2015-01-13     14:52:35
246344  74254PVW9  2.153580   2015-01-29     16:34:00
246345  74254PVW9  2.249236   2015-02-05     14:10:56
246347  74254PVW9  1.471118   2015-02-06     08:17:31
246349  74254PVW9  1.935346   2015-02-11     15:03:19
246351  74254PVW9  2.011271   2015-05-05     12:00:28
246353  74254PVW9  1.689239   2015-05-06     12:21:18
246355  74254PVW9  1.608240   2015-05-12     13:31:33
246357  74254PVW9  1.768603   2015-05-18     09:16:09
246359  74254PVW9  1.571320   2015-05-27     15:02:28
246360  74254PVW9  2.285254   2015-06-10     12:09:19
246367  74254PVW9  1.668017   2015-07-28     14:33:49
246369  74254PVW9  1.810617   2015-08-03     13:06:57
246371  74254PVW9  1.928056   2015-08-10     13:58:08
246372  74254PVW9  2.628078   2015-10-30     15:05:33
246375  74254PVW9  2.179209   2015-11-02     08:08:25
246377  74254PVW9  4.444364   2016-09-29     11:32:29
246380  74254PVW9  2.397493   2016-10-07     16:51:25
246383  74254PVW9  1.300003   2016-11-03     15:49:30
246385  74254PVW9  1.888670   2016-11-07     12:03:04
246387  74254PVW9  1.369573   2016-11-21     14:48:16
246389  74254PVW9  1.802709   2016-12-07     13:26:00
246392  74254PVW9  2.655423   2016-12-22     14:30:16
246394  74254PVW9  2.050715   2016-12-28     16:28:11
246397  74254PVW9  2.871675   2017-02-27     13:16:15
246398  74254PVW9  3.003545   2017-03-01     15:34:02
246400  74254PVW9  1.635381   2017-03-02     13:07:52
246401  74254PVW9  2.789692   2017-03-24     13:17:38
246404  74254PVW9  1.174008   2017-04-04     15:50:29
246408  74254PVW9  1.660161   2017-04-05     11:06:12
246409  74254PVW9  2.418627   2017-05-15     14:35:32
246413  74254PVW9  1.914422   2017-05-16     12:13:56
246416  74254PVW9  1.414772   2017-05-22     16:01:48
246418  74254PVW9  2.021240   2017-05-23     12:06:42
246420  74254PVW9  2.343408   2017-06-22     13:34:44
246423  74254PVW9  1.406102   2017-06-28     11:22:58
246425  74254PVW9  2.165591   2017-06-29     11:27:59
246428  74254PVW9  1.456078   2017-07-07     08:47:31
246430  74254PVW9  2.581113   2017-07-10     16:03:32
246435  74254PVW9  2.035996   2017-07-18     14:21:36
246439  74254PVW9  2.031108   2017-07-19     11:22:12
246445  74254PVW9  1.682576   2017-09-12     14:39:03
246446  74254PVW9  1.663305   2017-09-13     08:28:58
246447  74254PVW9  2.618235   2017-10-24     11:20:00
246449  74254PVW9  1.597179   2017-10-25     13:13:18
246452  74254PVW9  1.616967   2017-11-06     16:15:06
246454  74254PVW9  2.037645   2017-12-12     12:59:44)
('742741AA9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
246457  742741AA9  4.635127   2015-01-21     12:29:00
246458  742741AA9  4.864844   2015-01-26     14:50:00
246459  742741AA9  5.515871   2015-03-09     11:04:00
246469  742741AA9  4.888213   2015-03-11     15:21:00
246470  742741AA9  4.886562   2015-03-12     15:00:00
...           ...       ...          ...          ...
246835  742741AA9  5.374428   2017-12-12     12:05:35
246837  742741AA9  5.150913   2017-12-15     10:45:20

7979    78010XAG6  1.308353   2015-08-20     15:43:00)
('78010XAK7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
307079  78010XAK7  2.913052   2015-01-02     10:21:38
307080  78010XAK7  2.816748   2015-01-05     12:53:00
307083  78010XAK7  2.726034   2015-01-06     15:06:26
307085  78010XAK7  2.718998   2015-01-07     15:26:52
307086  78010XAK7  2.840521   2015-01-08     13:13:00
...           ...       ...          ...          ...
9664    78010XAK7  3.535301   2017-12-05     15:12:34
9669    78010XAK7  2.711920   2017-12-12     14:05:20
9672    78010XAK7  2.944380   2017-12-14     12:56:11
9675    78010XAK7  2.530143   2017-12-26     13:30:42
9678    78010XAK7  2.400349   2017-12-29     10:05:11

[416 rows x 4 columns])
('78011RAC7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
307049  78011RAC7  2.867127   2015-01-12     11:55:44
307051  78011RAC7  2.939098   2015-01-13     16:38:07
307055  78011RAC7  2.623582   2015-01-16     12:19:41
307059  78011RAC7  2.800231   2015-01-26     14:51:59
307061  78011RAC7  2.499197   2015-01-27     10:45:45
...           ...       ...          ...          ...
8427    78011RAC7  1.692657   2017-09-13     14:04:07
8428    78011RAC7  2.605268   2017-10-19     15:55:24
8429    78011RAC7  1.635735   2017-10-20     10:27:11
8430    78011RAC7  2.270382   2017-11-14     12:16:22
8435    78011RAC7  2.025418   2017-11-28     13:32:06

[114 rows x 4 columns])
('78012DAF0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
307473  78012DAF0  2.504230   2015-01-05     12:38:57
307477  78012DAF0  1.801433   2015-01-07     12:55:19
307480  78012DAF0  1.781440   2015-01-26     10:20:57
10485   78012DAF0  2.806634   2015-03-30     12:13:01
10493   78012DAF0  1.863096   2015-04-06     15:43:17
...           ...       ...          ...          ...
10686   78012DAF0  5.955833   2016-12-27     16:20:01
10688   78012DAF0  1.100001   2016-12-30     10:04:34
10690   78012DAF0  8.938794   2017-01-18     14:46:41
10695   78012DAF0  1.108068   2017-01-20     13:30:18
10698   78012DAF0  1.111812   2017-01-23     12:03:15

[67 rows x 4 columns])
('783764AS2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
308195  783764AS2  1.953743   2015-01-02     15:30:31
308199  783764AS2  2.120163   2015-01-05     14:53:50
308200  783764AS2  2.361758   2015-01-07     15:36:02
308204  783764AS2  2.223719   2015-01-08     15:14:37
308205  783764AS2  2.141737   2015-01-09     10:46:52
...           ...       ...          ...          ...
49216   783764AS2  0.316220   2017-12-21     14:23:55
49217   783764AS2  0.361887   2017-12-26     14:14:23
49219   783764AS2  3.578663   2017-12-27     16:38:29
49221   783764AS2  0.454183   2017-12-28     14:23:25
49223   783764AS2  0.336373   2017-12-29     11:31:45

[577 rows x 4 columns])
('78409VAH7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
330178  78409VAH7  1.448241   2016-08-05     08:57:32
330179  78409VAH7  1.492112   2016-08-11     16:17:43
330180  78409VAH7  1.598383   2016-08-16     10:35:46
330181  78409VAH7  1.487219   2016-08-22     13:23:35
330182  78409VAH7  1.529253   2016-08-23     09:14:39
...           ...       ...          ...          ...
330971  78409VAH7  1.894333   2017-12-21     16:56:08
330979  78409VAH7  2.004612   2017-12-22     13:44:50
331029  78409VAH7  1.984278   2017-12-27     15:27:42
331031  78409VAH7  1.944979   2017-12-28     10:18:32
331033  78409VAH7  2.047086   2017-12-29     10:33:44

[232 rows x 4 columns])
('78422XTC7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
323088  78422XTC7  3.427496   2016-03-01     13:05:53)
('80280JDB4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
308949  80280JDB4  1.902459   2015-01-13     16:03:14
308951  80280JDB4  1.871949   2015-01-14     09:57:48
308954  80280JDB4  1.813168   2015-01-16     12:06:02
308956  80280JDB4  1.943146   2015-01-20     14:55:46
308957  80280JDB4  1.885011   2015-01-22     11:12:52
...           ...       ...          ...          ...
309843  80280JDB4  2.085527   2017-03-09     10:06:13
309847  80280JDB4  1.992475   2017-03-10     09:12:04
309850  80280JDB4  2.190942   2017-03-13     12:29:19
309853  80280JDB4  1.380393   2017-03-23     10:35:26
309854  80280JDB4  1.945548   2017-03-28     12:31:17

[283 rows x 4 columns])
('80281LAC9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
310031  80281LAC9  2.815224   2015-10-16     14:30:42
310046  80281LAC9  2.808915   2015-10-19     15:52:41
310054  80281LAC9  2.838725   2015-10-20     14:36:15
310063  80281LAC9  2.745403   2015-10-21     13:28:51
310072  80281LAC9  2.707150   2015-10-22     16:46:56
...           ...       ...          ...          ...
313584  80281LAC9  2.725076   2017-12-21     10:25:25
313587  80281LAC9  2.737952   2017-12-22     11:56:27
313591  80281LAC9  2.718006   2017-12-26     11:43:15
313595  80281LAC9  2.703026   2017-12-27     10:55:29
313599  80281LAC9  2.396632   2017-12-28     13:22:46

[516 rows x 4 columns])
('80283LAD5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
315215  80283LAD5  1.331371   2016-06-01     16:08:44
315241  80283LAD5  1.431749   2016-06-07     15:50:32
315244  80283LAD5  1.261987   2016-06-08     13:34:41
315245  80283LAD5  1.444310   2016-06-13     13:13:40
315254  80283LAD5  1.546706   2016-06-21     14:45:37
...           ...       ...          ...          ...
316243  80283LAD5  1.387095   2017-09-15     10:03:18
316244  80283LAD5  1.518057   2017-09-18     12:09:28
316248  80283LAD5  0.476123   2017-09-19     11:56:36
316249  80283LAD5  1.381831   2017-09-20     09:38:57
316250  80283LAD5  1.636648   2017-09-25     13:26:20

[216 rows x 4 columns])
('80283LAF0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
314049  80283LAF0  1.600033   2016-05-26     16:05:26
314051  80283LAF0  1.677629   2016-06-06     05:15:59
314058  80283LAF0  1.562467   2016-06-07     16:27:07
314059  80283LAF0  1.681141   2016-06-08     09:22:22
314060  80283LAF0  1.671007   2016-06-09     13:58:33
...           ...       ...          ...          ...
315183  80283LAF0  2.033509   2017-12-21     08:05:09
315201  80283LAF0  1.800517   2017-12-22     13:12:50
315206  80283LAF0  1.938002   2017-12-27     16:48:48
315211  80283LAF0  1.769734   2017-12-28     13:14:02
315212  80283LAF0  1.919694   2017-12-29     10:36:31

[280 rows x 4 columns])
('80283LAJ2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
316252  80283LAJ2  2.843509   2016-06-06     11:25:00
316253  80283LAJ2  2.801753   2016-06-07     08:43:43
316256  80283LAJ2  2.752040   2016-06-14     14:31:00
316258  80283LAJ2  2.711034   2016-06-16     10:38:53
316262  80283LAJ2  2.777020   2016-06-17     13:48:23
...           ...       ...          ...          ...
317574  80283LAJ2  3.080736   2017-12-21     11:58:51
317577  80283LAJ2  2.792246   2017-12-22     09:04:56
317581  80283LAJ2  3.052178   2017-12-26     14:07:16
317584  80283LAJ2  2.964088   2017-12-27     13:19:40
317586  80283LAJ2  2.706027   2017-12-29     12:18:24

[335 rows x 4 columns])
('80283LAK9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
319854  80283LAK9  1.720466   2016-06-06     14:15:55
319860  80283LAK9  1.859003   2016-06-07     15:03:42
319865  80283LAK9  1.773162   2016-06-08     14:46:05
319874  80283LAK9  1.836860   2016-06-09     15:19:34
319883  80283LAK9  1.799887   2016-06-10     16:20:46
...           ...       ...          ...          ...
321695  80283LAK9  2.217149   2017-12-21     10:18:21
321697  80283LAK9  2.081086   2017-12-22     13:59:23
321703  80283LAK9  2.172175   2017-12-26     13:40:00
321708  80283LAK9  2.259044   2017-12-28     15:37:13
321714  80283LAK9  2.087235   2017-12-29     13:42:18

[355 rows x 4 columns])
('80283LAM5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
317588  80283LAM5  1.723359   2016-06-01     17:25:53
317594  80283LAM5  1.697852   2016-06-06     10:45:19
317602  80283LAM5  1.622140   2016-06-07     16:28:38
317605  80283LAM5  1.767317   2016-06-09     13:20:42
317608  80283LAM5  1.597863   2016-06-10     14:16:20
...           ...       ...          ...          ...
319826  80283LAM5  1.901171   2017-12-20     16:20:36
319833  80283LAM5  1.904994   2017-12-21     16:15:46
319838  80283LAM5  2.002357   2017-12-22     11:17:10
319843  80283LAM5  2.080021   2017-12-26     11:37:14
319846  80283LAM5  1.878247   2017-12-27     13:58:36

[366 rows x 4 columns])
('80283LAP8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
322965  80283LAP8  2.209071   2017-11-03     16:22:16
322967  80283LAP8  2.194159   2017-11-06     13:39:27
322972  80283LAP8  2.220019   2017-11-08     14:53:42
322974  80283LAP8  2.224167   2017-11-09     10:12:59
322975  80283LAP8  2.276159   2017-11-10     15:29:53
322977  80283LAP8  2.312149   2017-11-13     14:04:50
322979  80283LAP8  2.316346   2017-11-15     16:34:24
322983  80283LAP8  2.334164   2017-11-16     10:43:13
322985  80283LAP8  2.327088   2017-11-17     12:13:46
322996  80283LAP8  2.356148   2017-11-20     14:46:33
323003  80283LAP8  2.328503   2017-11-21     14:01:34
323009  80283LAP8  2.317088   2017-11-28     13:57:24
323011  80283LAP8  2.364418   2017-11-29     13:07:59
323017  80283LAP8  2.366850   2017-11-30     15:42:26
323018  80283LAP8  2.398912   2017-12-04     14:06:43
323019  80283LAP8  2.436978   2017-12-05     15:00:33
323020  80283LAP8  2.391120   2017-12-06     08:56:21
323023  80283LAP8  2.365485   2017-12-07     15:40:10
323024  80283LAP8  2.381961   2017-12-08     11:37:03
323026  80283LAP8  2.406078   2017-12-11     13:06:49
323028  80283LAP8  2.368167   2017-12-13     15:44:17
323029  80283LAP8  2.428828   2017-12-14     11:12:19
323031  80283LAP8  2.422823   2017-12-18     15:00:34
323033  80283LAP8  2.423827   2017-12-19     11:27:35
323035  80283LAP8  2.442081   2017-12-21     14:48:50
323036  80283LAP8  2.481146   2017-12-28     14:02:36)
('832248AQ1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
323089  832248AQ1  3.241589   2015-01-06     16:06:44
323091  832248AQ1  3.063874   2015-01-08     10:12:39
323096  832248AQ1  3.078930   2015-01-09     15:21:50
323098  832248AQ1  3.173766   2015-01-12     09:42:50
323102  832248AQ1  3.309164   2015-01-13     14:43:12
...           ...       ...          ...          ...
324183  832248AQ1  1.945394   2017-01-18     14:40:54
324191  832248AQ1  2.273835   2017-01-19     14:28:48
324194  832248AQ1  1.247099   2017-01-24     11:41:52
324195  832248AQ1  1.282582   2017-01-26     12:37:42
324197  832248AQ1  1.546466   2017-01-30     13:07:00

[353 rows x 4 columns])
('857477AM5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
334045  857477AM5  2.923981   2015-01-05     15:37:50
334048  857477AM5  2.789018   2015-01-06     14:30:04
334053  857477AM5  2.809000   2015-01-07     16:42:55
334056  857477AM5  2.835956   2015-01-08     16:01:34
334057  857477AM5  2.797037   2015-01-09     11:28:51
...           ...       ...          ...          ...
337537  857477AM5  2.762601   2017-12-22     12:27:58
337545  857477AM5  2.794053   2017-12-26     15:04:14
337549  857477AM5  2.716890   2017-12-27     13:41:52
337555  857477AM5  2.701261   2017-12-28     14:31:55
337560  857477AM5  2.726938   2017-12-29     12:29:08

[683 rows x 4 columns])
('857477AV5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
337723  857477AV5  2.021788   2016-05-19     16:27:11
337738  857477AV5  2.005052   2016-05-20     15:13:00
337745  857477AV5  2.040050   2016-05-23     16:17:12
337756  857477AV5  1.978144   2016-05-24     15:31:49
337766  857477AV5  1.969897   2016-05-25     15:36:37
...           ...       ...          ...          ...
340662  857477AV5  2.440007   2017-12-22     13:07:39
340666  857477AV5  2.447876   2017-12-26     15:46:17
340674  857477AV5  2.417998   2017-12-27     14:58:13
340678  857477AV5  2.421913   2017-12-28     14:47:02
340680  857477AV5  2.456095   2017-12-29     12:39:02

[401 rows x 4 columns])
('857477AW3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
340737  857477AW3  2.674991   2016-05-17     08:20:16
340783  857477AW3  2.741980   2016-05-19     16:00:02
340796  857477AW3  2.737948   2016-05-20     13:58:33
340809  857477AW3  2.735073   2016-05-23     15:55:16
340822  857477AW3  2.687999   2016-05-24     16:47:00
...           ...       ...          ...          ...
342173  857477AW3  3.085613   2017-12-19     16:09:08
342183  857477AW3  3.092939   2017-12-20     15:44:18
342184  857477AW3  3.109962   2017-12-21     11:02:15
342187  857477AW3  3.086773   2017-12-22     12:29:54
342191  857477AW3  3.064367   2017-12-28     13:29:30

[346 rows x 4 columns])
('867914BK8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
331192  867914BK8  2.886066   2016-03-03     16:42:31
331199  867914BK8  2.906003   2016-03-04     16:36:59
331211  867914BK8  2.945991   2016-03-07     15:54:35
331219  867914BK8  2.902076   2016-03-08     16:31:34
331223  867914BK8  2.969168   2016-03-09     14:29:40
...           ...       ...          ...          ...
334010  867914BK8  2.559993   2017-12-21     15:26:44
334012  867914BK8  2.602018   2017-12-22     09:34:23
334018  867914BK8  2.506741   2017-12-26     15:40:46
334028  867914BK8  2.451103   2017-12-27     15:41:39
334040  867914BK8  2.447610   2017-12-28     15:44:06

[441 rows x 4 columns])
('869099AH4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
342194  869099AH4  3.554723   2015-01-13     13:04:05
342199  869099AH4  3.423046   2015-08-11     13:25:45
342200  869099AH4  3.433981   2015-08-12     15:35:57
342202  869099AH4  3.493046   2015-08-13     15:20:47
342206  869099AH4  4.717904   2015-08-28     16:05:04
...           ...       ...          ...          ...
3996    869099AH4  3.574929   2017-12-06     10:26:32
4000    869099AH4  2.758335   2017-12-11     11:00:58
4004    869099AH4  2.551543   2017-12-12     13:37:32
4007    869099AH4  3.222002   2017-12-21     12:15:59
4009    869099AH4  3.671964   2017-12-27     10:55:41

[143 rows x 4 columns])
('87161CAG0',          CUSIP_ID      yld_pt trd_exctn_dt trd_exctn_tm
324291  87161CAG0    4.576145   2015-01-02     15:26:17
324295  87161CAG0    4.466934   2015-01-05     14:20:24
324309  87161CAG0    4.527002   2015-01-06     16:45:18
324366  87161CAG0    4.298817   2015-01-07     16:26:25
324380  87161CAG0    4.047106   2015-01-08     15:48:41
...           ...         ...          ...          ...
330166  87161CAG0    7.345973   2017-06-06     15:16:26
330168  87161CAG0    4.998341   2017-06-08     16:27:33
330174  87161CAG0    5.001118   2017-06-09     13:05:48
330176  87161CAG0  325.932331   2017-06-12     15:43:28
330177  87161CAG0    5.699866   2017-06-13     09:05:50

[578 rows x 4 columns])
('90131HAL9',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
239853  90131HAL9  1.760732   2015-04-15     11:17:27
239854  90131HAL9  2.082826   2015-04-20     15:33:00
239855  90131HAL9  1.832950   2015-04-27     10:18:00
239856  90131HAL9  1.653917   2015-04-29     13:17:33
239857  90131HAL9  1.650008   2015-04-30     10:55:35
...           ...       ...          ...          ...
240512  90131HAL9  1.878806   2017-12-11     13:21:53
240513  90131HAL9  1.785101   2017-12-13     14:18:04
240522  90131HAL9  1.824864   2017-12-20     16:38:39
240526  90131HAL9  2.719357   2017-12-21     11:46:01
240527  90131HAL9  1.992950   2017-12-27     12:40:12

[223 rows x 4 columns])
('90131HAT2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
237469  90131HAT2  3.732014   2015-04-13     16:16:03
237471  90131HAT2  4.262761   2015-05-20     16:22:21
237473  90131HAT2  4.105973   2015-06-02     13:19:30
237474  90131HAT2  4.486054   2015-06-09     10:24:19
237478  90131HAT2  4.426964   2015-06-10     14:50:56
...           ...       ...          ...          ...
238031  90131HAT2  3.339128   2017-10-31     11:39:55
238032  90131HAT2  3.322842   2017-11-02     14:51:53
238038  90131HAT2  3.270940   2017-11-09     12:03:52
238042  90131HAT2  3.386966   2017-12-04     16:04:37
238044  90131HAT2  3.475462   2017-12-13     15:25:05

[158 rows x 4 columns])
('90131HAW5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
240528  90131HAW5  4.063160   2015-04-21     14:31:42
240531  90131HAW5  4.411014   2015-04-28     13:07:10
240533  90131HAW5  4.123069   2015-05-12     14:30:46
240537  90131HAW5  4.113985   2015-05-14     16:51:32
240538  90131HAW5  4.148951   2015-05-18     09:35:18
...           ...       ...          ...          ...
241261  90131HAW5  3.704997   2017-12-11     09:27:52
241262  90131HAW5  3.902927   2017-12-13     10:15:25
241268  90131HAW5  3.437365   2017-12-18     16:02:15
241271  90131HAW5  3.578094   2017-12-19     13:24:16
241278  90131HAW5  3.433592   2017-12-29     10:39:24

[243 rows x 4 columns])
('90131HAX3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
239447  90131HAX3  4.000091   2015-04-13     11:39:04
239450  90131HAX3  4.000083   2015-04-15     11:27:57
239451  90131HAX3  4.105974   2015-05-12     14:19:34
239452  90131HAX3  4.068042   2015-05-13     14:59:05
239453  90131HAX3  4.076591   2015-05-14     13:09:15
...           ...       ...          ...          ...
239842  90131HAX3  3.555034   2017-12-04     10:38:46
239847  90131HAX3  3.399961   2017-12-07     10:58:49
239848  90131HAX3  3.403758   2017-12-12     09:28:10
239850  90131HAX3  3.209667   2017-12-19     11:32:59
239852  90131HAX3  3.654778   2017-12-20     11:49:03

[174 rows x 4 columns])
('90131HAY1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
235847  90131HAY1  4.490983   2015-04-16     13:52:19
235849  90131HAY1  4.436005   2015-04-28     12:32:33
235850  90131HAY1  4.624032   2015-05-12     14:36:47
235851  90131HAY1  4.567027   2015-05-13     14:23:49
235854  90131HAY1  4.607405   2015-07-14     14:28:48
...           ...       ...          ...          ...
236228  90131HAY1  3.784035   2017-11-14     14:04:23
236229  90131HAY1  3.699039   2017-11-29     14:24:45
236230  90131HAY1  3.579984   2017-12-04     14:41:12
236232  90131HAY1  3.379172   2017-12-14     16:18:03
236234  90131HAY1  3.353952   2017-12-19     16:13:32

[143 rows x 4 columns])
('90131HAZ8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
238998  90131HAZ8  3.999017   2015-04-15     12:13:28
238999  90131HAZ8  4.361413   2015-04-21     10:12:00
239001  90131HAZ8  4.190090   2015-04-27     11:48:02
239003  90131HAZ8  4.181043   2015-04-29     13:43:58
239005  90131HAZ8  4.374465   2015-05-07     13:25:00
...           ...       ...          ...          ...
239427  90131HAZ8  3.671039   2017-12-06     13:12:06
239439  90131HAZ8  3.907035   2017-12-08     10:52:59
239441  90131HAZ8  3.754668   2017-12-15     09:11:19
239442  90131HAZ8  3.710999   2017-12-20     11:52:07
239443  90131HAZ8  3.660317   2017-12-28     14:57:25

[164 rows x 4 columns])
('90131HBA2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
236899  90131HBA2  4.549089   2015-05-12     16:08:50
236901  90131HBA2  4.682477   2015-05-14     15:59:56
236902  90131HBA2  4.556406   2015-05-18     13:55:05
236911  90131HBA2  4.610613   2015-05-19     10:28:23
236912  90131HBA2  4.691082   2015-05-28     09:39:52
...           ...       ...          ...          ...
237455  90131HBA2  4.014882   2017-11-20     13:18:52
237456  90131HBA2  3.826438   2017-11-29     14:42:42
237460  90131HBA2  3.827700   2017-12-04     14:57:15
237465  90131HBA2  3.629623   2017-12-06     08:08:35
237466  90131HBA2  3.851040   2017-12-12     16:53:05

[194 rows x 4 columns])
('90131HBB0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
238402  90131HBB0  4.285050   2015-04-29     14:51:01
238404  90131HBB0  4.386026   2015-05-08     11:04:09
238405  90131HBB0  4.613987   2015-05-19     11:21:35
238410  90131HBB0  4.652040   2015-05-20     15:27:28
238413  90131HBB0  4.550598   2015-05-21     11:14:21
...           ...       ...          ...          ...
238644  90131HBB0  4.021995   2017-11-17     10:49:16

[86 rows x 4 columns])
('90131HBF1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
241279  90131HBF1  4.061982   2015-04-14     13:58:09
241280  90131HBF1  4.053023   2015-04-15     07:34:00
241281  90131HBF1  4.110998   2015-04-24     15:42:31
241283  90131HBF1  4.148973   2015-04-27     13:26:11
241284  90131HBF1  4.162031   2015-04-28     13:45:58
...           ...       ...          ...          ...
242378  90131HBF1  3.755993   2017-12-15     08:35:52
242380  90131HBF1  3.929980   2017-12-20     15:00:17
242382  90131HBF1  3.884010   2017-12-22     11:03:34
242383  90131HBF1  3.839017   2017-12-27     11:43:21
242384  90131HBF1  3.759978   2017-12-29     13:00:47

[466 rows x 4 columns])
('90131HBJ3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
238255  90131HBJ3  4.536027   2015-04-14     14:38:06
238260  90131HBJ3  5.462932   2015-06-22     14:21:31
238262  90131HBJ3  5.168774   2015-06-26     09:20:29
238265  90131HBJ3  5.127016   2015-06-30     11:29:44
238266  90131HBJ3  5.171980   2015-07-14     15:53:31
...           ...       ...          ...          ...
238393  90131HBJ3  4.418998   2017-10-18     13:55:35
238394  90131HBJ3  4.344014   2017-11-02     09:00:15
238396  90131HBJ3  4.211520   2017-12-05     10:58:59
238397  90131HBJ3  4.131019   2017-12-07     08:16:06
238399  90131HBJ3  4.155004   2017-12-13     10:54:46

[68 rows x 4 columns])
('90131HBM6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
238046  90131HBM6  4.374782   2015-04-17     13:15:58
238047  90131HBM6  4.697018   2015-05-04     10:24:55
238049  90131HBM6  5.080779   2015-05-07     14:52:16
238050  90131HBM6  4.727030   2015-05-15     15:20:49
238053  90131HBM6  5.016767   2015-07-06     16:05:33
...           ...       ...          ...          ...
238245  90131HBM6  4.310017   2017-11-28     13:51:29
238246  90131HBM6  4.491924   2017-12-05     10:41:15
238247  90131HBM6  4.201988   2017-12-06     12:30:54
238249  90131HBM6  4.108990   2017-12-19     10:28:45
238253  90131HBM6  4.050059   2017-12-27     13:02:37

[104 rows x 4 columns])
('90131HBR5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
234848  90131HBR5  4.548004   2015-04-09     14:45:45
234849  90131HBR5  4.596000   2015-04-15     12:38:06
234850  90131HBR5  4.558343   2015-04-16     08:51:02
234851  90131HBR5  4.602015   2015-04-21     13:27:21
234852  90131HBR5  4.678007   2015-04-22     15:10:58
...           ...       ...          ...          ...
235212  90131HBR5  4.419043   2017-12-06     15:14:56
235213  90131HBR5  4.321996   2017-12-07     12:26:14
235216  90131HBR5  4.320016   2017-12-14     12:50:00
235218  90131HBR5  4.202009   2017-12-18     11:21:03
235219  90131HBR5  4.236015   2017-12-28     11:35:26

[225 rows x 4 columns])
('90131HBS3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
235220  90131HBS3  5.937019   2015-04-28     12:47:35
235222  90131HBS3  5.919259   2015-04-29     13:25:12
235225  90131HBS3  5.807617   2015-05-04     10:28:02
235227  90131HBS3  6.295563   2015-05-14     12:17:07
235229  90131HBS3  6.356985   2015-05-15     10:02:56
...           ...       ...          ...          ...
235605  90131HBS3  5.360145   2017-12-07     09:05:25
235613  90131HBS3  5.164969   2017-12-13     14:38:45
235616  90131HBS3  5.287670   2017-12-18     11:48:36
235620  90131HBS3  5.217482   2017-12-19     16:06:01
235622  90131HBS3  5.241966   2017-12-26     13:11:53

[142 rows x 4 columns])
('90131HBT1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
235624  90131HBT1  5.729384   2015-04-20     14:27:05
235626  90131HBT1  5.957629   2015-05-05     12:39:46
235627  90131HBT1  6.177000   2015-05-07     15:40:22
235629  90131HBT1  6.193629   2015-05-13     10:14:43
235632  90131HBT1  6.236221   2015-06-02     08:42:35
...           ...       ...          ...          ...
235836  90131HBT1  5.241998   2017-12-19     12:57:15
235838  90131HBT1  5.109024   2017-12-20     09:34:46
235840  90131HBT1  5.091753   2017-12-21     10:57:33
235842  90131HBT1  5.123026   2017-12-22     11:53:46
235843  90131HBT1  5.327153   2017-12-26     15:32:10

[81 rows x 4 columns])
('90331HMC4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
342533  90331HMC4  0.932026   2015-01-06     15:28:48
342535  90331HMC4  1.066033   2015-01-07     12:51:52
342537  90331HMC4  1.095910   2015-01-08     15:55:29
342543  90331HMC4  1.044777   2015-01-09     15:04:09
342549  90331HMC4  1.044186   2015-01-12     14:40:18
...           ...       ...          ...          ...
343732  90331HMC4  1.077840   2016-12-14     12:56:34
343733  90331HMC4  1.141294   2016-12-16     15:38:38
343738  90331HMC4  1.321950   2016-12-19     15:32:22
343740  90331HMC4  1.085804   2016-12-20     15:12:36
343748  90331HMC4  1.037028   2016-12-21     13:08:05

[375 rows x 4 columns])
('90331HMU4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
344349  90331HMU4  1.280150   2016-01-29     15:57:00
344358  90331HMU4  1.387094   2016-02-01     16:06:45
344360  90331HMU4  1.240195   2016-02-02     16:48:00
344366  90331HMU4  1.328202   2016-02-03     15:28:15
344367  90331HMU4  1.337150   2016-02-04     16:03:19
...           ...       ...          ...          ...
345415  90331HMU4  1.866480   2017-12-19     13:54:00
345418  90331HMU4  1.554977   2017-12-20     12:38:44
345420  90331HMU4  1.474044   2017-12-21     12:43:45
345421  90331HMU4  1.538589   2017-12-22     11:23:48
345423  90331HMU4  1.452908   2017-12-27     11:19:01

[356 rows x 4 columns])
('913017BZ1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
345658  913017BZ1  1.584090   2015-05-04     16:39:06
345665  913017BZ1  1.641907   2015-05-05     15:46:35
345675  913017BZ1  1.638418   2015-05-06     11:12:48
345678  913017BZ1  1.664151   2015-05-07     15:55:47
345679  913017BZ1  1.556145   2015-05-08     11:45:18
...           ...       ...          ...          ...
350260  913017BZ1  1.730826   2017-12-21     16:00:09
350270  913017BZ1  1.730493   2017-12-22     13:50:50
350284  913017BZ1  1.799280   2017-12-26     16:00:48
350294  913017BZ1  2.023314   2017-12-27     11:23:37
350296  913017BZ1  2.903445   2017-12-29     12:51:49

[588 rows x 4 columns])
('913026AT7',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
49654  913026AT7  7.483717   2015-06-22     11:47:09
49656  913026AT7  5.500029   2015-06-30     14:58:20
49658  913026AT7  7.128531   2015-12-17     14:34:32
49660  913026AT7  5.898349   2015-12-23     15:45:22
49663  913026AT7  5.833966   2015-12-28     14:38:18
...          ...       ...          ...          ...
49936  913026AT7  5.311559   2017-11-21     15:24:48
49939  913026AT7  4.799784   2017-11-28     13:58:51
49944  913026AT7  5.152431   2017-11-29     14:10:41
49948  913026AT7  5.262020   2017-12-15     15:02:43
49950  913026AT7  5.005760   2017-12-21     12:50:49

[84 rows x 4 columns])
('913026AU4',         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
49951  913026AU4  4.667021   2015-01-05     14:17:43
49953  913026AU4  4.376508   2015-01-09     12:29:00
49956  913026AU4  4.657570   2015-01-14     15:45:22
49958  913026AU4  4.872290   2015-01-15     12:46:20
49959  913026AU4  4.370308   2015-01-20     13:04:00
...          ...       ...          ...          ...
50654  913026AU4  5.410742   2017-12-14     13:48:51
50656  913026AU4  5.234291   2017-12-15     15:50:18
50664  913026AU4  5.190106   2017-12-18     16:59:03
50665  913026AU4  4.952564   2017-12-20     14:24:50
50670  913026AU4  5.183310   2017-12-27     12:34:11

[204 rows x 4 columns])
('919794AB3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
350297  919794AB3  3.981007   2015-01-06     10:03:42
350301  919794AB3  4.023037   2015-01-08     13:20:46
350304  919794AB3  4.043763   2015-01-27     15:37:35
350306  919794AB3  3.652671   2015-01-28     16:00:34
350307  919794AB3  3.490000   2015-02-02     12:36:20
...           ...       ...          ...          ...
350668  919794AB3  3.605097   2017-12-06     11:14:54
350670  919794AB3  3.626927   2017-12-11     15:03:31
350671  919794AB3  3.423605   2017-12-12     13:48:06
350673  919794AB3  3.788226   2017-12-21     11:04:08
350675  919794AB3  3.588055   2017-12-27     11:14:53

[151 rows x 4 columns])
('919794AC1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
350705  919794AC1  4.238282   2015-06-19     15:22:01
350721  919794AC1  4.347524   2015-06-22     16:04:26
350728  919794AC1  4.570779   2015-06-23     15:28:23
350731  919794AC1  4.459855   2015-06-24     15:37:41
350748  919794AC1  4.560017   2015-06-25     15:43:13
350749  919794AC1  4.337413   2015-06-26     15:05:47
350754  919794AC1  4.466484   2015-07-07     12:30:19
350756  919794AC1  4.158209   2015-07-08     13:25:08
350757  919794AC1  4.518096   2015-07-09     12:15:58
350758  919794AC1  4.393778   2015-07-10     09:29:59
350762  919794AC1  4.630367   2015-07-14     12:58:18
350763  919794AC1  4.468653   2015-07-16     12:30:46
350765  919794AC1  4.211089   2015-07-31     12:24:57
350766  919794AC1  4.269388   2015-08-12     09:58:09
350768  919794AC1  4.150647   2015-10-21     15:42:41
350770  919794AC1  4.466380   2015-12-04     16:00:00
350772  919794AC1  4.448673   2016-04-28     14:57:26
350774  919794AC1  3.932995   2016-10-18     14:43:59
350776  919794AC1  4.000124   2016-10-25     17:21:06
350779  919794AC1  4.194910   2017-07-17     18:30:00
350781  919794AC1  3.939524   2017-07-25     11:41:46
350784  919794AC1  3.916526   2017-07-27     11:11:00
350785  919794AC1  3.757102   2017-07-28     12:41:04
350788  919794AC1  3.855756   2017-08-07     13:38:45
350791  919794AC1  3.814792   2017-08-11     09:18:01
350792  919794AC1  3.982975   2017-11-02     14:17:50
350796  919794AC1  3.847228   2017-11-30     11:41:57
350799  919794AC1  3.818813   2017-12-05     12:22:50)
('92343VBH6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
350801  92343VBH6  0.913901   2015-01-05     12:26:13
350807  92343VBH6  0.843103   2015-01-06     11:08:40
350810  92343VBH6  0.749704   2015-01-07     13:47:00
350815  92343VBH6  0.790884   2015-01-08     13:01:15
350821  92343VBH6  1.200133   2015-01-09     14:51:16
...           ...       ...          ...          ...
351521  92343VBH6  0.697640   2015-10-21     13:48:45
351523  92343VBH6  0.697613   2015-10-23     15:12:25
351524  92343VBH6  0.625864   2015-10-26     13:43:10
351527  92343VBH6  0.518216   2015-10-27     12:20:44
351528  92343VBH6  0.458413   2015-10-28     11:13:00

[172 rows x 4 columns])
('931142CJ0',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
383508  931142CJ0  1.496209   2015-01-02     14:54:43
383519  931142CJ0  1.544595   2015-01-05     16:25:24
383536  931142CJ0  1.439933   2015-01-06     17:23:30
383550  931142CJ0  1.948064   2015-01-07     17:06:18
383569  931142CJ0  1.382953   2015-01-08     15:59:38
...           ...       ...          ...          ...
393174  931142CJ0  1.689902   2017-12-22     13:02:00
393196  931142CJ0  1.687642   2017-12-26     12:19:03
393213  931142CJ0  1.578366   2017-12-27     15:57:24
393221  931142CJ0  2.633584   2017-12-28     14:05:44
393228  931142CJ0  2.591180   2017-12-29     12:37:31

[747 rows x 4 columns])
('931142CK7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
393230  931142CK7  3.834019   2015-01-02     13:58:03
393243  931142CK7  3.803013   2015-01-05     16:33:50
393257  931142CK7  3.807267   2015-01-06     16:25:16
393265  931142CK7  3.756984   2015-01-07     16:32:17
393275  931142CK7  3.831008   2015-01-08     16:53:27
...           ...       ...          ...          ...
400668  931142CK7  3.572712   2017-06-28     16:52:13
400680  931142CK7  3.535127   2017-06-29     14:18:53
400681  931142CK7  3.703624   2017-06-30     11:34:14
400951  931142CK7  3.627321   2017-08-31     15:12:33
401083  931142CK7  3.644394   2017-10-27     09:32:42

[626 rows x 4 columns])
('931142CM3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
401279  931142CM3  3.901011   2015-01-02     10:23:52
401281  931142CM3  3.806006   2015-01-05     15:03:48
401284  931142CM3  3.780595   2015-01-06     12:52:46
401289  931142CM3  3.753746   2015-01-07     15:47:41
401295  931142CM3  3.891851   2015-01-08     16:43:11
...           ...       ...          ...          ...
403916  931142CM3  3.529991   2017-06-27     13:38:18
403918  931142CM3  3.548004   2017-06-29     13:01:55
403943  931142CM3  3.628044   2017-07-12     15:35:43
404061  931142CM3  3.582973   2017-09-08     11:05:49
404186  931142CM3  3.427727   2017-12-06     15:20:20

[573 rows x 4 columns])
('931142CP6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
404220  931142CP6  1.907385   2015-01-02     11:10:27
404227  931142CP6  1.743540   2015-01-05     12:10:53
404232  931142CP6  1.733549   2015-01-06     15:16:13
404249  931142CP6  1.818121   2015-01-07     17:05:01
404260  931142CP6  1.715927   2015-01-08     15:01:03
...           ...       ...          ...          ...
409672  931142CP6  1.669736   2017-10-31     10:45:51
409673  931142CP6  1.619788   2017-11-01     11:25:51
409677  931142CP6  1.761662   2017-11-02     15:30:25
409682  931142CP6  1.800854   2017-11-03     14:55:43
409690  931142CP6  1.688365   2017-11-06     16:20:30

[692 rows x 4 columns])
('931142CT8',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
416197  931142CT8  0.511924   2015-01-06     16:00:08
416202  931142CT8  0.397219   2015-01-07     13:21:40
416203  931142CT8  0.386726   2015-01-08     16:00:38
416205  931142CT8  0.347371   2015-01-09     10:46:44
416207  931142CT8  0.334411   2015-01-12     10:00:34
...           ...       ...          ...          ...
416541  931142CT8  6.028300   2015-06-29     14:05:59
416543  931142CT8  6.677383   2015-06-30     10:13:23
416545  931142CT8  2.225107   2015-07-01     15:40:25
416547  931142CT8  3.008410   2015-07-02     10:27:55
416551  931142CT8  3.008410   2015-07-06     12:11:00

[96 rows x 4 columns])
('931142CU5',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
409900  931142CU5  2.253973   2015-01-02     15:35:24
409911  931142CU5  2.093013   2015-01-05     16:33:46
409932  931142CU5  2.022240   2015-01-06     17:00:08
409938  931142CU5  2.111518   2015-01-07     15:53:13
409951  931142CU5  2.044611   2015-01-08     15:53:37
...           ...       ...          ...          ...
415954  931142CU5  1.849086   2017-11-03     15:53:13
415961  931142CU5  1.846585   2017-11-06     15:40:51
415969  931142CU5  1.894054   2017-11-09     09:30:33
415986  931142CU5  2.096578   2017-11-15     09:25:21
416077  931142CU5  2.311486   2017-12-07     15:24:00

[712 rows x 4 columns])
('931142CV3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
416553  931142CV3  4.075755   2015-01-05     14:27:17
416554  931142CV3  3.691987   2015-01-06     10:56:31
416555  931142CV3  3.706081   2015-01-07     15:10:04
416561  931142CV3  3.690422   2015-01-09     15:14:20
416563  931142CV3  3.672263   2015-01-14     10:32:15
...           ...       ...          ...          ...
417481  931142CV3  3.742019   2017-10-30     10:14:32
417482  931142CV3  3.552987   2017-11-01     09:53:12
417483  931142CV3  3.551684   2017-11-02     16:02:31
417486  931142CV3  3.607679   2017-11-03     10:30:26
417488  931142CV3  3.560646   2017-11-06     11:26:19

[384 rows x 4 columns])
('931142DB6',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
373776  931142DB6  3.739519   2015-01-05     16:47:21
373779  931142DB6  3.750023   2015-01-06     15:09:23
373788  931142DB6  3.745995   2015-01-07     15:03:33
373790  931142DB6  3.811994   2015-01-08     15:05:21
373792  931142DB6  3.749985   2015-01-09     15:40:31
...           ...       ...          ...          ...
375510  931142DB6  3.709396   2017-06-21     15:47:42
375511  931142DB6  3.761314   2017-06-27     14:51:20
375512  931142DB6  3.640978   2017-06-28     15:34:10
375513  931142DB6  3.729014   2017-06-29     09:53:58
375638  931142DB6  3.577020   2017-10-11     16:21:32

[524 rows x 4 columns])
('931142DC4',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
375700  931142DC4   0.691989   2015-01-02     15:36:09
375707  931142DC4   0.650029   2015-01-05     13:50:00
375709  931142DC4   0.731989   2015-01-06     15:28:48
375717  931142DC4   0.903353   2015-01-07     13:48:14
375718  931142DC4   0.649646   2015-01-08     10:27:07
...           ...        ...          ...          ...
376583  931142DC4  18.242028   2016-04-06     16:15:36
376585  931142DC4   0.394490   2016-04-07     14:19:57
376586  931142DC4   0.986247   2016-04-08     13:46:11
376588  931142DC4   0.631175   2016-04-11     13:09:14
376591  931142DC4   0.276136   2016-04-13     09:47:40

[254 rows x 4 columns])
('931142DD2',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
376601  931142DD2  2.361444   2015-01-02     14:54:23
376612  931142DD2  2.302011   2015-01-05     14:46:49
376623  931142DD2  2.266968   2015-01-06     14:47:21
376633  931142DD2  2.257058   2015-01-07     15:07:44
376642  931142DD2  2.270037   2015-01-08     15:59:38
...           ...       ...          ...          ...
383461  931142DD2  2.257879   2017-12-22     12:40:14
383471  931142DD2  2.255097   2017-12-26     15:32:23
383487  931142DD2  2.219978   2017-12-27     15:22:55
383496  931142DD2  2.192280   2017-12-28     16:49:07
383502  931142DD2  2.197383   2017-12-29     10:25:49

[742 rows x 4 columns])
('94973VBG1',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
372412  94973VBG1  0.182233   2015-01-05     15:51:00
372422  94973VBG1  0.117584   2015-01-06     16:00:55
372436  94973VBG1  0.112930   2015-01-07     15:28:14
372459  94973VBG1  0.062600   2015-01-08     16:16:56
372466  94973VBG1  0.022069   2015-01-09     15:13:26
...           ...       ...          ...          ...
2928    94973VBG1  2.924855   2017-12-21     14:02:35
2930    94973VBG1  2.904660   2017-12-22     13:39:00
2932    94973VBG1  2.953230   2017-12-26     10:48:14
2933    94973VBG1  2.913447   2017-12-27     12:06:53
2935    94973VBG1  2.932645   2017-12-29     13:03:37

[660 rows x 4 columns])
('949746RW3',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
360695  949746RW3  3.037706   2016-04-21     21:23:36
360752  949746RW3  3.064666   2016-04-22     15:45:50
360841  949746RW3  3.118941   2016-04-25     16:25:28
360947  949746RW3  3.107754   2016-04-26     16:52:39
361019  949746RW3  3.083176   2016-04-27     16:06:21
...           ...       ...          ...          ...
369113  949746RW3  3.295953   2017-12-22     12:50:56
369127  949746RW3  3.289872   2017-12-26     15:30:15
369137  949746RW3  3.219397   2017-12-27     14:48:40
369150  949746RW3  3.237026   2017-12-28     13:53:28
369151  949746RW3  3.217973   2017-12-29     10:36:12

[430 rows x 4 columns])
('94986RCZ2',          CUSIP_ID     yld_pt trd_exctn_dt trd_exctn_tm
359076  94986RCZ2  32.762356   2015-01-02     13:51:36
359077  94986RCZ2  32.332427   2015-01-05     15:33:48
359078  94986RCZ2  31.925261   2015-01-06     15:03:46
359079  94986RCZ2  33.056273   2015-01-15     12:52:11
359082  94986RCZ2  35.306227   2015-01-23     15:31:29
359083  94986RCZ2  34.432093   2015-01-28     16:04:15
359084  94986RCZ2  38.271452   2015-02-10     16:09:15
359085  94986RCZ2  40.086889   2015-02-13     12:14:43)
('94986RVY4',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
360116  94986RVY4  1.072538   2016-03-08     14:06:19
360117  94986RVY4  0.863899   2016-04-06     12:34:25
360118  94986RVY4  0.013016   2016-04-26     12:25:26
360120  94986RVY4  1.304520   2016-06-24     09:55:29
360121  94986RVY4  1.779259   2016-07-20     11:31:30
360122  94986RVY4  2.175237   2016-08-11     13:44:59
360123  94986RVY4  0.287274   2016-09-19     11:12:29
360124  94986RVY4  1.074862   2016-09-30     10:15:10)
('94986RXR7',          CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
360136  94986RXR7  2.560097   2016-04-12     13:31:51
360138  94986RXR7  2.334130   2016-08-10     12:10:00

[154 rows x 4 columns])

In [145]:
df3.groups.keys()

AttributeError: 'DataFrame' object has no attribute 'groups'

In [142]:
df3.get_groups('00077TAB0')

AttributeError: 'DataFrame' object has no attribute 'get_groups'

In [106]:
df3['rank'] = df3.groupby(['CUSIP_ID', 
    pd.Grouper(key=('trd_exctn_dt'), freq='m')])

ValueError: Length of values (36) does not match length of index (113786)

In [123]:
Grouped2 = df3.groupby(['CUSIP_ID',
    pd.Grouper(key=('trd_exctn_dt'),freq='m')])
Grouped2 = Grouped2.apply(lambda _df3: _df3.sort_values(by=['yld_pt'],ascending=False))

In [120]:
Grouped2.size()

TypeError: 'numpy.int32' object is not callable

In [131]:
group_ym = df3.groupby(['CUSIP_ID', df3['trd_exctn_dt'].dt.strftime('%Y-%m')])  # Create groupby object. You can make this df.groupby(['CUSIP ID', df['trd_exctn_dt'].dt.strftime('%Y-%m')]) as well if you need to groupby the ID field
df3['Item #'] = group_ym['trd_exctn_tm'].cumcount()              # get the Item (i.e. row #) per group
med = group_ym['Item #'].transform('median')                    # get the "middle" row number or "median" row #
df3 = df3[df3['Item #'] == med].drop('Item #', axis=1)             # filter your dataset for the rows you want, which is where the value equals the median
df3

<ipython-input-131-3c2e36d3409a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Item #'] = group_ym['trd_exctn_tm'].cumcount()              # get the Item (i.e. row #) per group

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
101194  00077TAB0  6.356157   2015-10-26     12:17:34
101195  00077TAB0  7.815135   2016-01-13     13:54:12
...           ...       ...          ...          ...
3240    98934KAB6  3.093489   2017-03-24     15:45:14
3259    98934KAB6  3.070924   2017-04-06     16:05:00
3292    98934KAB6  2.746486   2017-06-19     13:29:37
3358    98934KAB6  2.861977   2017-09-21     11:21:52
3393    98934KAB6  3.012574   2017-10-20     12:05:56

[4030 rows x 4 columns]

In [91]:
Grouped2

                               CUSIP_ID    yld_pt  trd_exctn_dt  trd_exctn_tm
CUSIP_ID  trd_exctn_dt
00077TAB0 2015-01-31   891066      21.5  112807.0         326.5        5918.5
                       891064      21.5  112660.0         177.0       37838.5
          2015-02-28   891068      21.5  112887.0        4572.0       11714.5
          2015-03-31   101170      21.5  112793.0        9118.0       45933.0
          2015-04-30   101172      21.5  111787.0       11598.5       17067.0
...                                 ...       ...           ...           ...
98934KAB6 2017-11-30   3417    113709.5   63547.0      111086.0      112400.5
                       3402    113709.5   62463.0      110448.0        2581.5
                       3406    113709.5   60446.0      110802.5         610.5
          2017-12-31   3418    113709.5   70248.0      111366.5        2587.0
                       3421    113709.5   63224.0      112896.5       18365.5

[113786 rows x 4 columns]

In [64]:
df3['Item #'] = Grouped2['trd_exctn_tm'].cumcount()              # get the Item (i.e. row #) per group
med = Grouped2['Item #'].transform('median')           # get the "middle" row number or "median" row #
df3

AttributeError: 'Series' object has no attribute 'cumcount'

In [126]:
group_ym = df3.groupby(['CUSIP_ID',df3['trd_exctn_dt'].dt.strftime('%Y-%m')])# Create groupby object. You can make this df.groupby(['CUSIP ID', df['trd_exctn_dt'].dt.strftime('%Y-%m')]) as well if you need to groupby the ID field
df3['Item #'] = group_ym['trd_exctn_tm'].cumcount()              # get the Item (i.e. row #) per group
med = group_ym['Item #'].transform('median')                    # get the "middle" row number or "median" row #
df3 = df3[df3['Item #'] == med].drop('Item #', axis=1)             # filter your dataset for the rows you want, which is where the value equals the median
df3

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
101194  00077TAB0  6.356157   2015-10-26     12:17:34
101195  00077TAB0  7.815135   2016-01-13     13:54:12
...           ...       ...          ...          ...
3240    98934KAB6  3.093489   2017-03-24     15:45:14
3259    98934KAB6  3.070924   2017-04-06     16:05:00
3292    98934KAB6  2.746486   2017-06-19     13:29:37
3358    98934KAB6  2.861977   2017-09-21     11:21:52
3393    98934KAB6  3.012574   2017-10-20     12:05:56

[4030 rows x 4 columns]

In [52]:
Group1 = df3.groupby(by=['CUSIP_ID', 'trd_exctn_dt'])

In [54]:
Grouped1.head()

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
...           ...       ...          ...          ...
3402    98934KAB6  2.936286   2017-11-22     09:27:49
3406    98934KAB6  2.865028   2017-11-28     08:08:18
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[113786 rows x 4 columns]

In [55]:
Grouped = df3.groupby(['CUSIP_ID',
    pd.Grouper(key=('trd_exctn_dt'),freq='M')])

In [59]:
Grouped = Grouped.apply(sort_values(['CUSIP_ID','yld_pt'], ascending=False,True)

SyntaxError: positional argument follows keyword argument (<ipython-input-59-5be1fe593c35>, line 1)

In [17]:
#Grouped.groups.keys()

In [31]:
Grouped.head()

         CUSIP_ID    yld_pt trd_exctn_dt trd_exctn_tm
891064  00077TAB0  6.608047   2015-01-05     14:27:45
891066  00077TAB0  6.842175   2015-01-06     10:23:34
891068  00077TAB0  7.002821   2015-02-17     11:24:15
101170  00077TAB0  6.816467   2015-03-31     14:59:18
101172  00077TAB0  6.029157   2015-04-24     12:10:55
...           ...       ...          ...          ...
3402    98934KAB6  2.936286   2017-11-22     09:27:49
3406    98934KAB6  2.865028   2017-11-28     08:08:18
3417    98934KAB6  2.971758   2017-11-30     17:23:00
3418    98934KAB6  3.210928   2017-12-04     09:27:55
3421    98934KAB6  2.960962   2017-12-19     12:22:55

[35417 rows x 4 columns]

In [125]:
Grouped.get_group[('00077TAB0', ('2015-01-31 00:00:00'))]

TypeError: 'method' object is not subscriptable

In [48]:
#Grouped.groups.keys()

In [49]:
#Grouped.get_group('00077TAB0')

1b 180 day stock return volatility

In [34]:
#dont need this, this is for postsql?
#stmt2="""
select cusip, permno, permco, date, ret
from crsp.dsf
where permno = 'list_of_permno'
and (date between '2015-01-01' and '2017-07-01')
"""
# conn.raw_sql(stmt2)

SyntaxError: invalid syntax (<ipython-input-34-973160ca8550>, line 2)

Using permco I have found stock return of the bonds using CRSP dsf

In [2]:
dfret=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\stock_return.csv')
dfret

        PERMNO        date        RET
0        14593  2014-01-02  -0.014064
1        14593  2014-01-03  -0.021966
2        14593  2014-01-06   0.005453
3        14593  2014-01-07  -0.007156
4        14593  2014-01-08   0.006338
...        ...         ...        ...
155592   16851  2017-12-22   0.006561
155593   16851  2017-12-26  -0.009291
155594   16851  2017-12-27          0
155595   16851  2017-12-28    0.00098
155596   16851  2017-12-29  -0.004055

[155597 rows x 3 columns]

In [66]:
#dfret.columns = dfret.columns.str.strip()
#dfret.columns

In [3]:
#Changed data type into appriopriate types
dfret['date']= pd.to_datetime(dfret['date'])
dfret['RET'] = pd.to_numeric(dfret['RET'], errors='coerce')

In [25]:
#dfret = dfret[dfret['RET'].notna()] #dropped rows with no numbers in return column

In [4]:
dfret1 = dfret.sort_values(by=['PERMNO', 'date'],)
dfret1

        PERMNO       date       RET
108207   10145 2014-01-02 -0.011492
108208   10145 2014-01-03  0.002214
108209   10145 2014-01-06 -0.000994
108210   10145 2014-01-07  0.004092
108211   10145 2014-01-08 -0.003965
...        ...        ...       ...
146987   93013 2017-12-22  0.001886
146988   93013 2017-12-26 -0.001345
146989   93013 2017-12-27  0.006642
146990   93013 2017-12-28 -0.007936
146991   93013 2017-12-29  0.002696

[155597 rows x 3 columns]

In [108]:
dfret.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155577 entries, 0 to 155596
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PERMNO  155577 non-null  int64
 1   date    155577 non-null  datetime64[ns]
 2   RET     155577 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 4.7 MB

In [18]:
Permgroups = dfret.groupby('PERMNO', as_index=False)
Permgroups

In [97]:
#Permgroups.groups.keys() to find all the keys

In [78]:
#Permgroups.get_group(10145) #to get a group

In [30]:
dfret1['stdev'] = dfret1.groupby('PERMNO')[['RET']].rolling(180).std().reset_index(level=0,drop=True)
dfret1

        PERMNO       date       RET     stdev
108207   10145 2014-01-02 -0.011492       NaN
108208   10145 2014-01-03  0.002214       NaN
108209   10145 2014-01-06 -0.000994       NaN
108210   10145 2014-01-07  0.004092       NaN
108211   10145 2014-01-08 -0.003965       NaN
...        ...        ...       ...       ...
146987   93013 2017-12-22  0.001886  0.010455
146988   93013 2017-12-26 -0.001345  0.010445
146989   93013 2017-12-27  0.006642  0.010446
146990   93013 2017-12-28 -0.007936  0.010463
146991   93013 2017-12-29  0.002696  0.010431

[155597 rows x 4 columns]

In [23]:
p = dfret1.groupby('PERMNO')

In [24]:
for group in p:
    print (group)

(10145,         PERMNO       date       RET     stdev
108207   10145 2014-01-02 -0.011492  0.020038
108208   10145 2014-01-03  0.002214  0.020121
108209   10145 2014-01-06 -0.000994  0.020110
108210   10145 2014-01-07  0.004092  0.020197
108211   10145 2014-01-08 -0.003965  0.020196
...        ...        ...       ...       ...
109209   10145 2017-12-22 -0.001496  0.052833
109210   10145 2017-12-26  0.001759  0.052850
109211   10145 2017-12-27  0.001236  0.052985
109212   10145 2017-12-28  0.001169  0.058185
109213   10145 2017-12-29 -0.004996  0.058241

[1007 rows x 4 columns])
(10890,         PERMNO       date       RET     stdev
99144    10890 2014-01-02 -0.017873  0.019494
99145    10890 2014-01-03  0.000303  0.019655
99146    10890 2014-01-06  0.014251  0.020078
99147    10890 2014-01-07  0.005381  0.020319
99148    10890 2014-01-08 -0.002379  0.020274
...        ...        ...       ...       ...
100146   10890 2017-12-22  0.012195  0.014991
100147   10890 2017-12-26 -0.018072  0.015067
100148   10890 2017-12-27  0.006135  0.015195
100149   10890 2017-12-28  0.000000  0.015192
100150   10890 2017-12-29 -0.006098  0.015210

[1007 rows x 4 columns])
(11600,        PERMNO       date       RET     stdev
31010   11600 2014-01-02 -0.010726  0.008331
31011   11600 2014-01-03  0.004796  0.008206
31012   11600 2014-01-06 -0.006018  0.008150
31013   11600 2014-01-07  0.015449  0.008141
31014   11600 2014-01-08  0.001850  0.008095
...       ...        ...       ...       ...
32012   11600 2017-12-22  0.004885  0.009389
32013   11600 2017-12-26  0.006685  0.009388
32014   11600 2017-12-27 -0.003471  0.009387
32015   11600 2017-12-28  0.007383  0.009354
32016   11600 2017-12-29 -0.009032  0.009339

[1007 rows x 4 columns])
(11703,        PERMNO       date       RET     stdev
63224   11703 2014-01-02 -0.019394  0.012573
63225   11703 2014-01-03  0.001099  0.012524
63226   11703 2014-01-06 -0.012857  0.012453
63227   11703 2014-01-07 -0.010006  0.012492
63228   11703 2014-01-08  0.012835  0.012480
...       ...        ...       ...       ...
64144   11703 2017-08-28  0.002661  0.015259
64145   11703 2017-08-29 -0.007722  0.015269
64146   11703 2017-08-30  0.011552  0.015279
64147   11703 2017-08-31  0.008895  0.015301
64148   11703 2017-09-01       NaN  0.015318

[925 rows x 4 columns])
(11850,        PERMNO       date       RET  stdev
66920   11850 2014-01-02 -0.014328    NaN
66921   11850 2014-01-03 -0.002406    NaN
66922   11850 2014-01-06  0.001507    NaN
66923   11850 2014-01-07  0.014148    NaN
66924   11850 2014-01-08 -0.003265    NaN
...       ...        ...       ...    ...
67922   11850 2017-12-22  0.001431    NaN
67923   11850 2017-12-26  0.000119    NaN
67924   11850 2017-12-27 -0.000953    NaN
67925   11850 2017-12-28  0.001430    NaN
67926   11850 2017-12-29 -0.004523    NaN

[1007 rows x 4 columns])
(12060,        PERMNO       date       RET  stdev
70948   12060 2014-01-02 -0.018908    NaN
70949   12060 2014-01-03 -0.000727    NaN
70950   12060 2014-01-06 -0.008006    NaN
70951   12060 2014-01-07  0.001101    NaN
70952   12060 2014-01-08 -0.002932    NaN
...       ...        ...       ...    ...
71950   12060 2017-12-22  0.001717    NaN
71951   12060 2017-12-26  0.002857    NaN
71952   12060 2017-12-27 -0.002869    NaN
71953   12060 2017-12-28 -0.001151    NaN
71954   12060 2017-12-29  0.005184    NaN

[1007 rows x 4 columns])
(12369,         PERMNO       date       RET     stdev
146992   12369 2014-01-02  0.001957  0.013401
146993   12369 2014-01-03 -0.033700  0.013376
146994   12369 2014-01-06  0.020976  0.013354
146995   12369 2014-01-07 -0.004951  0.013461
146996   12369 2014-01-08  0.005473  0.013630
...        ...        ...       ...       ...
147994   12369 2017-12-22 -0.003321  0.014964
147995   12369 2017-12-26 -0.005236  0.015006
147996   12369 2017-12-27 -0.011722  0.015013
147997   12369 2017-12-28  0.001694  0.015122
147998   12369 2017-12-29 -0.009425  0.015071

[1007 rows x 4 columns])
(12431,        PERMNO       date       RET  stdev
73969   12431 2014-01-02 -0.005844    NaN
73970   12431 2014-01-03  0.001306    NaN
73971   12431 2014-01-06 -0.003098    NaN
73972   12431 2014-01-07  0.009161    NaN
73973   12431 2014-01-08  0.002594    NaN
...       ...        ...       ...    ...
74971   12431 2017-12-22 -0.006749    NaN
74972   12431 2017-12-26 -0.006238    NaN
74973   12431 2017-12-27 -0.001121    NaN
74974   12431 2017-12-28  0.001347    NaN
74975   12431 2017-12-29 -0.000448    NaN

[1007 rows x 4 columns])
(12490,        PERMNO       date       RET  stdev
74976   12490 2014-01-02 -0.010876    NaN
74977   12490 2014-01-03  0.005983    NaN
74978   12490 2014-01-06 -0.003429    NaN
74979   12490 2014-01-07  0.019946    NaN
74980   12490 2014-01-08 -0.009172    NaN
...       ...        ...       ...    ...
75978   12490 2017-12-22  0.006601    NaN
75979   12490 2017-12-26  0.002164    NaN
75980   12490 2017-12-27  0.001963    NaN
75981   12490 2017-12-28  0.005943    NaN
75982   12490 2017-12-29 -0.004025    NaN

[1007 rows x 4 columns])
(12558,         PERMNO       date       RET     stdev
147999   12558 2014-01-02 -0.002500  0.015121
148000   12558 2014-01-03  0.001671  0.015442
148001   12558 2014-01-06 -0.000556  0.015374
148002   12558 2014-01-07  0.006676  0.015472
148003   12558 2014-01-08 -0.005250  0.015493
...        ...        ...       ...       ...
149001   12558 2017-12-22 -0.001107  0.023670
149002   12558 2017-12-26  0.003324  0.023348
149003   12558 2017-12-27  0.000552  0.023351
149004   12558 2017-12-28  0.010486  0.023763
149005   12558 2017-12-29 -0.013108  0.023592

[1007 rows x 4 columns])
(12622,         PERMNO       date       RET     stdev
149945   12622 2014-01-02  0.001258  0.012131
149946   12622 2014-01-03  0.020934  0.012453
149947   12622 2014-01-06 -0.004921  0.012558
149948   12622 2014-01-07  0.027200  0.012553
149949   12622 2014-01-08  0.014042  0.012510
...        ...        ...       ...       ...
150947   12622 2017-12-22  0.014230  0.018318
150948   12622 2017-12-26  0.000561  0.018322
150949   12622 2017-12-27 -0.014023  0.018321
150950   12622 2017-12-28  0.004779  0.018307
150951   12622 2017-12-29 -0.005322  0.018273

[1007 rows x 4 columns])
(12781,        PERMNO       date       RET  stdev
76990   12781 2014-01-02 -0.014712    NaN
76991   12781 2014-01-03 -0.006909    NaN
76992   12781 2014-01-06  0.000898    NaN
76993   12781 2014-01-07  0.008296    NaN
76994   12781 2014-01-08 -0.008228    NaN
...       ...        ...       ...    ...
77992   12781 2017-12-22  0.003392    NaN
77993   12781 2017-12-26 -0.002704    NaN
77994   12781 2017-12-27  0.010169    NaN
77995   12781 2017-12-28  0.011409    NaN
77996   12781 2017-12-29 -0.002654    NaN

[1007 rows x 4 columns])
(13598,         PERMNO       date       RET     stdev
150952   13598 2014-01-02 -0.003339  0.017736
150953   13598 2014-01-03 -0.005211  0.017791
150954   13598 2014-01-06 -0.000374  0.017790
150955   13598 2014-01-07  0.009358  0.017805
150956   13598 2014-01-08 -0.012609  0.017838
...        ...        ...       ...       ...
151326   13598 2015-06-29 -0.015003  0.035682
151327   13598 2015-06-30 -0.006245  0.035541
151328   13598 2015-07-01  0.037115  0.035541
151329   13598 2015-07-02 -0.001246  0.035362
151330   13598 2015-07-06       NaN  0.035340

[379 rows x 4 columns])
(13688,        PERMNO       date       RET     stdev
88067   13688 2014-01-02 -0.015392  0.014329
88068   13688 2014-01-03 -0.001513  0.014323
88069   13688 2014-01-06  0.002273  0.014335
88070   13688 2014-01-07  0.008062  0.014337
88071   13688 2014-01-08 -0.005249  0.014310
...       ...        ...       ...       ...
89069   13688 2017-12-22  0.001573  0.014086
89070   13688 2017-12-26 -0.002692  0.014112
89071   13688 2017-12-27  0.005174  0.014106
89072   13688 2017-12-28  0.002910  0.014007
89073   13688 2017-12-29  0.000446  0.014015

[1007 rows x 4 columns])
(13856,        PERMNO       date       RET     stdev
90081   13856 2014-01-02 -0.010128  0.016559
90082   13856 2014-01-03  0.001705  0.016639
90083   13856 2014-01-06  0.000486  0.016834
90084   13856 2014-01-07  0.014584  0.016850
90085   13856 2014-01-08 -0.002875  0.016835
...       ...        ...       ...       ...
91083   13856 2017-12-22  0.002875  0.011178
91084   13856 2017-12-26  0.002445  0.011256
91085   13856 2017-12-27  0.003449  0.011238
91086   13856 2017-12-28  0.000419  0.011330
91087   13856 2017-12-29  0.004776  0.011246

[1007 rows x 4 columns])
(13901,        PERMNO       date       RET     stdev
91088   13901 2014-01-02 -0.012764  0.011372
91089   13901 2014-01-03 -0.004749  0.011422
91090   13901 2014-01-06 -0.011665  0.011423
91091   13901 2014-01-07  0.000000  0.011425
91092   13901 2014-01-08 -0.004024  0.011349
...       ...        ...       ...       ...
92090   13901 2017-12-22  0.002780  0.010818
92091   13901 2017-12-26 -0.000832  0.010914
92092   13901 2017-12-27  0.004856  0.010910
92093   13901 2017-12-28 -0.016016  0.011147
92094   13901 2017-12-29  0.001964  0.011087

[1007 rows x 4 columns])
(13928,        PERMNO       date       RET     stdev
92095   13928 2014-01-02 -0.012314  0.011148
92096   13928 2014-01-03  0.002580  0.011149
92097   13928 2014-01-06  0.004288  0.011143
92098   13928 2014-01-07  0.001566  0.011189
92099   13928 2014-01-08 -0.009663  0.011163
...       ...        ...       ...       ...
93097   13928 2017-12-22 -0.008043  0.013731
93098   13928 2017-12-26  0.013153  0.013767
93099   13928 2017-12-27 -0.011382  0.013757
93100   13928 2017-12-28 -0.007375  0.013741
93101   13928 2017-12-29 -0.005256  0.013786

[1007 rows x 4 columns])
(13963,         PERMNO       date       RET     stdev
151331   13963 2014-01-02 -0.003885  0.035279
151332   13963 2014-01-03 -0.007242  0.035291
151333   13963 2014-01-06 -0.013468  0.035470
151334   13963 2014-01-07 -0.010239  0.035464
151335   13963 2014-01-08 -0.006322  0.035462
...        ...        ...       ...       ...
152333   13963 2017-12-22  0.004896  0.033349
152334   13963 2017-12-26 -0.006699  0.033363
152335   13963 2017-12-27 -0.003679  0.033207
152336   13963 2017-12-28  0.004923  0.033223
152337   13963 2017-12-29 -0.007348  0.033018

[1007 rows x 4 columns])
(13964,         PERMNO       date       RET     stdev
152338   13964 2014-01-02  0.003365  0.032056
152339   13964 2014-01-03 -0.008944  0.031196
152340   13964 2014-01-06 -0.010152  0.030984
152341   13964 2014-01-07 -0.013105  0.030608
152342   13964 2014-01-08 -0.004619  0.030615
...        ...        ...       ...       ...
153340   13964 2017-12-22  0.009009  0.014389
153341   13964 2017-12-26 -0.011905  0.014426
153342   13964 2017-12-27  0.003012  0.014432
153343   13964 2017-12-28  0.000000  0.014468
153344   13964 2017-12-29 -0.003003  0.014470

[1007 rows x 4 columns])
(14465,         PERMNO       date       RET     stdev
153345   14465 2014-02-07       NaN  0.014479
153346   14465 2014-02-11       NaN  0.014478
153347   14465 2014-02-12 -0.116984  0.014508
153348   14465 2014-02-13  0.165849  0.014515
153349   14465 2014-02-14  0.001683  0.014510
...        ...        ...       ...       ...
153907   14465 2016-05-04  0.072143  0.011291
153908   14465 2016-05-05 -0.200533  0.011242
153909   14465 2016-05-06  0.083333  0.011273
153910   14465 2016-05-09  0.000000  0.011277
153911   14465 2016-05-10  0.077692  0.011266

[567 rows x 4 columns])
(14541,        PERMNO       date       RET  stdev
55250   14541 2014-01-02 -0.006164    NaN
55251   14541 2014-01-03  0.001692    NaN
55252   14541 2014-01-06 -0.002654    NaN
55253   14541 2014-01-07  0.008466    NaN
55254   14541 2014-01-08 -0.014232    NaN
...       ...        ...       ...    ...
56252   14541 2017-12-22  0.001282    NaN
56253   14541 2017-12-26  0.008001    NaN
56254   14541 2017-12-27 -0.003413    NaN
56255   14541 2017-12-28  0.000239    NaN
56256   14541 2017-12-29 -0.003106    NaN

[1007 rows x 4 columns])
(14558,         PERMNO       date       RET     stdev
149006   14558 2014-04-10       NaN  0.023323
149007   14558 2014-04-11  0.009174  0.023377
149008   14558 2014-04-14 -0.006198  0.023393
149009   14558 2014-04-15 -0.004990  0.023362
149010   14558 2014-04-16  0.008776  0.023320
...        ...        ...       ...       ...
149940   14558 2017-12-22  0.002743  0.012193
149941   14558 2017-12-26  0.000684  0.012210
149942   14558 2017-12-27 -0.001708  0.012165
149943   14558 2017-12-28  0.006502  0.012181
149944   14558 2017-12-29 -0.008501  0.012184

[939 rows x 4 columns])
(14593,       PERMNO       date       RET     stdev
0      14593 2014-01-02 -0.014064       NaN
1      14593 2014-01-03 -0.021966       NaN
2      14593 2014-01-06  0.005453       NaN
3      14593 2014-01-07 -0.007156       NaN
4      14593 2014-01-08  0.006338       NaN
...      ...        ...       ...       ...
1002   14593 2017-12-22  0.000000  0.006667
1003   14593 2017-12-26 -0.025370  0.006667
1004   14593 2017-12-27  0.000176  0.006667
1005   14593 2017-12-28  0.002814  0.006601
1006   14593 2017-12-29 -0.010814  0.006600

[1007 rows x 4 columns])
(14889,         PERMNO       date       RET     stdev
153912   14889 2014-09-24       NaN  0.011158
153913   14889 2014-09-25 -0.001300  0.011153
153914   14889 2014-09-26  0.008677  0.011130
153915   14889 2014-09-29 -0.000860  0.011122
153916   14889 2014-09-30  0.008179  0.011140
...        ...        ...       ...       ...
154731   14889 2017-12-22  0.000704       NaN
154732   14889 2017-12-26 -0.002580       NaN
154733   14889 2017-12-27 -0.003763       NaN
154734   14889 2017-12-28  0.001889       NaN
154735   14889 2017-12-29 -0.010839       NaN

[824 rows x 4 columns])
(15054,         PERMNO       date       RET     stdev
154736   15054 2014-11-28       NaN       NaN
154737   15054 2014-12-01 -0.005003       NaN
154738   15054 2014-12-02  0.005587       NaN
154739   15054 2014-12-03  0.006111       NaN
154740   15054 2014-12-04  0.002761       NaN
...        ...        ...       ...       ...
155509   15054 2017-12-22 -0.004891  0.010871
155510   15054 2017-12-26 -0.003277  0.010808
155511   15054 2017-12-27 -0.005479  0.010809
155512   15054 2017-12-28  0.012121  0.010822
155513   15054 2017-12-29  0.001089  0.010788

[778 rows x 4 columns])
(15553,       PERMNO       date       RET     stdev
2014   15553 2014-01-02 -0.024137       NaN
2015   15553 2014-01-03 -0.008679       NaN
2016   15553 2014-01-06 -0.001313       NaN
2017   15553 2014-01-07  0.014464       NaN
2018   15553 2014-01-08 -0.003240       NaN
...      ...        ...       ...       ...
2639   15553 2016-06-27  0.001669  0.013308
2640   15553 2016-06-28  0.000000  0.013266
2641   15553 2016-06-29 -0.000303  0.013309
2642   15553 2016-06-30 -0.000303  0.013326
2643   15553 2016-07-01       NaN  0.013299

[630 rows x 4 columns])
(16678,        PERMNO       date       RET  stdev
75983   16678 2014-01-02 -0.006324    NaN
75984   16678 2014-01-03 -0.004582    NaN
75985   16678 2014-01-06 -0.008696    NaN
75986   16678 2014-01-07  0.006192    NaN
75987   16678 2014-01-08 -0.001282    NaN
...       ...        ...       ...    ...
76985   16678 2017-12-22  0.025408    NaN
76986   16678 2017-12-26 -0.015929    NaN
76987   16678 2017-12-27 -0.003237    NaN
76988   16678 2017-12-28 -0.002165    NaN
76989   16678 2017-12-29 -0.007233    NaN

[1007 rows x 4 columns])
(16851,         PERMNO       date       RET     stdev
155514   16851 2017-09-01       NaN  0.010670
155515   16851 2017-09-05 -0.032748  0.010618
155516   16851 2017-09-06 -0.001693  0.010577
155517   16851 2017-09-07 -0.002929  0.010623
155518   16851 2017-09-08  0.002628  0.010623
...        ...        ...       ...       ...
155592   16851 2017-12-22  0.006561  0.010455
155593   16851 2017-12-26 -0.009291  0.010445
155594   16851 2017-12-27  0.000000  0.010446
155595   16851 2017-12-28  0.000980  0.010463
155596   16851 2017-12-29 -0.004055  0.010431

[83 rows x 4 columns])
(17005,        PERMNO       date       RET     stdev
82025   17005 2014-01-02 -0.016348  0.010427
82026   17005 2014-01-03  0.002131  0.010412
82027   17005 2014-01-06 -0.017576  0.010440
82028   17005 2014-01-07  0.005194  0.010440
82029   17005 2014-01-08  0.001435  0.010496
...       ...        ...       ...       ...
83027   17005 2017-12-22 -0.016479  0.008655
83028   17005 2017-12-26  0.003678  0.008655
83029   17005 2017-12-27 -0.012486  0.008708
83030   17005 2017-12-28  0.003986  0.008880
83031   17005 2017-12-29 -0.007529  0.008855

[1007 rows x 4 columns])
(17144,        PERMNO       date       RET  stdev
71955   17144 2014-01-02 -0.010218    NaN
71956   17144 2014-01-03 -0.002834    NaN
71957   17144 2014-01-06  0.001624    NaN
71958   17144 2014-01-07  0.010336    NaN
71959   17144 2014-01-08 -0.018054    NaN
...       ...        ...       ...    ...
72957   17144 2017-12-22  0.010079    NaN
72958   17144 2017-12-26 -0.000166    NaN
72959   17144 2017-12-27  0.000998    NaN
72960   17144 2017-12-28 -0.010469    NaN
72961   17144 2017-12-29 -0.004366    NaN

[1007 rows x 4 columns])
(17478,        PERMNO       date       RET     stdev
81018   17478 2014-01-02 -0.005754  0.007975
81019   17478 2014-01-03 -0.002701  0.008137
81020   17478 2014-01-06 -0.002063  0.008138
81021   17478 2014-01-07  0.008788  0.008202
81022   17478 2014-01-08 -0.001537  0.008199
...       ...        ...       ...       ...
82020   17478 2017-12-22 -0.005629  0.010380
82021   17478 2017-12-26 -0.002443  0.010412
82022   17478 2017-12-27  0.011827  0.010412
82023   17478 2017-12-28  0.002657  0.010427
82024   17478 2017-12-29 -0.002649  0.010422

[1007 rows x 4 columns])
(17778,       PERMNO       date       RET     stdev
3651   17778 2014-01-02 -0.008881  0.019397
3652   17778 2014-01-03  0.000091  0.019433
3653   17778 2014-01-06 -0.010412  0.019430
3654   17778 2014-01-07 -0.001748  0.019540
3655   17778 2014-01-08 -0.005230  0.019549
...      ...        ...       ...       ...
4653   17778 2017-12-22 -0.006035  0.009802
4654   17778 2017-12-26 -0.000102  0.009757
4655   17778 2017-12-27  0.005905  0.009752
4656   17778 2017-12-28  0.003656  0.009729
4657   17778 2017-12-29 -0.005381  0.009729

[1007 rows x 4 columns])
(17830,         PERMNO       date       RET     stdev
100151   17830 2014-01-02 -0.011511  0.015198
100152   17830 2014-01-03  0.003645  0.016820
100153   17830 2014-01-06 -0.000974  0.016873
100154   17830 2014-01-07  0.006384  0.017017
100155   17830 2014-01-08  0.001233  0.017112
...        ...        ...       ...       ...
101153   17830 2017-12-22 -0.000628  0.025206
101154   17830 2017-12-26 -0.000707  0.025801
101155   17830 2017-12-27  0.003461  0.025858
101156   17830 2017-12-28  0.004233  0.025860
101157   17830 2017-12-29 -0.004293  0.026014

[1007 rows x 4 columns])
(18163,        PERMNO       date       RET     stdev
93102   18163 2014-01-02 -0.010687  0.013776
93103   18163 2014-01-03 -0.001118  0.013782
93104   18163 2014-01-06  0.002362  0.013785
93105   18163 2014-01-07  0.009673  0.013760
93106   18163 2014-01-08 -0.014493  0.013703
...       ...        ...       ...       ...
94104   18163 2017-12-22  0.005018  0.011160
94105   18163 2017-12-26  0.003799  0.011207
94106   18163 2017-12-27 -0.004109  0.011116
94107   18163 2017-12-28 -0.000326  0.011127
94108   18163 2017-12-29 -0.002064  0.011174

[1007 rows x 4 columns])
(18411,        PERMNO       date       RET     stdev
94109   18411 2014-01-02 -0.010217  0.011259
94110   18411 2014-01-03 -0.005407  0.011267
94111   18411 2014-01-06 -0.001730  0.011278
94112   18411 2014-01-07  0.008911  0.011278
94113   18411 2014-01-08 -0.008832  0.011260
...       ...        ...       ...       ...
95111   18411 2017-12-22 -0.020004  0.013517
95112   18411 2017-12-26 -0.009278  0.013648
95113   18411 2017-12-27  0.000000  0.013649
95114   18411 2017-12-28  0.004787  0.013798
95115   18411 2017-12-29 -0.003935  0.013792

[1007 rows x 4 columns])
(18542,        PERMNO       date       RET  stdev

(64936,        PERMNO       date       RET     stdev
61292   64936 2014-01-02 -0.017159  0.013166
61293   64936 2014-01-03 -0.001101  0.013195
61294   64936 2014-01-06  0.000157  0.013293
61295   64936 2014-01-07  0.018419  0.013390
61296   64936 2014-01-08  0.001082  0.013432
...       ...        ...       ...       ...
62294   64936 2017-12-22 -0.002604  0.013039
62295   64936 2017-12-26 -0.001367  0.013039
62296   64936 2017-12-27  0.004108  0.013098
62297   64936 2017-12-28  0.005083  0.013001
62298   64936 2017-12-29 -0.000123  0.013007

[1007 rows x 4 columns])
(65875,        PERMNO       date       RET  stdev
49208   65875 2014-01-02 -0.002849    NaN
49209   65875 2014-01-03 -0.011837    NaN
49210   65875 2014-01-06  0.005576    NaN
49211   65875 2014-01-07  0.012528    NaN
49212   65875 2014-01-08 -0.005477    NaN
...       ...        ...       ...    ...
50210   65875 2017-12-22  0.003396    NaN
50211   65875 2017-12-26  0.000564    NaN
50212   65875 2017-12-27  0.001127    NaN
50213   65875 2017-12-28  0.002815    NaN
50214   65875 2017-12-29 -0.009358    NaN

[1007 rows x 4 columns])
(66093,        PERMNO       date       RET     stdev
95116   66093 2014-01-02 -0.005973  0.013602
95117   66093 2014-01-03 -0.004292  0.013536
95118   66093 2014-01-06  0.004598  0.013585
95119   66093 2014-01-07 -0.000286  0.013634
95120   66093 2014-01-08 -0.007153  0.013634
...       ...        ...       ...       ...
96118   66093 2017-12-22  0.001543  0.022002
96119   66093 2017-12-26  0.003082  0.022409
96120   66093 2017-12-27 -0.004352  0.022435
96121   66093 2017-12-28  0.007457  0.022749
96122   66093 2017-12-29 -0.007657  0.022766

[1007 rows x 4 columns])
(66157,        PERMNO       date       RET     stdev
9693    66157 2014-01-02 -0.012624  0.022086
9694    66157 2014-01-03  0.004262  0.021861
9695    66157 2014-01-06  0.013230  0.020610
9696    66157 2014-01-07  0.008376  0.020476
9697    66157 2014-01-08  0.003909  0.020367
...       ...        ...       ...       ...
10695   66157 2017-12-22 -0.001284  0.013309
10696   66157 2017-12-26 -0.008263  0.013033
10697   66157 2017-12-27  0.001111  0.013051
10698   66157 2017-12-28  0.003329  0.013171
10699   66157 2017-12-29 -0.006858  0.012708

[1007 rows x 4 columns])
(66181,        PERMNO       date       RET     stdev
26929   66181 2014-01-02 -0.003886  0.010267
26930   66181 2014-01-03 -0.001585  0.010266
26931   66181 2014-01-06 -0.009647  0.010266
26932   66181 2014-01-07  0.004932  0.010286
26933   66181 2014-01-08  0.005276  0.010245
...       ...        ...       ...       ...
27931   66181 2017-12-22  0.000266  0.016927
27932   66181 2017-12-26  0.011853  0.016940
27933   66181 2017-12-27 -0.000893  0.016946
27934   66181 2017-12-28 -0.002156  0.016943
27935   66181 2017-12-29 -0.001317  0.016950

[1007 rows x 4 columns])
(66800,       PERMNO       date       RET     stdev
2644   66800 2014-01-02 -0.006660  0.013295
2645   66800 2014-01-03  0.004141  0.013260
2646   66800 2014-01-06 -0.007855  0.013262
2647   66800 2014-01-07  0.013658  0.013301
2648   66800 2014-01-08  0.011717  0.013269
...      ...        ...       ...       ...
3646   66800 2017-12-22 -0.012816  0.019210
3647   66800 2017-12-26  0.002023  0.019278
3648   66800 2017-12-27  0.001851  0.019310
3649   66800 2017-12-28  0.007726  0.019332
3650   66800 2017-12-29 -0.007000  0.019325

[1007 rows x 4 columns])
(68144,        PERMNO       date       RET     stdev
97130   68144 2014-01-02 -0.007878  0.018514
97131   68144 2014-01-03  0.000821  0.018842
97132   68144 2014-01-06  0.006840  0.019128
97133   68144 2014-01-07  0.004620  0.019158
97134   68144 2014-01-08  0.008115  0.019389
...       ...        ...       ...       ...
98132   68144 2017-12-22  0.003204  0.015368
98133   68144 2017-12-26 -0.007147  0.015437
98134   68144 2017-12-27 -0.001225  0.015410
98135   68144 2017-12-28  0.003527  0.015255
98136   68144 2017-12-29 -0.012989  0.015216

[1007 rows x 4 columns])
(69032,        PERMNO       date       RET     stdev
83032   69032 2014-01-02 -0.010523  0.008861
83033   69032 2014-01-03  0.015469  0.008908
83034   69032 2014-01-06  0.003491  0.008931
83035   69032 2014-01-07 -0.003163  0.008941
83036   69032 2014-01-08  0.001269  0.009089
...       ...        ...       ...       ...
84034   69032 2017-12-22 -0.003026  0.008656
84035   69032 2017-12-26 -0.004742  0.008729
84036   69032 2017-12-27  0.001906  0.008722
84037   69032 2017-12-28  0.001522  0.008855
84038   69032 2017-12-29 -0.003419  0.008803

[1007 rows x 4 columns])
(69761,        PERMNO       date       RET  stdev
46187   69761 2014-01-02 -0.010480    NaN
46188   69761 2014-01-03  0.004459    NaN
46189   69761 2014-01-06  0.011099    NaN
46190   69761 2014-01-07  0.012624    NaN
46191   69761 2014-01-08  0.018970    NaN
...       ...        ...       ...    ...
47189   69761 2017-12-22 -0.005499    NaN
47190   69761 2017-12-26 -0.003687    NaN
47191   69761 2017-12-27  0.000925    NaN
47192   69761 2017-12-28  0.010166    NaN
47193   69761 2017-12-29 -0.002745    NaN

[1007 rows x 4 columns])
(70332,        PERMNO       date       RET  stdev
42159   70332 2014-01-02 -0.009581    NaN
42160   70332 2014-01-03 -0.003182    NaN
42161   70332 2014-01-06  0.000383    NaN
42162   70332 2014-01-07  0.019147    NaN
42163   70332 2014-01-08 -0.010020    NaN
...       ...        ...       ...    ...
43161   70332 2017-12-22  0.018668    NaN
43162   70332 2017-12-26  0.022105    NaN
43163   70332 2017-12-27 -0.005915    NaN
43164   70332 2017-12-28 -0.000372    NaN
43165   70332 2017-12-29 -0.002232    NaN

[1007 rows x 4 columns])
(70519,        PERMNO       date       RET  stdev
56257   70519 2014-01-02  0.003070    NaN
56258   70519 2014-01-03  0.021619    NaN
56259   70519 2014-01-06  0.007678    NaN
56260   70519 2014-01-07  0.006876    NaN
56261   70519 2014-01-08  0.011628    NaN
...       ...        ...       ...    ...
57259   70519 2017-12-22 -0.004352    NaN
57260   70519 2017-12-26 -0.009405    NaN
57261   70519 2017-12-27  0.001471    NaN
57262   70519 2017-12-28  0.002537    NaN
57263   70519 2017-12-29 -0.008924    NaN

[1007 rows x 4 columns])
(71563,        PERMNO       date       RET     stdev
21894   71563 2014-01-02 -0.014737  0.010614
21895   71563 2014-01-03  0.004351  0.010597
21896   71563 2014-01-06  0.013539  0.010585
21897   71563 2014-01-07  0.016030  0.010591
21898   71563 2014-01-08  0.002892  0.010588
...       ...        ...       ...       ...
22896   71563 2017-12-22  0.001191       NaN
22897   71563 2017-12-26 -0.008127       NaN
22898   71563 2017-12-27 -0.001199       NaN
22899   71563 2017-12-28  0.002801       NaN
22900   71563 2017-12-29 -0.007981       NaN

[1007 rows x 4 columns])
(72696,        PERMNO       date       RET     stdev
96123   72696 2014-01-02 -0.003315  0.022661
96124   72696 2014-01-03 -0.005543  0.022840
96125   72696 2014-01-06 -0.016722  0.023033
96126   72696 2014-01-07 -0.006803  0.023134
96127   72696 2014-01-08  0.009132  0.023397
...       ...        ...       ...       ...
97125   72696 2017-12-22  0.004574  0.017704
97126   72696 2017-12-26 -0.001751  0.018185
97127   72696 2017-12-27  0.000000  0.018189
97128   72696 2017-12-28 -0.000351  0.018450
97129   72696 2017-12-29 -0.010355  0.018567

[1007 rows x 4 columns])
(72726,        PERMNO       date       RET     stdev
22901   72726 2014-01-02 -0.003134       NaN
22902   72726 2014-01-03  0.021050       NaN
22903   72726 2014-01-06 -0.000134       NaN
22904   72726 2014-01-07  0.007364       NaN
22905   72726 2014-01-08 -0.002525       NaN
...       ...        ...       ...       ...
23903   72726 2017-12-22 -0.003865  0.012869
23904   72726 2017-12-26 -0.005004  0.012854
23905   72726 2017-12-27  0.002771  0.012853
23906   72726 2017-12-28  0.005322  0.012807
23907   72726 2017-12-29 -0.002036  0.012821

[1007 rows x 4 columns])
(73809,        PERMNO       date       RET     stdev
30611   73809 2014-01-02 -0.015576  0.008574
30612   73809 2014-01-03  0.000791  0.008604
30613   73809 2014-01-06 -0.008696  0.008610
30614   73809 2014-01-07  0.013557  0.008605
30615   73809 2014-01-08  0.003147  0.008606
...       ...        ...       ...       ...
31005   73809 2015-07-28 -0.000701  0.008072
31006   73809 2015-07-29  0.002105  0.008082
31007   73809 2015-07-30  0.002101  0.008090
31008   73809 2015-07-31 -0.007687  0.007991
31009   73809 2015-08-03       NaN  0.008380

[399 rows x 4 columns])
(75064,        PERMNO       date       RET     stdev
12714   75064 2014-01-02 -0.011238  0.012237
12715   75064 2014-01-03  0.000189  0.012256
12716   75064 2014-01-06  0.003788  0.012239
12717   75064 2014-01-07  0.001321  0.012345
12718   75064 2014-01-08 -0.006407  0.012356
...       ...        ...       ...       ...
13716   75064 2017-12-22 -0.011814  0.008708
13717   75064 2017-12-26  0.006832  0.008657
13718   75064 2017-12-27  0.005372  0.008658
13719   75064 2017-12-28 -0.001687  0.008654
13720   75064 2017-12-29 -0.000845  0.008568

[1007 rows x 4 columns])
(75152,        PERMNO       date       RET  stdev
44173   75152 2014-01-02 -0.033076    NaN
44174   75152 2014-01-03 -0.001140    NaN
44175   75152 2014-01-06  0.017123    NaN
44176   75152 2014-01-07  0.035915    NaN
44177   75152 2014-01-08  0.006501    NaN
...       ...        ...       ...    ...
45175   75152 2017-12-22 -0.011958    NaN
45176   75152 2017-12-26  0.000000    NaN
45177   75152 2017-12-27 -0.006051    NaN
45178   75152 2017-12-28 -0.003044    NaN
45179   75152 2017-12-29 -0.001527    NaN

[1007 rows x 4 columns])
(75381,         PERMNO       date       RET     stdev
105186   75381 2014-01-02 -0.037127  0.018844
105187   75381 2014-01-03 -0.009221  0.018749
105188   75381 2014-01-06  0.017767  0.018838
105189   75381 2014-01-07  0.049044  0.018896
105190   75381 2014-01-08  0.006339  0.018903
...        ...        ...       ...       ...
106188   75381 2017-12-22 -0.006928  0.021061
106189   75381 2017-12-26  0.000000  0.021051
106190   75381 2017-12-27 -0.008140  0.021049
106191   75381 2017-12-28 -0.001172  0.021066
106192   75381 2017-12-29 -0.002347  0.021054

[1007 rows x 4 columns])
(75418,         PERMNO       date       RET     stdev
106193   75418 2014-01-02 -0.011193  0.021074
106194   75418 2014-01-03 -0.011834  0.021118
106195   75418 2014-01-06  0.008592  0.021307
106196   75418 2014-01-07  0.001807  0.021431
106197   75418 2014-01-08 -0.000773  0.021473
...        ...        ...       ...       ...
107195   75418 2017-12-22  0.002517  0.020424
107196   75418 2017-12-26  0.000000  0.020406
107197   75418 2017-12-27 -0.004708  0.020712
107198   75418 2017-12-28  0.006938  0.020915
107199   75418 2017-12-29 -0.000940  0.020982

[1007 rows x 4 columns])
(75811,         PERMNO       date       RET     stdev
107200   75811 2014-01-02 -0.016467  0.021000
107201   75811 2014-01-03 -0.001522  0.021333
107202   75811 2014-01-06 -0.001524  0.021568
107203   75811 2014-01-07 -0.003053  0.021631
107204   75811 2014-01-08  0.006126  0.021611
...        ...        ...       ...       ...
108202   75811 2017-12-22  0.012245  0.018261
108203   75811 2017-12-26 -0.012097  0.018276
108204   75811 2017-12-27  0.000000  0.019667
108205   75811 2017-12-28 -0.012245  0.020043
108206   75811 2017-12-29  0.001377  0.020026

[1007 rows x 4 columns])
(76076,        PERMNO       date       RET     stdev
32017   76076 2014-01-02 -0.011592  0.009339
32018   76076 2014-01-03 -0.000909  0.009295
32019   76076 2014-01-06  0.001365  0.009292
32020   76076 2014-01-07  0.013630  0.009372
32021   76076 2014-01-08 -0.000762  0.009500
...       ...        ...       ...       ...
33019   76076 2017-12-22  0.000519  0.015975
33020   76076 2017-12-26 -0.001816  0.015698
33021   76076 2017-12-27  0.002079  0.015703
33022   76076 2017-12-28  0.000778  0.015596
33023   76076 2017-12-29 -0.007515  0.015638

[1007 rows x 4 columns])
(76221,         PERMNO       date       RET     stdev
111484   76221 2014-01-02 -0.018253  0.018764
111485   76221 2014-01-03 -0.005235  0.018766
111486   76221 2014-01-06 -0.028488  0.018755
111487   76221 2014-01-07 -0.017931  0.018762
111488   76221 2014-01-08 -0.002853  0.018741
...        ...        ...       ...       ...
112486   76221 2017-12-22 -0.006224  0.010793
112487   76221 2017-12-26  0.006459  0.010773
112488   76221 2017-12-27  0.006418  0.010764
112489   76221 2017-12-28  0.019517  0.010924
112490   76221 2017-12-29  0.003222  0.010926

[1007 rows x 4 columns])
(76592,         PERMNO       date       RET     stdev
113498   76592 2014-01-02 -0.014877  0.018715
113499   76592 2014-01-03  0.002836  0.018671
113500   76592 2014-01-06 -0.008791  0.018770
113501   76592 2014-01-07 -0.000771  0.018770
113502   76592 2014-01-08 -0.010419  0.018807
...        ...        ...       ...       ...
114500   76592 2017-12-22  0.002870  0.011142
114501   76592 2017-12-26  0.000768  0.011159
114502   76592 2017-12-27  0.003347  0.011160
114503   76592 2017-12-28  0.006186  0.011167
114504   76592 2017-12-29  0.008773  0.011159

[1007 rows x 4 columns])
(77157,         PERMNO       date       RET     stdev
109214   77157 2014-01-02 -0.006987  0.058909
109215   77157 2014-01-03 -0.018857  0.059063
109216   77157 2014-01-06  0.010040  0.059435
109217   77157 2014-01-07  0.004828  0.060923
109218   77157 2014-01-08 -0.001696  0.060937
...        ...        ...       ...       ...
110216   77157 2017-12-22  0.001350  0.017666
110217   77157 2017-12-26 -0.009438  0.017724
110218   77157 2017-12-27 -0.008167  0.017793
110219   77157 2017-12-28  0.014639  0.017984
110220   77157 2017-12-29 -0.000451  0.017980

[1007 rows x 4 columns])
(77178,        PERMNO       date       RET     stdev
33024   77178 2014-01-02 -0.012525  0.015484
33025   77178 2014-01-03 -0.005865  0.015493
33026   77178 2014-01-06 -0.002607  0.015379
33027   77178 2014-01-07  0.007428  0.015214
33028   77178 2014-01-08  0.006008  0.015097
...       ...        ...       ...       ...
34026   77178 2017-12-22  0.005280  0.021284
34027   77178 2017-12-26 -0.006643  0.021070
34028   77178 2017-12-27  0.003732  0.021052
34029   77178 2017-12-28 -0.002479  0.020638
34030   77178 2017-12-29 -0.005592  0.020633

[1007 rows x 4 columns])
(77274,        PERMNO       date       RET     stdev
34031   77274 2014-01-02  0.001465  0.020620
34032   77274 2014-01-03 -0.011834  0.020559
34033   77274 2014-01-06 -0.014532  0.020307
34034   77274 2014-01-07 -0.006281  0.019992
34035   77274 2014-01-08  0.009343  0.019889
...       ...        ...       ...       ...
35033   77274 2017-12-22 -0.004245  0.017202
35034   77274 2017-12-26 -0.000138  0.016909
35035   77274 2017-12-27  0.003852  0.016908
35036   77274 2017-12-28 -0.006851  0.016855
35037   77274 2017-12-29 -0.011589  0.016831

[1007 rows x 4 columns])
(77462,         PERMNO       date       RET     stdev
110477   77462 2014-01-02 -0.000187  0.009304
110478   77462 2014-01-03  0.002810  0.009372
110479   77462 2014-01-06 -0.007284  0.009373
110480   77462 2014-01-07 -0.018250  0.009364
110481   77462 2014-01-08 -0.006516  0.009396
...        ...        ...       ...       ...
111479   77462 2017-12-22  0.003911  0.018860
111480   77462 2017-12-26  0.045968  0.018830
111481   77462 2017-12-27 -0.045065  0.018827
111482   77462 2017-12-28  0.003120  0.018803
111483   77462 2017-12-29 -0.020606  0.018782

[1007 rows x 4 columns])
(77661,        PERMNO       date       RET     stdev
35038   77661 2014-01-02 -0.021953  0.016821
35039   77661 2014-01-03 -0.003665  0.016789
35040   77661 2014-01-06 -0.022069  0.016698
35041   77661 2014-01-07  0.003291  0.016663
35042   77661 2014-01-08  0.011246  0.016600
...       ...        ...       ...       ...
36040   77661 2017-12-22 -0.001963  0.016977
36041   77661 2017-12-26  0.002754  0.016963
36042   77661 2017-12-27  0.000981  0.016734
36043   77661 2017-12-28  0.006272  0.016373
36044   77661 2017-12-29 -0.005259  0.016376

[1007 rows x 4 columns])
(77730,        PERMNO       date       RET     stdev
23908   77730 2014-01-02 -0.008667  0.012821
23909   77730 2014-01-03  0.007537  0.012834
23910   77730 2014-01-06 -0.006583  0.012840
23911   77730 2014-01-07  0.003313  0.012863
23912   77730 2014-01-08  0.018313  0.012878
...       ...        ...       ...       ...
24910   77730 2017-12-22 -0.006654  0.014978
24911   77730 2017-12-26  0.013768  0.014947
24912   77730 2017-12-27 -0.003059  0.014947
24913   77730 2017-12-28  0.000859  0.014948
24914   77730 2017-12-29 -0.005886  0.014990

[1007 rows x 4 columns])
(78877,        PERMNO       date       RET     stdev
36045   78877 2014-01-02 -0.019160  0.016373
36046   78877 2014-01-03 -0.007513  0.016011
36047   78877 2014-01-06 -0.008327  0.015702
36048   78877 2014-01-07  0.004198  0.015645
36049   78877 2014-01-08 -0.017484  0.015645
...       ...        ...       ...       ...
37047   78877 2017-12-22  0.002604  0.018941
37048   78877 2017-12-26  0.038961  0.018941
37049   78877 2017-12-27 -0.030000  0.018855
37050   78877 2017-12-28  0.041237  0.018648
37051   78877 2017-12-29 -0.019802  0.018499

[1007 rows x 4 columns])
(78977,        PERMNO       date       RET     stdev
37052   78977 2014-01-02 -0.017441  0.018502
37053   78977 2014-01-03 -0.006967  0.018433
37054   78977 2014-01-06 -0.003842  0.018418
37055   78977 2014-01-07  0.027335  0.018420
37056   78977 2014-01-08 -0.016161  0.018304
...       ...        ...       ...       ...
37624   78977 2016-04-12  0.000512  0.016567
37625   78977 2016-04-13  0.010577  0.016591
37626   78977 2016-04-14 -0.004220  0.016590
37627   78977 2016-04-15 -0.000339  0.016540
37628   78977 2016-04-18       NaN  0.016548

[577 rows x 4 columns])
(79210,         PERMNO       date       RET     stdev
114505   79210 2014-01-02 -0.025061  0.011188
114506   79210 2014-01-03  0.003048  0.011279
114507   79210 2014-01-06  0.004227  0.011257
114508   79210 2014-01-07  0.012891  0.011265
114509   79210 2014-01-08 -0.000909  0.011303
...        ...        ...       ...       ...
115507   79210 2017-12-22 -0.000516  0.014329
115508   79210 2017-12-26  0.006449  0.014335
115509   79210 2017-12-27  0.000641  0.014335
115510   79210 2017-12-28  0.003074  0.014292
115511   79210 2017-12-29 -0.004596  0.014292

[1007 rows x 4 columns])
(79363,         PERMNO       date       RET     stdev
115512   79363 2014-01-02 -0.013475  0.014280
115513   79363 2014-01-03  0.004951  0.014278
115514   79363 2014-01-06  0.000510  0.014280
115515   79363 2014-01-07 -0.006453  0.014283
115516   79363 2014-01-08  0.000171  0.014265
...        ...        ...       ...       ...
116514   79363 2017-12-22  0.005084  0.009733
116515   79363 2017-12-26  0.001190  0.009700
116516   79363 2017-12-27  0.002080  0.009702
116517   79363 2017-12-28  0.011566  0.009702
116518   79363 2017-12-29  0.017297  0.009760

[1007 rows x 4 columns])
(80072,        PERMNO       date       RET     stdev
24915   80072 2014-01-02 -0.014822  0.015043
24916   80072 2014-01-03 -0.006018  0.015077
24917   80072 2014-01-06 -0.005045  0.015123
24918   80072 2014-01-07  0.020284  0.015130
24919   80072 2014-01-08  0.001988  0.015141
...       ...        ...       ...       ...
25917   80072 2017-12-22 -0.007826  0.012402
25918   80072 2017-12-26 -0.001753  0.012405
25919   80072 2017-12-27 -0.007902  0.012358
25920   80072 2017-12-28  0.003540  0.012172
25921   80072 2017-12-29 -0.010582  0.012165

[1007 rows x 4 columns])
(80112,        PERMNO       date       RET     stdev
37629   80112 2014-01-02 -0.007648  0.016586
37630   80112 2014-01-03  0.007707  0.016561
37631   80112 2014-01-06 -0.019120  0.016554
37632   80112 2014-01-07  0.001949  0.016547
37633   80112 2014-01-08 -0.003891  0.016551
...       ...        ...       ...       ...
38483   80112 2017-05-24 -0.004082  0.011507
38484   80112 2017-05-25 -0.006831  0.011650
38485   80112 2017-05-26 -0.006878  0.011662
38486   80112 2017-05-30 -0.031856  0.011657
38487   80112 2017-05-31       NaN  0.011674


In [45]:
dfstdev1= dfstdev.rename(columns={'RET':'st_dev'})

In [9]:
dfstdev1.keys()

Index(['st_dev'], dtype='object')

In [101]:
#stdev = dfstdev1['st_dev']

In [106]:
#dffull = dfret1.join(stdev)

ValueError: cannot join with no overlapping index names

In [46]:
dfstdev1 = dfstdev1.reset_index(level=0)

In [33]:
dfstdev1

        PERMNO    st_dev
108207   10145       NaN
108208   10145       NaN
108209   10145       NaN
108210   10145       NaN
108211   10145       NaN
...        ...       ...
146987   93013  0.010455
146988   93013  0.010445
146989   93013  0.010446
146990   93013  0.010463
146991   93013  0.010431

[155597 rows x 2 columns]

In [32]:
dfstdev1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155597 entries, 108207 to 146991
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PERMNO  155597 non-null  int64
 1   st_dev  126497 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 3.6 MB

In [71]:
#dfstdev = dfstdev.dropna()

In [66]:
#dfstdev.get_groups(10145) #get a group

In [134]:
#dfstdev1 = dfstdev.to_frame() #change series to df

In [47]:
left = dfret1
left.columns

Index(['PERMNO', 'date', 'RET'], dtype='object')

In [48]:
right = dfstdev1
right.columns

Index(['PERMNO', 'st_dev'], dtype='object')

In [23]:
full_data = pd.merge(left, right, on = 'PERMNO', how = 'left')

KeyboardInterrupt:

In [45]:
full_data

           PERMNO       date       RET    st_dev
0           10145 2014-01-02 -0.011492       NaN
1           10145 2014-01-02 -0.011492       NaN
2           10145 2014-01-02 -0.011492       NaN
3           10145 2014-01-02 -0.011492       NaN
4           10145 2014-01-02 -0.011492       NaN
...           ...        ...       ...       ...
152965670   93013 2017-12-29  0.002696  0.010455
152965671   93013 2017-12-29  0.002696  0.010445
152965672   93013 2017-12-29  0.002696  0.010446
152965673   93013 2017-12-29  0.002696  0.010463
152965674   93013 2017-12-29  0.002696  0.010431

[152965675 rows x 4 columns]

In [49]:
data = pd.concat([dfret1, dfstdev1], axis=1,)
data

        PERMNO       date       RET  PERMNO    st_dev
108207   10145 2014-01-02 -0.011492   10145       NaN
108208   10145 2014-01-03  0.002214   10145       NaN
108209   10145 2014-01-06 -0.000994   10145       NaN
108210   10145 2014-01-07  0.004092   10145       NaN
108211   10145 2014-01-08 -0.003965   10145       NaN
...        ...        ...       ...     ...       ...
146987   93013 2017-12-22  0.001886   93013  0.010455
146988   93013 2017-12-26 -0.001345   93013  0.010445
146989   93013 2017-12-27  0.006642   93013  0.010446
146990   93013 2017-12-28 -0.007936   93013  0.010463
146991   93013 2017-12-29  0.002696   93013  0.010431

[155597 rows x 5 columns]

In [ ]:
dg

In [ ]:
dfret.set_index('date').groupby('PERMNO')['RET'].resample('A').rolling(180).st()

1c

downloaded data using gvkey and compustat

In [99]:
df1c= pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\1c_lev.csv')
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,NaN,A,6.16
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,NaN,A,6.34
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,NaN,NaN,NaN,NaN,A,6.75
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,NaN,A,6.44
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,NaN,NaN,NaN,NaN,A,7.27

In [100]:
df1c = df1c.fillna(0) #filled missing entries with 0

In [ ]:
#book leverage = (DLTTQ + LCTQ) / ATQ
#Market leverage = (DLTTQ + LCTQ) / (PRCCQ * CSHOQ)

In [101]:
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,0.0,A,6.16
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,0.0,A,6.34
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,0.000,0.000,0.000,0.0,A,6.75
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,0.0,A,6.44
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,0.000,0.000,0.000,0.0,A,7.27

In [102]:
df1c['Book_lev'] = (df1c['dlttq'] + df1c['lctq'])/df1c['atq']
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq,Book_lev
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31,0.465044
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97,0.455399
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69,0.471121
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57,0.485137
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05,0.503504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,0.0,A,6.16,0.084823
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,0.0,A,6.34,0.088576
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,0.000,0.000,0.000,0.0,A,6.75,NaN
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,0.0,A,6.44,0.100309
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,0.000,0.000,0.000,0.0,A,7.27,NaN

In [103]:
df1c['Market_lev'] = (df1c['dlttq'] + df1c['lctq'])/(df1c['prccq'] + df1c['cshoq'])
df1c

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq,Book_lev,Market_lev
0,1300,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,45357.000,781.707,5661.000,15432.0,A,104.31,0.465044,23.806541
1,1300,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,46412.000,781.762,5562.000,15574.0,A,101.97,0.455399,23.916753
2,1300,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,46625.000,770.691,5599.000,16367.0,A,94.69,0.471121,25.383039
3,1300,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,49316.000,770.400,5554.000,18371.0,A,103.57,0.485137,27.375082
4,1300,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,50365.000,762.115,9700.000,15659.0,A,112.05,0.503504,29.009398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851,252940,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,2586542.894,13429.631,219398.261,0.0,A,6.16,0.084823,16.329389
1852,252940,2017-03-31,2016,4,INDL,C,D,STD,USD,2017Q1,2016Q4,2722353.780,13429.944,241134.298,0.0,A,6.34,0.088576,17.946502
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,0.000,0.000,0.000,0.0,A,6.75,NaN,0.000000
1854,252940,2017-09-30,2017,2,INDL,C,D,STD,USD,2017Q3,2017Q2,2666912.107,13289.784,267516.335,0.0,A,6.44,0.100309,20.119722
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,0.000,0.000,0.000,0.0,A,7.27,NaN,0.000000

In [104]:
df1c.loc[df1c['Market_lev'] == 0]

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,curcdq,datacqtr,datafqtr,atq,cshoq,dlttq,lctq,costat,prccq,Book_lev,Market_lev
1220,14894,2015-06-30,2015,1,INDL,C,D,STD,USD,2015Q2,2015Q1,0.000,0.000,0.0,0.0,A,36.45,NaN,0.0
1222,14894,2015-12-31,2015,3,INDL,C,D,STD,USD,2015Q4,2015Q3,0.000,0.000,0.0,0.0,A,32.26,NaN,0.0
1224,14894,2016-06-30,2016,1,INDL,C,D,STD,USD,2016Q2,2016Q1,0.000,0.000,0.0,0.0,A,30.89,NaN,0.0
1226,14894,2016-12-31,2016,3,INDL,C,D,STD,USD,2016Q4,2016Q3,0.000,0.000,0.0,0.0,A,24.43,NaN,0.0
1228,14894,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,0.000,0.000,0.0,0.0,A,28.73,NaN,0.0
1230,14894,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,0.000,0.000,0.0,0.0,A,31.90,NaN,0.0
1255,15509,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,2669724.000,3826.508,0.0,0.0,A,42.59,0.0,0.0
1257,15509,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,2548523.000,3826.508,0.0,0.0,A,37.88,0.0,0.0
1259,15509,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,2595666.000,3920.703,0.0,0.0,A,31.12,0.0,0.0
1261,15509,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,2557261.000,3920.703,0.0,0.0,A,37.61,0.0,0.0
1263,15509,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,2416467.000,3967.556,0.0,0.0,A,40.82,0.0,0.0
1265,15509,2017-09-30,2017,3,INDL,C,D,STD,USD,2017Q3,2017Q3,2526214.000,3967.556,0.0,0.0,A,49.41,0.0,0.0
1329,18636,2015-03-31,2015,3,INDL,C,D,STD,USD,2015Q1,2015Q3,0.000,0.000,0.0,0.0,A,110.57,NaN,0.0
1331,18636,2015-09-30,2016,1,INDL,C,D,STD,USD,2015Q3,2016Q1,0.000,0.000,0.0,0.0,A,107.79,NaN,0.0
1333,18636,2016-03-31,2016,3,INDL,C,D,STD,USD,2016Q1,2016Q3,0.000,0.000,0.0,0.0,A,107.87,NaN,0.0
1335,18636,2016-09-30,2017,1,INDL,C,D,STD,USD,2016Q3,2017Q1,0.000,0.000,0.0,0.0,A,116.04,NaN,0.0
1337,18636,2017-03-31,2017,3,INDL,C,D,STD,USD,2017Q1,2017Q3,0.000,0.000,0.0,0.0,A,115.58,NaN,0.0
1339,18636,2017-09-30,2018,1,INDL,C,D,STD,USD,2017Q3,2018Q1,0.000,0.000,0.0,0.0,A,132.13,NaN,0.0
1345,19565,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,0.000,0.000,0.0,0.0,A,41.40,NaN,0.0
1347,19565,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,0.000,0.000,0.0,0.0,A,33.82,NaN,0.0
1349,19565,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,0.000,0.000,0.0,0.0,A,28.27,NaN,0.0
1351,19565,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,0.000,0.000,0.0,0.0,A,33.40,NaN,0.0
1353,19565,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,0.000,0.000,0.0,0.0,A,40.68,NaN,0.0
1355,19565,2017-09-30,2017,3,INDL,C,D,STD,USD,2017Q3,2017Q3,0.000,0.000,0.0,0.0,A,47.19,NaN,0.0
1517,29613,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,2383.021,72.472,0.0,0.0,I,4.80,0.0,0.0
1518,29613,2015-06-30,2015,2,INDL,C,D,STD,USD,2015Q2,2015Q2,2418.487,72.849,0.0,0.0,I,5.18,0.0,0.0
1519,29613,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,2468.273,72.789,0.0,0.0,I,5.41,0.0,0.0
1520,29613,2015-12-31,2015,4,INDL,C,D,STD,USD,2015Q4,2015Q4,2468.029,72.793,0.0,0.0,I,6.07,0.0,0.0
1521,29613,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,2982.005,72.775,0.0,0.0,I,5.71,0.0,0.0
1522,29613,2016-06-30,2016,2,INDL,C,D,STD,USD,2016Q2,2016Q2,2966.574,73.255,0.0,0.0,I,5.54,0.0,0.0
1523,29613,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,3174.821,76.263,0.0,0.0,I,6.06,0.0,0.0
1524,29613,2016-12-31,2016,4,INDL,C,D,STD,USD,2016Q4,2016Q4,3079.058,76.262,0.0,0.0,I,8.12,0.0,0.0
1525,29613,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,3136.672,76.263,0.0,0.0,I,7.71,0.0,0.0
1820,241216,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,0.000,0.000,0.0,0.0,I,67.81,NaN,0.0
1822,241216,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,0.000,0.000,0.0,0.0,I,63.78,NaN,0.0
1824,241216,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,0.000,0.000,0.0,0.0,I,82.82,NaN,0.0
1826,241216,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,0.000,0.000,0.0,0.0,I,87.60,NaN,0.0
1828,241216,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,0.000,0.000,0.0,0.0,I,88.50,NaN,0.0
1830,241216,2017-09-30,2017,3,INDL,C,D,STD,USD,2017Q3,2017Q3,0.000,0.000,0.0,0.0,I,92.06,NaN,0.0
1832,241637,2015-03-31,2015,1,INDL,C,D,STD,USD,2015Q1,2015Q1,0.000,0.000,0.0,0.0,A,121.91,NaN,0.0
1834,241637,2015-09-30,2015,3,INDL,C,D,STD,USD,2015Q3,2015Q3,0.000,0.000,0.0,0.0,A,106.32,NaN,0.0
1836,241637,2016-03-31,2016,1,INDL,C,D,STD,USD,2016Q1,2016Q1,0.000,1606.342,0.0,0.0,A,124.66,NaN,0.0
1838,241637,2016-09-30,2016,3,INDL,C,D,STD,USD,2016Q3,2016Q3,0.000,1607.742,0.0,0.0,A,131.41,NaN,0.0
1840,241637,2017-03-31,2017,1,INDL,C,D,STD,USD,2017Q1,2017Q1,0.000,1933.702,0.0,0.0,A,109.76,NaN,0.0
1842,241637,2017-09-30,2017,3,INDL,C,D,STD,USD,2017Q3,2017Q3,0.000,1933.702,0.0,0.0,A,119.30,NaN,0.0
1853,252940,2017-06-30,2017,1,INDL,C,D,STD,USD,2017Q2,2017Q1,0.000,0.000,0.0,0.0,A,6.75,NaN,0.0
1855,252940,2017-12-31,2017,3,INDL,C,D,STD,USD,2017Q4,2017Q3,0.000,0.000,0.0,0.0,A,7.27,NaN,0.0

1d

In [ ]:
dfrating=pd.read_csv(r'C:\Users\Henry\OneDrive\Desktop\ACF\AcF351b\acf_351b_python_data.csv')
dfrating.head()